/*----------------------------*/
/* ACCORDION */
/*----------------------------*/

.accordion {
  @apply
  overflow-hidden
  ;
  &:not([class*='rounded']) {
    @apply
    rounded
    ;
  }

  > .accordion-item {
    @apply
    overflow-ellipsis
    ;

    &:not(:first-child) {
      @apply
      border-t
      border-ui-700
      ;
    }
  }
  .accordion-header {
    @apply
    px-4
    py-3
    leading-none
    font-headings
    uppercase
    text-ui-300
    flex
    gap-2
    items-center
    select-none
    ;
    > .accordion-title {
      @apply
      overflow-ellipsis
      flex-1
      ;

      > span {
        @apply
        whitespace-nowrap
        ;
      }
    }
    .icon[class*='down']{
      @apply
      transition
      transform-gpu
      duration-500
      text-ui-400
      ease-[cubic-bezier(.7,0,.3,1)]
      ;
    }
  }
  .accordion-collapse {
    @apply
    overflow-hidden
    transition-all
    transform-gpu
    duration-500
    ease-[cubic-bezier(.7,0,.3,1)]
    ;

    > div {
      @apply
      border-t
      border-ui-700
      ;
    }
  }

  .accordion-item {
    &:hover {
      [aria-controls] {
        @apply
        cursor-pointer
        transition-all
        duration-200
        ease-[cubic-bezier(.7,0,.3,1)]
        ;
    
        &:not([disabled]),
        &:not(.is-disabled) {
          &:hover,
          &:focus-visible {
            @apply 
            opacity-100
            ;
          }
          
        }
      }
      &:not(.is-active) {
        .accordion-header {
          @apply
          text-ui-200
          bg-ui-700/25
          ;
        }
      }
    }

    &.is-active {
      .accordion-header {
        @apply
        text-interaction-500
        bg-ui-700
        ;
        .icon[class*='down']{
          @apply
          text-ui-200
          -rotate-180
          ;
        }
      }
      .accordion-collapse {
        ul.menu {
          > li {
            @apply
            animate-[carousel-list-slidein_0.6s_cubic-bezier(0.7,0,0.4,1)_forwards]
            translate-y-2
            opacity-0
            ;
            &:nth-child(1) {
              @apply
              animation-delay-100
              ;
            }
            &:nth-child(2) {
              @apply
              animation-delay-200
              ;
            }
            &:nth-child(3) {
              @apply
              animation-delay-300
              ;
            }
            &:nth-child(4) {
              @apply
              animation-delay-400
              ;
            }
            &:nth-child(5) {
              @apply
              animation-delay-500
              ;
            }
            &:nth-child(6) {
              @apply
              animation-delay-600
              ;
            }
            &:nth-child(7) {
              @apply
              animation-delay-700
              ;
            }
            &:nth-child(8) {
              @apply
              animation-delay-800
              ;
            }
            &:nth-child(9) {
              @apply
              animation-delay-900
              ;
            }
          }
        }
      }
    }
  }
}

.accordion-sm {
  .accordion-header {
    @apply
    p-1
    ;
  }
}

@keyframes accordion-list-slidein {
  from {
    transform: translateY(0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}