/*----------------------------*/
/* ACHIEVEMENTS */
/*----------------------------*/

.achievement {
  @apply
  rounded-sm
  bg-ui-900/50 
  flex 
  flex-col
  items-center 
  justify-center 
  relative
  drop-shadow
  select-none
  aspect-square
  w-full
  border
  border-ui-700
  transform-gpu
  ;

  > i {
    &::before,
    &::after {
      @apply
      content-['']
      block
      absolute
      w-4
      h-4
      border-ui-600
      ;
    }
    &:nth-of-type(1) {
      &::before {
        @apply
        top-1
        left-1
        border-t
        border-l
        animate-[achievement-corner-tl_0.6s_cubic-bezier(.9,0,.5,1)_both_1.6s]
        ;
      }
      &::after {
        @apply
        top-1
        right-1
        border-t
        border-r
        animate-[achievement-corner-tr_0.6s_cubic-bezier(.9,0,.5,1)_both_1.6s]
        ;
      }
    }
    &:nth-of-type(2) {
      &::before {
        @apply
        bottom-1
        left-1
        border-b
        border-l
        animate-[achievement-corner-bl_0.6s_cubic-bezier(.9,0,.5,1)_both_1.6s]
        ;
      }
      &::after {
        @apply
        bottom-1
        right-1
        border-b
        border-r
        animate-[achievement-corner-br_0.6s_cubic-bezier(.9,0,.5,1)_both_1.6s]
        ;
      }
    }
  }
}

@keyframes achievement-corner-tr {
  0% {
    opacity: 0;
    transform: translate(0.25rem, -0.25rem)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}
@keyframes achievement-corner-br {
  0% {
    opacity: 0;
    transform: translate(0.25rem, 0.25rem)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}
@keyframes achievement-corner-tl {
  0% {
    opacity: 0;
    transform: translate(-0.25rem, -0.25rem)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}
@keyframes achievement-corner-bl {
  0% {
    opacity: 0;
    transform: translate(-0.25rem, 0.25rem)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}

.achievement-level-0 > * {
  filter: brightness(0) saturate(100%) invert(14%) sepia(20%) saturate(985%) hue-rotate(194deg) brightness(91%) contrast(92%);
}
.achievement-level-1 > * {
  filter: brightness(0) saturate(100%) invert(53%) sepia(17%) saturate(565%) hue-rotate(339deg) brightness(94%) contrast(92%);
}
.achievement-level-2 > * {
  filter: brightness(0) saturate(100%) invert(57%) sepia(11%) saturate(1783%) hue-rotate(316deg) brightness(97%) contrast(85%);
}
.achievement-level-3 > * {
  filter: brightness(0) saturate(100%) invert(80%) sepia(10%) saturate(107%) hue-rotate(178deg) brightness(96%) contrast(86%);
}
.achievement-level-4 > * {
  filter: brightness(0) saturate(100%) invert(69%) sepia(42%) saturate(649%) hue-rotate(4deg) brightness(89%) contrast(83%);
}
.achievement-level-5 > * {
  filter: brightness(0) saturate(100%) invert(83%) sepia(100%) saturate(4522%) hue-rotate(317deg) brightness(100%) contrast(91%);
}

.text-achievement-level-0 {
  @apply
  text-ui-400
  ;
}
.text-achievement-level-1 {
  @apply
  text-bronze-500
  ;
}
.text-achievement-level-2 {
  @apply
  text-currency-2-700
  ;
}
.text-achievement-level-3 {
  @apply
  text-silver-300
  ;
}
.text-achievement-level-4 {
  @apply
  text-gold-700
  ;
}
.text-achievement-level-5 {
  @apply
  text-gold-500
  ;
}

[class*="achievement-level-"] {
  @apply
  flex
  items-center
  justify-center
  relative
  w-3/4
  ;
  &::before,
  &::after {
    filter: none;
  }
  &[data-tooltip] {
    &::after {
      @apply
      bottom-[85%]
      ;
    }
  }
}