/*----------------------------*/
/* ACHIEVEMENTS */
/*----------------------------*/

.achievement {
  @apply
  rounded-sm
  bg-ui-900/50 
  flex 
  flex-col
  items-center 
  justify-between 
  relative
  drop-shadow
  select-none
  aspect-square
  w-full
  border
  border-ui-700
  transform-gpu
  text-ui-300
  text-center
  leading-none
  p-3
  ;

  > i {
    @apply
    absolute
    inset-0
    ;
    &::before,
    &::after {
      @apply
      content-['']
      block
      absolute
      w-4
      h-4
      border-ui-600
      ;
    }
    &:nth-of-type(1) {
      &::before {
        @apply
        top-1
        left-1
        border-t
        border-l
        animate-[achievement-corner-tl_0.6s_cubic-bezier(.9,0,.5,1)_both_1.6s]
        ;
      }
      &::after {
        @apply
        top-1
        right-1
        border-t
        border-r
        animate-[achievement-corner-tr_0.6s_cubic-bezier(.9,0,.5,1)_both_1.6s]
        ;
      }
    }
    &:nth-of-type(2) {
      &::before {
        @apply
        bottom-1
        left-1
        border-b
        border-l
        animate-[achievement-corner-bl_0.6s_cubic-bezier(.9,0,.5,1)_both_1.6s]
        ;
      }
      &::after {
        @apply
        bottom-1
        right-1
        border-b
        border-r
        animate-[achievement-corner-br_0.6s_cubic-bezier(.9,0,.5,1)_both_1.6s]
        ;
      }
    }
  }

  &.is-completed {
    @apply
    border-ui-400/50
    shadow-[inset_0_0_1.5rem_0_rgba(255,255,255,0.12)]
    ;

    > i {
      &::before,
      &::after {
        @apply
        border-ui-400/50
        ;
      }
    }
    /*
    [class*=achievement-level-] {
      > * {
        filter: brightness(0) saturate(100%) invert(3%) sepia(6%) saturate(5055%) hue-rotate(188deg) brightness(96%) contrast(100%);
      }
    }
    */
  }

  > span {
    @apply
    line-clamp-2
    ;
  }
}

@keyframes achievement-corner-tr {
  0% {
    opacity: 0;
    transform: translate(0.25rem, -0.25rem)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}
@keyframes achievement-corner-br {
  0% {
    opacity: 0;
    transform: translate(0.25rem, 0.25rem)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}
@keyframes achievement-corner-tl {
  0% {
    opacity: 0;
    transform: translate(-0.25rem, -0.25rem)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}
@keyframes achievement-corner-bl {
  0% {
    opacity: 0;
    transform: translate(-0.25rem, 0.25rem)
  }
  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}

.achievement-level-0 > * {
  filter: brightness(0) saturate(100%) invert(13%) sepia(8%) saturate(2714%) hue-rotate(195deg) brightness(99%) contrast(91%);
}
.achievement-level-1 > * {
  filter: brightness(0) saturate(100%) invert(54%) sepia(12%) saturate(284%) hue-rotate(194deg) brightness(94%) contrast(89%);
}
.achievement-level-2 > * {
  filter: brightness(0) saturate(100%) invert(53%) sepia(37%) saturate(276%) hue-rotate(339deg) brightness(90%) contrast(89%);
}
.achievement-level-3 > * {
  filter: brightness(0) saturate(100%) invert(97%) sepia(2%) saturate(1276%) hue-rotate(184deg) brightness(89%) contrast(69%);
}
.achievement-level-4 > * {
  filter: brightness(0) saturate(100%) invert(75%) sepia(92%) saturate(353%) hue-rotate(340deg) brightness(99%) contrast(93%);
}
.achievement-level-5 > * {
  filter: brightness(0) saturate(100%) invert(52%) sepia(39%) saturate(1746%) hue-rotate(324deg) brightness(99%) contrast(103%);
}

.text-achievement-level-0 {
  @apply
  text-ui-500
  ;
}
.text-achievement-level-1 {
  @apply
  text-ui-300
  ;
}
.text-achievement-level-2 {
  @apply
  text-bronze-500
  ;
}
.text-achievement-level-3 {
  @apply
  text-silver-300
  ;
}
.text-achievement-level-4 {
  @apply
  text-gold-500
  ;
}
.text-achievement-level-5 {
  @apply
  text-error-300
  ;
}

[class*="achievement-level-"] {
  @apply
  flex
  items-center
  justify-center
  relative
  w-3/4
  flex-1
  ;
  &::before,
  &::after {
    filter: none;
  }
  &[data-tooltip] {
    &::after {
      @apply
      bottom-[85%]
      ;
    }
  }
}