/*----------------------------*/
/* ALERT */
/*----------------------------*/

.alert-container {
  @apply
  sticky
  top-12
  z-50
  p-1
  space-y-1
  ;

  > * {
    @apply
    flex-1
    ;
  }

  .alert {
    @apply
    max-w-lg
    mx-auto
    ;
  }
}

.alert {
  @apply
  rounded-xl
  w-full
  flex
  justify-between
  items-center
  gap-4
  p-2
  text-ui-200
  bg-ui-700
  border
  border-ui-600
  leading-tight
  ;
  > * {
    @apply
    flex
    gap-4
    items-center
    ;

    :where(.icon, svg, img) {
      @apply
      shrink-0
      ;
    }

    .icon {
      @apply
      text-ui-300
      ;
    }
    svg path:not([fill]) {
      @apply
      fill-ui-300
    }
  }

  a {
    @apply
    underline
    active:no-underline
    outline-offset-2
    focus-visible:outline
    focus-visible:outline-main
    transition-[color,background,transform,opacity]
    duration-200
    ease-in-out
    ;
  }

  .alert-title {
    @apply
    font-bold
    uppercase
    ;
  }

  &.alert-sm {
    @apply
    p-2
    gap-2
    rounded-lg
    ;
    > * {
      @apply
      gap-2
      ;
    }
  }

  &.alert-success, 
  &.alert-info, 
  &.alert-attention, 
  &.alert-error,
  &.alert-green, 
  &.alert-blue, 
  &.alert-orange, 
  &.alert-red {
    @apply
    border-0
    ;
    &,
    > * .icon {
      @apply
      text-ui-800
      ;
    }
    svg path:not([fill]) {
      @apply
      fill-ui-800
    }
  }

  &.alert-success,
  &.alert-green {
    @apply
    bg-success-500
    ;
  }
  &.alert-info,
  &.alert-blue {
    @apply
    bg-info-500
    ;
    
  }
  &.alert-attention,
  &.alert-orange {
    @apply
    bg-attention-500
    ;
    
  }
  &.alert-error,
  &.alert-red {
    @apply
    bg-error-500
    ;
  }
}