/*----------------------------*/
/* ALERT */
/*----------------------------*/

.alert {
  @apply
  rounded-xl
  w-full
  flex
  justify-between
  items-center
  gap-4
  p-4
  text-ui-200
  bg-ui-700
  border
  border-ui-600
  backdrop-blur-sm
  leading-tight
  ;
  > * {
    @apply
    flex
    gap-4
    items-center
    ;

    .icon {
      @apply
      text-ui-300
      ;
    }
  }

  &.alert-green {
    @apply
    border-0
    bg-interaction-500
    ;
    &,
    > * .icon {
      @apply
      text-ui-800
      ;
    }
  }
  &.alert-blue {
    @apply
    border-0
    bg-blue-500
    ;
    &,
    > * .icon {
      @apply
      text-ui-800
      ;
    }
  }
  &.alert-orange {
    @apply
    border-0
    bg-attention-300
    ;
    &,
    > * .icon {
      @apply
      text-ui-800
      ;
    }
  }
  &.alert-red {
    @apply
    border-0
    bg-error-300
    ;
    &,
    > * .icon {
      @apply
      text-ui-800
      ;
    }
  }
}