/*----------------------------*/
/* ANIMATION */
/*----------------------------*/

.perspective {
  perspective: 500px;
}

/* delay */
.animate-delay {
  animation-delay: var(--delay, 0.3s) !important;
}
.transition-delay {
  transition-delay: var(--delay, 0.3s) !important;
}
.child\:animate-delay {
  > * {
    --momentum: 0.033s;
    &:nth-child(1) {
      animation-delay: calc(1 * var(--momentum, 0.05s));
    }
    &:nth-child(2) {
      animation-delay: calc(2 * var(--momentum, 0.05s));
    }
    &:nth-child(3) {
      animation-delay: calc(3 * var(--momentum, 0.05s));
    }
    &:nth-child(4) {
      animation-delay: calc(4 * var(--momentum, 0.05s));
    }
    &:nth-child(5) {
      animation-delay: calc(5 * var(--momentum, 0.05s));
    }
    &:nth-child(6) {
      animation-delay: calc(6 * var(--momentum, 0.05s));
    }
    &:nth-child(7) {
      animation-delay: calc(7 * var(--momentum, 0.05s));
    }
    &:nth-child(8) {
      animation-delay: calc(8 * var(--momentum, 0.05s));
    }
    &:nth-child(9) {
      animation-delay: calc(9 * var(--momentum, 0.05s));
    }
    &:nth-child(10) {
      animation-delay: calc(10 * var(--momentum, 0.05s));
    }
    &:nth-child(11) {
      animation-delay: calc(11 * var(--momentum, 0.05s));
    }
    &:nth-child(12) {
      animation-delay: calc(12 * var(--momentum, 0.05s));
    }
    &:nth-child(13) {
      animation-delay: calc(13 * var(--momentum, 0.05s));
    }
    &:nth-child(14) {
      animation-delay: calc(14 * var(--momentum, 0.05s));
    }
    &:nth-child(15) {
      animation-delay: calc(15 * var(--momentum, 0.05s));
    }
    &:nth-child(16) {
      animation-delay: calc(16 * var(--momentum, 0.05s));
    }
    &:nth-child(17) {
      animation-delay: calc(17 * var(--momentum, 0.05s));
    }
    &:nth-child(18) {
      animation-delay: calc(18 * var(--momentum, 0.05s));
    }
    &:nth-child(19) {
      animation-delay: calc(19 * var(--momentum, 0.05s));
    }
    &:nth-child(20) {
      animation-delay: calc(20 * var(--momentum, 0.05s));
    }
    &:nth-child(21) {
      animation-delay: calc(21 * var(--momentum, 0.05s));
    }
    &:nth-child(22) {
      animation-delay: calc(22 * var(--momentum, 0.05s));
    }
    &:nth-child(23) {
      animation-delay: calc(23 * var(--momentum, 0.05s));
    }
    &:nth-child(24) {
      animation-delay: calc(24 * var(--momentum, 0.05s));
    }
    &:nth-child(25) {
      animation-delay: calc(25 * var(--momentum, 0.05s));
    }
    &:nth-child(26) {
      animation-delay: calc(26 * var(--momentum, 0.05s));
    }
    &:nth-child(27) {
      animation-delay: calc(27 * var(--momentum, 0.05s));
    }
    &:nth-child(28) {
      animation-delay: calc(28 * var(--momentum, 0.05s));
    }
    &:nth-child(29) {
      animation-delay: calc(29 * var(--momentum, 0.05s));
    }
    &:nth-child(30) {
      animation-delay: calc(30 * var(--momentum, 0.05s));
    }
  }
}

/* iteration count */
.animate-infinite {
  animation-iteration-count: infinite;
}

/* flip */ 
.flip {
  @apply
  relative
  transition-transform
  duration-[1.25s]
  ease-[cubic-bezier(0.8,0,0.2,1)]
  ;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  
  > * {
    @apply
    absolute
    w-full
    h-full
    ;
    backface-visibility: hidden;
  }

  > .flip-front {
    @apply
    z-20
    ;
  }
  > .flip-back {
    @apply
    z-10
    ;
    transform: translate3d(0,0,0) rotateY(180deg) rotateX(0deg);
  }

  &:not(.animate-flip) {
    transform: translate3d(0,0,0) rotateY(0deg) rotateX(0deg);
  }

  &.animate-flip {
    transform: translate3d(0,0,0) rotateY(180deg) rotateX(0deg);
  }

  &.animate-delay {
    transition-delay: var(--delay, 0.3s) !important;
  }
}

.flip.flip-vertical {
  > .flip-back {
    transform: translate3d(0,0,0) rotateX(180deg) rotateY(0deg);
  }

  &:not(.animate-flip) {
    transform: translate3d(0,0,0) rotateX(0deg) rotateY(0deg);
  }

  &.animate-flip {
    transform: translate3d(0,0,0) rotateX(180deg) rotateY(0deg);
  }

  &.animate-delay {
    transition-delay: var(--delay, 0.3s) !important;
  }
}

.lottie-blur {
  @apply
  drop-shadow-main-lg
  pointer-events-none
  ;

  &.rarity-category-1 {
    @apply
    opacity-50
    ;
    filter: brightness(0) saturate(100%) invert(60%) sepia(7%) saturate(721%) hue-rotate(194deg) brightness(86%) contrast(83%);
  }
  &.rarity-category-2 {
    filter: brightness(0) saturate(100%) invert(74%) sepia(88%) saturate(3965%) hue-rotate(185deg) brightness(108%) contrast(102%);
  }
  &.rarity-category-3 {
    @apply
    opacity-75
    ;
    filter: brightness(0) saturate(100%) invert(42%) sepia(24%) saturate(1909%) hue-rotate(317deg) brightness(112%) contrast(100%);
  }
  &.rarity-category-4 {
    filter: brightness(0) saturate(100%) invert(62%) sepia(84%) saturate(311%) hue-rotate(342deg) brightness(103%) contrast(100%);
  }
}
.lottie-premium {
  @apply
  drop-shadow-premium
  ;
}

.animate-paused {
  animation-play-state: paused !important;
}
.animate-running,
.animate-paused.animate-running {
  animation-play-state: running !important;
}

/* info banner */

.infobanner {
  @apply
  relative
  ;
  > .infobanner-front {
    @apply
    relative
    z-0
    ;
  }
  > .infobanner-back {
    @apply
    absolute
    z-0
    inset-0
    w-full
    hidden
    items-center
    select-none
    pointer-events-none
    ;
    > * {
      @apply
      translate-y-4
      opacity-0
      ;
    }
  }

  &.is-active {
    > .infobanner-front {
      @apply
      animate-[infobar-front_5s_cubic-bezier(0.3,0,0.3,1)_infinite]
      ;
    }
    > .infobanner-back {
      @apply
      flex
      ;
      > * {
        @apply
        animate-[infobar-back_5s_cubic-bezier(0.3,0,0.3,1)_infinite]
        ;
      }
    }
  }
}

@keyframes infobar-front {
  0%, 15%, 85%, 100% {
    opacity: 1;
  }
  35%, 65% {
    opacity: 0;
  }
}
@keyframes infobar-back {
  0%, 20%, 80%, 100% {
    transform: translate3d(0, 1rem, 0);
    opacity: 0;
  }
  40%, 60% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* revealer */

.revealer {
  @apply
  relative
  w-full
  ;

  > * {
    @apply
    transition-all
    duration-700
    ;
  }
  > .revealer-front {
    @apply
    absolute
    z-0
    inset-0
    flex
    items-center
    justify-center
    scale-100
    opacity-100
    ease-[cubic-bezier(1,0,.2,1)]
    ;
  }
  > .revealer-transition {
    @apply
    absolute
    z-40
    inset-0
    grid
    place-content-center
    pointer-events-none
    select-none
    animate-fade-out
    ;

    & + .revealer-back {
      @apply
      delay-[0ms]
      ;
    }
    &.rarity-category-1 {
      animation-delay: 900ms;
      & + .revealer-back {
        @apply
        delay-[800ms]
        ;
      }
    }
    &.rarity-category-2 {
      animation-delay: 1300ms;
      & + .revealer-back {
        @apply
        delay-[1100ms]
        ;
      }
    }
    &.rarity-category-3 {
      animation-delay: 1600ms;
      & + .revealer-back {
        @apply
        delay-[1400ms]
        ;
      }
    }
    &.rarity-category-4 {
      animation-delay: 2600ms;
      & + .revealer-back {
        @apply
        delay-[2400ms]
        ;
      }
    }
  }
  > .revealer-back {
    @apply
    relative
    z-10
    pointer-events-none
    scale-125
    opacity-0
    ease-[cubic-bezier(1,0,.2,1)]
    brightness-[2000%]
    ;
  }
  
  &.is-active {
    > .revealer-front {
      @apply
      pointer-events-none
      scale-0
      opacity-0
      ease-[cubic-bezier(1,0,.2,1)]
      brightness-50
      ;
    }
    > .revealer-back {
      @apply
      pointer-events-auto
      scale-100
      opacity-100
      ease-[cubic-bezier(1,0,.2,1)]
      brightness-100
      ;
    }
  }
}

/* blockreveal */

.blockreveal {
  @apply
  relative
  origin-center
  animate-blockreveal
  before:animate-blockreveal-before
  before:content-['']
  before:absolute
  before:z-10
  before:inset-0
  before:bg-ui-100
  before:origin-left
  ;

  > * {
    @apply
    relative
    z-0
    opacity-0
    animate-blockreveal-content
    ;
  }

  &.animate-delay {
    &,
    &::before,
    > * {
      animation-delay: var(--delay, 0.3s) !important;
    }
  }

  &.animate-paused {
    &,
    &::before,
    > * {
      animation-play-state: paused !important;
    }
  }

  &.animate-running,
  &.animate-paused.animate-running {
    &,
    &::before,
    > * {
      animation-play-state: running !important;
    }
  }
}

/* no anim */

.noanimation {
  [class*="animate-"],
  .header > .header-bg,
  .chat-reaction {
    animation: none !important;
  }
}

/* easter egg */

.animate-flythrough {
  animation: flythrough 10s linear 0s infinite forwards;
}

@keyframes flythrough {
  from {
    transform: scale(1.5) translateX(-100%);
  }
  to {
    transform: scale(1.5) translateX(100%);
  }
}

/* cash in */

.cash-in {
  @apply
  absolute
  top-0
  inset-x-0
  opacity-0
  ;

  &.is-active {
    @apply
    animate-cash-in
    ;
  }
}


/* reduced motion */ 
@layer components {
  .reduced-motion {
    .is-shining::before,
    .is-shining::after,
    .tooltip-attention::before,
    .card-mission.card-secondary.is-highlighted .card-bg::before,
    .infobanner.is-active > .infobanner-front,
    .infobanner.is-active > .infobanner-back > *,
    .battlepass-step.is-current .battlepass-content::before,
    .progresscontainer > *:nth-child(1)::before,
    .animate-pulse,
    .animate-rotate,
    .animate-bounce,
    .animate-heartbeat,
    .animate-drop-in,
    .animate-bounce-right,
    .animate-bounce-left,
    .animate-bounce-bottom,
    .animate-floating,
    .animate-text-attention,
    .battlepass-next,
    .battlepass-previous {
      animation-play-state: paused !important;
    }
  }
  .normal-motion {
    .is-shining::before,
    .is-shining::after,
    .tooltip-attention::before,
    .card-mission.card-secondary.is-highlighted .card-bg::before,
    .infobanner.is-active > .infobanner-front,
    .infobanner.is-active > .infobanner-back > *,
    .battlepass-step.is-current .battlepass-content::before,
    .progresscontainer > *:nth-child(1)::before,
    .animate-pulse,
    .animate-rotate,
    .animate-bounce,
    .animate-heartbeat,
    .animate-drop-in,
    .animate-bounce-right,
    .animate-bounce-left,
    .animate-bounce-bottom,
    .animate-floating,
    .animate-text-attention,
    .battlepass-next,
    .battlepass-previous {
      animation-play-state: running !important;
    }
  }
}