/*----------------------------*/
/* AVATAR */
/*----------------------------*/

.avatar {
  @apply
  block
  relative
  h-24
  w-24
  bg-gradient-to-b
  from-ui-100
  via-ui-300
  to-ui-100
  shadow-[inset_0_0_0_1px_rgba(var(--color-ui-100)/0.5)]
  ;

  > span {
    @apply
    absolute
    z-10
    inset-1
    bg-cover
    bg-center
    bg-ui-700
    shadow-[0_0_0_1px_rgba(var(--color-ui-100)/0.5)]
    ;
  }

  /* shape */

  &:not(.avatar-rounded) {
    &,
    > span {
      @apply
      rounded-full
      ;
    }  
  }

  &.avatar-square {
    @apply
    rounded-xl
    ;
    > span {
      @apply
      rounded-[calc(0.75rem-0.25rem)]
      ;
    }  
  }

  &.avatar-diamond {

    @apply
    h-24
    w-[calc(6rem-0.75rem)]
    ;

    &,
    > span {
      @apply
      rounded-none
      ;
      clip-path: polygon(50% 0, 100% 22%, 100% 78%, 50% 100%, 0 78%, 0 22%);
    }
    
  }

  /* size */

  &.avatar-md {
    @apply
    h-20
    w-20
    ;
    > span {
      @apply
      inset-[0.2rem]
      ;
    }
    &.avatar-square {
      @apply
      rounded-lg
      ;
      > span {
        @apply
        rounded-[calc(0.5rem-0.2rem)]
        ;
      }  
    }
    &.avatar-diamond {
      @apply
      w-[calc(5rem-0.5rem)]
      ;
    }
  }
  &.avatar-sm {
    @apply
    h-16
    w-16
    ;
    > span {
      @apply
      inset-[0.15rem]
      ;
    }
    &.avatar-square {
      @apply
      rounded-lg
      ;
      > span {
        @apply
        rounded-[calc(0.5rem-0.15rem)]
        ;
      }  
    }
    &.avatar-diamond {
      @apply
      w-[calc(4rem-0.5rem)]
      ;
    }
  }
  &.avatar-xs {
    @apply
    h-12
    w-12
    ;
    > span {
      @apply
      inset-[0.125rem]
      ;
    }
    &.avatar-square {
      @apply
      rounded-lg
      ;
      > span {
        @apply
        rounded-[calc(0.5rem-0.125rem)]
        ;
      }  
    }
    &.avatar-diamond {
      @apply
      w-[calc(3rem-0.5rem)]
      ;
    }
  }
  &.avatar-tiny {
    @apply
    h-[30px]
    w-[30px]
    ;
    > span {
      @apply
      inset-[0.1rem]
      ;
    }
    &.avatar-square {
      @apply
      rounded
      ;
      > span {
        @apply
        rounded-[calc(0.25rem-0.1rem)]
        ;
      }  
    }
    &.avatar-diamond {
      @apply
      w-[calc(2rem-0.25rem)]
      ;
    }
  }

  /* rank */

  &.avatar-gold {
    @apply
    from-gold-300
    via-gold-700
    to-gold-300
    shadow-[inset_0_0_0_1px_rgb(var(--color-gold-300))]
    ;
    > span {
      @apply
      bg-gold-700
      shadow-[inset_0_0_0_1px_rgb(var(--color-gold-300))]
      ;
    }
  }
  &.avatar-silver {
    @apply
    from-silver-300
    via-silver-700
    to-silver-300
    shadow-[inset_0_0_0_1px_rgb(var(--color-silver-300))]
    ;
    > span {
      @apply
      bg-silver-700
      shadow-[inset_0_0_0_1px_rgb(var(--color-silver-300))]
      ;
    }
  }
  &.avatar-bronze {
    @apply
    from-bronze-300
    via-bronze-700
    to-bronze-300
    shadow-[inset_0_0_0_1px_rgb(var(--color-bronze-300))]
    ;
    > span {
      @apply
      bg-bronze-700
      shadow-[inset_0_0_0_1px_rgb(var(--color-bronze-300))]
      ;
    }
  }

  /* rank */

  > i {
    @apply
    absolute
    z-20
    rounded-full
    border-4
    border-ui-800
    bottom-0.5
    right-0.5
    h-7
    w-7
    bg-success-300
    ;

    &.disabled {
      @apply
      bg-silver-500
      ;
    }
    &.error {
      @apply
      bg-error-500
      ;
    }
    &.attention {
      @apply
      bg-attention-500
      ;
    }
    &.info {
      @apply
      bg-info-500
      ;
    }
  }

  &.avatar-md {
    > i {
      @apply
      bottom-[0.1rem]
      right-[0.1rem]
      h-[1.5rem]
      w-[1.5rem]
      ;
    }
  }
  &.avatar-sm {
    > i {
      @apply
      bottom-[0.05rem]
      right-[0.05rem]
      h-[1.25rem]
      w-[1.25rem]
      ;
    }
  }
  &.avatar-xs {
    > i {
      @apply
      bottom-[0rem]
      right-[0rem]
      h-[1rem]
      w-[1rem]
      ;
    }
  }
  &.avatar-tiny {
    > i {
      @apply
      -bottom-[0.1rem]
      -right-[0.1rem]
      h-[1rem]
      w-[1rem]
      ;
    }
  }

  /* simple */

  &.avatar-simple {
    @apply
    from-ui-800/0
    via-ui-800/0
    to-ui-800/0
    shadow-[inset_0_0_0_1px_rgba(var(--color-ui-100)/0)]
    ;
    > span {
      @apply
      inset-0
      shadow-[inset_0_0_0_1px_rgba(var(--color-ui-100)/0)]
      ;
    }

    > i {
      @apply
      translate-x-[0.15rem]
      translate-y-[0.15rem]
      ;
    }
  }


  /* radar */

  > i {
    &.radar {
      @apply
      z-0
      inset-0
      border-0
      w-full
      h-full
      transform-gpu
      animate-[avatar-radar_2s_cubic-bezier(0.5,0,0.5,1)_infinite]
      ;
    }
  }

}
@keyframes avatar-radar {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.2);
    opacity: 0;
  }
}