/*----------------------------*/
/* AVATAR */
/*----------------------------*/

.avatar {
  --inner-padding-one: 0.5rem;
  --inner-padding-two: 0.5rem/2;
  @apply
  block
  relative
  h-24
  w-24
  ;

  > div {
    @apply
    absolute
    z-10
    inset-0
    bg-gradient-to-b
    from-ui-100
    via-ui-300
    to-ui-100
    overflow-hidden
    transform-gpu
    ;

    > * {
      @apply
      absolute
      z-0
      object-cover
      bg-ui-800
      flex
      items-center
      justify-center
      ;
      &:not([class*="text-"]) {
        @apply
        text-ui-400
        text-4xl
        ;
      }
    }
    
    &.icon {
      @apply
      text-ui-300/50
      text-center
      flex
      items-center
      justify-center
      text-4xl
      ;
      &::before {
        @apply
        absolute
        ;
      }
    }
  }

  &:not([class*=rounded]):not(.avatar-circle):not(.avatar-squircle):not(.avatar-diamond):not(.avatar-hexagon) {
    > div {
      @apply
      rounded-[calc(var(--inner-padding-one)*2)]
      ;
      > * {
        @apply
        rounded-[calc((var(--inner-padding-one)*2)-calc(var(--inner-padding-two)))]
        ;
      }
    }
  }
  > div {
    > * {
      @apply
      inset-[calc(var(--inner-padding-one)/2)]
      w-[calc(100%-var(--inner-padding-one))]
      h-[calc(100%-var(--inner-padding-one))]
      ;
      ;
    }
  }

  /* size */

  &.avatar-xl {
    --inner-padding-one: 0.6rem;
    --inner-padding-two: 0.6rem/2;
    @apply
    h-32
    w-32
    ;
    > div {
      > * {
        & {
          @apply
          text-4xl
          ;
        }
      }
    }
  }
  &.avatar-lg {
    --inner-padding-one: 0.5rem;
    --inner-padding-two: 0.5rem/2;
    @apply
    h-24
    w-24
    ;
    > div {
      > * {
        & {
          @apply
          text-3xl
          ;
        }
      }
    }
  }
  &.avatar-md {
    --inner-padding-one: 0.3rem;
    --inner-padding-two: 0.3rem/2;
    @apply
    h-20
    w-20
    ;
    > div {
      > * {
        & {
          @apply
          text-2xl
          ;
        }
      }
    }
  }
  &.avatar-sm {
    --inner-padding-one: 0.25rem;
    --inner-padding-two: 0.25rem/2;
    @apply
    h-14
    w-14
    ;
    > div {
      > * {
        & {
          @apply
          text-xl
          ;
        }
      }
    }
  }
  &.avatar-xs {
    --inner-padding-one: 0.2rem;
    --inner-padding-two: 0.2rem/2;
    @apply
    h-8
    w-8
    ;
    > div {
      > * {
        & {
          @apply
          text-sm
          ;
        }
      }
    }
  }
  &.avatar-tiny {
    --inner-padding-one: 0.15rem;
    --inner-padding-two: 0.15rem/2;
    @apply
    h-7
    w-7
    ;
    > div {
      > * {
        & {
          @apply
          text-xs
          ;
        }
      }
    }
  }

  /* rank */

  &.avatar-gold > div {
    @apply
    from-gold-300
    via-gold-700
    to-gold-300
    ;
  }
  &.avatar-silver > div {
    @apply
    from-silver-300
    via-silver-700
    to-silver-300
    ;
  }
  &.avatar-bronze > div {
    @apply
    from-bronze-300
    via-bronze-700
    to-bronze-300
    ;
  }

  /* rank */

  > i {
    @apply
    absolute
    z-20
    rounded-full
    border-4
    border-ui-800
    bottom-0.5
    right-0.5
    h-7
    w-7
    bg-main
    ;

    &.disabled {
      @apply
      bg-silver-500
      ;
    }
    &.error {
      @apply
      bg-error-500
      ;
    }
    &.attention {
      @apply
      bg-attention-500
      ;
    }
    &.info {
      @apply
      bg-info-500
      ;
    }
  }

  &.avatar-md {
    > i {
      @apply
      bottom-[0.1rem]
      right-[0.1rem]
      h-[1.5rem]
      w-[1.5rem]
      ;
    }
  }
  &.avatar-sm {
    > i {
      @apply
      bottom-[0.05rem]
      right-[0.05rem]
      h-[1.25rem]
      w-[1.25rem]
      ;
    }
  }
  &.avatar-xs {
    > i {
      @apply
      bottom-[0rem]
      right-[0rem]
      h-[1rem]
      w-[1rem]
      ;
    }
  }
  &.avatar-tiny {
    > i {
      @apply
      -bottom-[0.1rem]
      -right-[0.1rem]
      h-[1rem]
      w-[1rem]
      ;
    }
  }

  /* simple */

  &.avatar-simple {
    > div {
      @apply
      from-ui-800/0
      via-ui-800/0
      to-ui-800/0
      ;
      > * {
        @apply
        inset-0
        w-full
        h-full
        ;
      }
    }
    > i {
      @apply
      translate-x-[0.15rem]
      translate-y-[0.15rem]
      ;
    }

    &[class*=rounded]{
      > div,
      > div * {
        @apply
        rounded-none
        ;
      }
    }
  }


  /* radar */

  > i {
    &.radar {
      @apply
      z-0
      inset-0
      border-0
      w-full
      h-full
      transform-gpu
      animate-[avatar-radar_2s_cubic-bezier(0.5,0,0.5,1)_infinite]
      ;
    }
  }

}
@keyframes avatar-radar {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}

:where(.avatar > div, .avatar > div > *) {
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}

:where(.avatar-circle > div, .avatar-circle > div > *, .avatar-group > .avatar > div, .avatar-group > .avatar > div > *) {
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iMTAwIiBjeT0iMTAwIiByPSIxMDAiIGZpbGw9ImJsYWNrIi8+PC9zdmc+);
}

:where(.avatar-squircle > div, .avatar-squircle > div > *) {
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KCiAgPHBhdGggZD0iTSAxMDAgMCBDIDIwIDAgMCAyMCAwIDEwMCBDIDAgMTgwIDIwIDIwMCAxMDAgMjAwIEMgMTgwIDIwMCAyMDAgMTgwIDIwMCAxMDAgQyAyMDAgMjAgMTgwIDAgMTAwIDAgWiIvPgoKPC9zdmc+);
}

:where(.avatar-diamond > div, .avatar-diamond > div > *) {
  mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTgycHgiIGhlaWdodD0iMjAxcHgiIHZpZXdCb3g9IjAgMCAxODIgMjAxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA2MC4xICg4ODEzMykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+aGV4YWdvbjwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwYXRoIGQ9Ik01NS43ODU3ODg5LDE5MS40MDAyMDkgQzQ2LjU5MDM4NjYsMTkxLjQwMDIwOSAzNS43MjMwOTMsMTg0LjcxMjY0NCAzMC43MDc0MTksMTc3LjE4OTEzMyBMLTUuMjM4MjQ0NTEsMTE1LjMyOTE1NCBDLTEwLjI1MzkxODUsMTA2Ljk2OTY5NyAtMTAuMjUzOTE4NSw5NC40MzA1MTIgLTUuMjM4MjQ0NTEsODYuMDcxMDU1NCBMMzAuNzA3NDE5LDI0LjIxMTA3NjMgQzM1LjcyMzA5MywxNS44NTE2MTk2IDQ2LjU5MDM4NjYsMTAgNTUuNzg1Nzg4OSwxMCBMMTI2Ljg0MTE3LDEwIEMxMzYuMDM2NTczLDEwIDE0Ni45MDM4NjYsMTYuNjg3NTY1MyAxNTEuOTE5NTQsMjQuMjExMDc2MyBMMTg3Ljg2NTIwNCw4Ni4wNzEwNTU0IEMxOTIuMDQ0OTMyLDk0LjQzMDUxMiAxOTIuMDQ0OTMyLDEwNi45Njk2OTcgMTg3Ljg2NTIwNCwxMTUuMzI5MTU0IEwxNTEuOTE5NTQsMTc3LjE4OTEzMyBDMTQ3LjczOTgxMiwxODUuNTQ4NTg5IDEzNi4wMzY1NzMsMTkxLjQwMDIwOSAxMjYuODQxMTcsMTkxLjQwMDIwOSBMNTUuNzg1Nzg4OSwxOTEuNDAwMjA5IFoiIGlkPSJoZXhhZ29uIiBmaWxsPSIjMDAwMDAwIiBmaWxsLXJ1bGU9Im5vbnplcm8iIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkxLjAwMDAwMCwgMTAwLjcwMDEwNCkgcm90YXRlKC0yNzAuMDAwMDAwKSB0cmFuc2xhdGUoLTkxLjAwMDAwMCwgLTEwMC43MDAxMDQpICI+PC9wYXRoPgogICAgPC9nPgo8L3N2Zz4=);
}

:where(.avatar-hexagon > div, .avatar-hexagon > div > *) {
  mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjAwcHgiIGhlaWdodD0iMTgycHgiIHZpZXdCb3g9IjAgMCAyMDAgMTgyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPCEtLSBHZW5lcmF0b3I6IFNrZXRjaCA2MC4xICg4ODEzMykgLSBodHRwczovL3NrZXRjaC5jb20gLS0+CiAgICA8dGl0bGU+aGV4YWdvbi0yPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTY0Ljc4NTc4ODksMTgxLjQwMDIwOSBDNTUuNTkwMzg2NiwxODEuNDAwMjA5IDQ0LjcyMzA5MywxNzQuNzEyNjQ0IDM5LjcwNzQxOSwxNjcuMTg5MTMzIEwzLjc2MTc1NTQ5LDEwNS4zMjkxNTQgQy0xLjI1MzkxODUsOTYuOTY5Njk3IC0xLjI1MzkxODUsODQuNDMwNTEyIDMuNzYxNzU1NDksNzYuMDcxMDU1NCBMMzkuNzA3NDE5LDE0LjIxMTA3NjMgQzQ0LjcyMzA5Myw1Ljg1MTYxOTY0IDU1LjU5MDM4NjYsMCA2NC43ODU3ODg5LDAgTDEzNS44NDExNywwIEMxNDUuMDM2NTczLDAgMTU1LjkwMzg2Niw2LjY4NzU2NTMxIDE2MC45MTk1NCwxNC4yMTEwNzYzIEwxOTYuODY1MjA0LDc2LjA3MTA1NTQgQzIwMS4wNDQ5MzIsODQuNDMwNTEyIDIwMS4wNDQ5MzIsOTYuOTY5Njk3IDE5Ni44NjUyMDQsMTA1LjMyOTE1NCBMMTYwLjkxOTU0LDE2Ny4xODkxMzMgQzE1Ni43Mzk4MTIsMTc1LjU0ODU4OSAxNDUuMDM2NTczLDE4MS40MDAyMDkgMTM1Ljg0MTE3LDE4MS40MDAyMDkgTDY0Ljc4NTc4ODksMTgxLjQwMDIwOSBaIiBpZD0iaGV4YWdvbi0yIiBmaWxsPSIjMDAwMDAwIiBmaWxsLXJ1bGU9Im5vbnplcm8iPjwvcGF0aD4KICAgIDwvZz4KPC9zdmc+);
}

/* avatar group */

.avatar-group {
  @apply
  flex
  ;
  > .avatar {
    &,
    & > *,
    & > * > * {
      @apply
      rounded-full
      ;
    }
    > * {
      @apply
      w-full
      h-full
      p-0
      ;
      
    }
  }
}

/* responsive sizes */

@media only screen and (min-width: 640px) {
	.avatar {
    &.sm\:avatar-xl {
      --inner-padding-one: 0.6rem;
      --inner-padding-two: 0.6rem/2;
      @apply
      h-32
      w-32
      ;
      > div {
        > * {
          & {
            @apply
            text-4xl
            ;
          }
        }
      }
    }
    &.sm\:avatar-lg {
      --inner-padding-one: 0.6rem;
      --inner-padding-two: 0.6rem/2;
      @apply
      h-24
      w-24
      ;
      > div {
        > * {
          & {
            @apply
            text-3xl
            ;
          }
        }
      }
    }
    &.sm\:avatar-md {
      --inner-padding-one: 0.3rem;
      --inner-padding-two: 0.3rem/2;
      @apply
      h-20
      w-20
      ;
      > div {
        > * {
          & {
            @apply
            text-2xl
            ;
          }
        }
      }
    }
    &.sm\:avatar-sm {
      --inner-padding-one: 0.25rem;
      --inner-padding-two: 0.25rem/2;
      @apply
      h-14
      w-14
      ;
      > div {
        > * {
          & {
            @apply
            text-xl
            ;
          }
        }
      }
    }
    &.sm\:avatar-xs {
      --inner-padding-one: 0.2rem;
      --inner-padding-two: 0.2rem/2;
      @apply
      h-8
      w-8
      ;
      > div {
        > * {
          & {
            @apply
            text-sm
            ;
          }
        }
      }
    }
    &.sm\:avatar-tiny {
      --inner-padding-one: 0.15rem;
      --inner-padding-two: 0.15rem/2;
      @apply
      h-7
      w-7
      ;
      > div {
        > * {
          & {
            @apply
            text-xs
            ;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
	.avatar {
    &.md\:avatar-xl {
      --inner-padding-one: 0.6rem;
      --inner-padding-two: 0.6rem/2;
      @apply
      h-32
      w-32
      ;
      > div {
        > * {
          & {
            @apply
            text-4xl
            ;
          }
        }
      }
    }
    &.md\:avatar-lg {
      --inner-padding-one: 0.6rem;
      --inner-padding-two: 0.6rem/2;
      @apply
      h-24
      w-24
      ;
      > div {
        > * {
          & {
            @apply
            text-3xl
            ;
          }
        }
      }
    }
    &.md\:avatar-md {
      --inner-padding-one: 0.3rem;
      --inner-padding-two: 0.3rem/2;
      @apply
      h-20
      w-20
      ;
      > div {
        > * {
          & {
            @apply
            text-2xl
            ;
          }
        }
      }
    }
    &.md\:avatar-sm {
      --inner-padding-one: 0.25rem;
      --inner-padding-two: 0.25rem/2;
      @apply
      h-14
      w-14
      ;
      > div {
        > * {
          & {
            @apply
            text-xl
            ;
          }
        }
      }
    }
    &.md\:avatar-xs {
      --inner-padding-one: 0.2rem;
      --inner-padding-two: 0.2rem/2;
      @apply
      h-8
      w-8
      ;
      > div {
        > * {
          & {
            @apply
            text-sm
            ;
          }
        }
      }
    }
    &.md\:avatar-tiny {
      --inner-padding-one: 0.15rem;
      --inner-padding-two: 0.15rem/2;
      @apply
      h-7
      w-7
      ;
      > div {
        > * {
          & {
            @apply
            text-xs
            ;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
	.avatar {
    &.lg\:avatar-xl {
      --inner-padding-one: 0.6rem;
      --inner-padding-two: 0.6rem/2;
      @apply
      h-32
      w-32
      ;
      > div {
        > * {
          & {
            @apply
            text-4xl
            ;
          }
        }
      }
    }
    &.lg\:avatar-lg {
      --inner-padding-one: 0.6rem;
      --inner-padding-two: 0.6rem/2;
      @apply
      h-24
      w-24
      ;
      > div {
        > * {
          & {
            @apply
            text-3xl
            ;
          }
        }
      }
    }
    &.lg\:avatar-md {
      --inner-padding-one: 0.3rem;
      --inner-padding-two: 0.3rem/2;
      @apply
      h-20
      w-20
      ;
      > div {
        > * {
          & {
            @apply
            text-2xl
            ;
          }
        }
      }
    }
    &.lg\:avatar-sm {
      --inner-padding-one: 0.25rem;
      --inner-padding-two: 0.25rem/2;
      @apply
      h-14
      w-14
      ;
      > div {
        > * {
          & {
            @apply
            text-xl
            ;
          }
        }
      }
    }
    &.lg\:avatar-xs {
      --inner-padding-one: 0.2rem;
      --inner-padding-two: 0.2rem/2;
      @apply
      h-8
      w-8
      ;
      > div {
        > * {
          & {
            @apply
            text-sm
            ;
          }
        }
      }
    }
    &.lg\:avatar-tiny {
      --inner-padding-one: 0.15rem;
      --inner-padding-two: 0.15rem/2;
      @apply
      h-7
      w-7
      ;
      > div {
        > * {
          & {
            @apply
            text-xs
            ;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
	.avatar {
    &.xl\:avatar-xl {
      --inner-padding-one: 0.6rem;
      --inner-padding-two: 0.6rem/2;
      @apply
      h-32
      w-32
      ;
      > div {
        > * {
          & {
            @apply
            text-4xl
            ;
          }
        }
      }
    }
    &.xl\:avatar-lg {
      --inner-padding-one: 0.6rem;
      --inner-padding-two: 0.6rem/2;
      @apply
      h-24
      w-24
      ;
      > div {
        > * {
          & {
            @apply
            text-3xl
            ;
          }
        }
      }
    }
    &.xl\:avatar-md {
      --inner-padding-one: 0.3rem;
      --inner-padding-two: 0.3rem/2;
      @apply
      h-20
      w-20
      ;
      > div {
        > * {
          & {
            @apply
            text-2xl
            ;
          }
        }
      }
    }
    &.xl\:avatar-sm {
      --inner-padding-one: 0.25rem;
      --inner-padding-two: 0.25rem/2;
      @apply
      h-14
      w-14
      ;
      > div {
        > * {
          & {
            @apply
            text-xl
            ;
          }
        }
      }
    }
    &.xl\:avatar-xs {
      --inner-padding-one: 0.2rem;
      --inner-padding-two: 0.2rem/2;
      @apply
      h-8
      w-8
      ;
      > div {
        > * {
          & {
            @apply
            text-sm
            ;
          }
        }
      }
    }
    &.xl\:avatar-tiny {
      --inner-padding-one: 0.15rem;
      --inner-padding-two: 0.15rem/2;
      @apply
      h-7
      w-7
      ;
      > div {
        > * {
          & {
            @apply
            text-xs
            ;
          }
        }
      }
    }
  }
}