/*----------------------------*/
/* BATTLE PASS */
/*----------------------------*/

.battlepass-container {
  @apply
  flex
  flex-col
  justify-center
  items-center
  gap-4
  relative
  ;
  &:not([class*='z-']){
    @apply
    z-10
    ;
  }
  .battlepass-summary {
    @apply
    z-40
    ;
    & ~ * {
      @apply
      hidden
      ;
    }
    > ul {
      @apply
      mb-4
      ;
    }
  }
}

.battlepass-viewer {
  @apply
  flex
  flex-col
  items-center
  justify-center
  gap-4
  text-center
  pb-4
  w-full
  ;  
  &::before {
    @apply
    content-['']
    absolute
    top-28
    z-0
    w-96
    h-96
    bg-gradient-radial
    from-ui-850/90
    to-ui-850/0
    blur-lg
    transform-gpu
    scale-150
  }
  > * {
    @apply
    relative
    z-10
    ;
  }
  .battlepass-reward {
    @apply
    flex
    flex-col
    items-center
    justify-center
    gap-4
    ;
  }
  .battlepass-reward-action {
    @apply
    w-full
    min-h-[2.25rem]
    flex
    flex-col
    gap-2
    xl:grid
    xl:grid-cols-3
    ;
    > *:not(.battlepass-premium) {
      @apply
      col-start-2
      place-self-center
      ;
    }
    > .battlepass-premium {
      @apply
      place-self-center
      xl:place-self-end
      col-start-3
      ;
    }
  }
}

.battlepass-summary {
  @apply
  text-center
  flex
  flex-col
  items-center
  justify-center
  ;

  > div {
    @apply
    bg-ui-850/90
    backdrop-blur-sm
    border
    border-ui-700
    rounded
    ;
    > ul {
      @apply
      flex
      flex-wrap
      items-center
      justify-center
      ;
      > li {
        @apply
        p-6
        xl:px-10
        animate-fire-in
        ;
        animation-delay: calc(var(--delay, 1) * 0.15s);
        &:nth-child(1) {
          --delay: 1;
        }
        &:nth-child(2) {
          --delay: 2;
        }
        &:nth-child(3) {
          --delay: 3;
        }
        &:nth-child(4) {
          --delay: 4;
        }
        &:nth-child(5) {
          --delay: 5;
        }
        &:nth-child(6) {
          --delay: 6;
        }
        &:nth-child(7) {
          --delay: 7;
        }
        &:nth-child(8) {
          --delay: 8;
        }
        &:nth-child(9) {
          --delay: 9;
        }
        .battlepass-reward-image {
          @apply
          relative
          block
          w-20
          h-20
          lg:w-28
          lg:h-28
          overflow-visible
          ;
          > img {
            @apply
            absolute
            z-0
            inset-0
            object-cover
            object-center
            aspect-square
            shadow-none
            ;
          }
        }
        .battlepass-reward-text {
          @apply
          flex
          flex-col
          leading-tight
          mt-4
          ;
          > span {
            &:nth-of-type(1) {
              @apply
              text-sm
              text-ui-300
              uppercase
              ;
            }
            &:nth-of-type(2) {
              @apply
              text-xl
              md:text-4xl
              ;
              &:not([class*=text-]) {
                @apply
                text-main
                ;
              }
            }
          }
        }
        .carousel-control {
          @apply
          -inset-x-7
          ;
        }
        img,
        .carousel-item {
          @apply
          rounded
          mx-auto
          ;
        }
      }
      + div {
        @apply
        animate-slide-in-bottom
        animate-delay
        ;
        animation-delay: calc(10 * 0.15s);
      }
    }
  }
}
.battlepass-reward-profilebanner,
.battlepass-reward-image {
  > i {
    @apply
    z-30
    absolute
    inset-0
    bg-[160%]
    bg-[length:300%_auto]
    animate-[battlepass-shining-rays_3s_cubic-bezier(.7,0,.3,1)_infinite_1.2s]
    bg-[linear-gradient(130deg,_rgba(255,255,255,0)_44%,_rgba(255,255,255,.3)_46%,_rgba(255,255,255,0)_60%,_rgba(255,255,255,.4)_61%,_rgba(255,255,255,0)_70%)]
    bg-no-repeat
    ;
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
  }
}
.battlepass-reward-profilebanner {
  @apply
  flex
  items-center
  justify-center
  h-72
  ;
  > .avatar {
    @apply
    absolute
    z-40
    ;
  }
  > i,
  > img {
    @apply
    rounded
    shadow-xl
    ;
  }
}
.battlepass-reward-image {
  @apply
  relative
  w-72
  aspect-square
  rounded
  overflow-hidden
  flex
  items-center
  justify-center
  ;
  > img {
    @apply
    shadow-xl
    ;
  }
}
.battlepass-reward-name {
  @apply
  leading-none
  text-3xl
  uppercase
  text-ui-100
  ;
}

.battlepass-reward-info {
  @apply
  h-9
  text-center
  flex
  items-center
  justify-center
  ;
}

.battlepass-nav-container {
  @apply
  flex
  items-center
  justify-center
  gap-2
  ;
}

.battlepass-nav {
  @apply
  flex
  items-center
  justify-center
  rounded-full
  bg-ui-700
  border
  border-ui-600
  text-center
  text-sm
  select-none
  ;

  > span {
    @apply
    min-w-[4.5rem]
    ;
  }
}

.battlepass {
  @apply
  flex
  gap-4
  pt-5
  ;
}

.battlepass-step {
  @apply
  w-32
  flex
  flex-col
  items-stretch
  gap-2
  relative
  ;

  &:hover {
    .battlepass-content {
      @apply
      border-ui-400
      ;
      .battlepass-decoration {
        &::before {
          @apply
          bg-ui-400
          text-ui-900
          ;
        }
      }
    }
  }
  &:active {
    .battlepass-content {
      @apply
      border-ui-600
      ;
      .battlepass-decoration {
        &::before {
          @apply
          bg-ui-600
          ;
        }
      }
    }
  }

  .battlepass-info {
    @apply
    order-2
    ;
    > .progressbar {
      &::before {
        @apply
        content-['']
        absolute
        left-1/2
        h-full
        w-px
        bg-ui-700
        z-10
        ;
      }
      > div {
        @apply
        transition-none
        ;
      }
    }
    > .progressbar,
    > .progressbar > * {
      @apply
      rounded-[0.125rem]
      ;
    }
  }

  .battlepass-content {
    @apply
    order-1
    bg-ui-800
    border-2
    border-ui-600
    rounded
    aspect-square
    cursor-pointer
    relative
    outline
    -outline-offset-2
    outline-1
    outline-interaction-500/0
    focus-visible:outline
    focus-visible:outline-offset-2
    focus-visible:outline-1
    transition-[box-shadow]
    duration-100
    ease-in-out
    ;
    .battlepass-decoration {
      @apply
      absolute
      inset-0
      ;
      &:not([class*=text-]) {
        @apply
        text-left
        ;
      }
      > span {
        @apply
        absolute
        z-20
        bottom-0
        inset-x-0
        bg-ui-900/75
        text-ui-300
        uppercase
        text-sm
        px-2
        py-1
        leading-none
        rounded-b
        whitespace-normal
        ;
      }
    }
    .battlepass-body {
      @apply
      overflow-hidden
      rounded
      absolute
      inset-0
      flex
      items-center
      justify-center
      ;
      &::before,
      &::after {
        @apply
        content-['']
        absolute
        rounded
        inset-0
        overflow-hidden
        ;
      }
      &::before {
        @apply
        z-0
        ;
        background: 
        radial-gradient(ellipse at 50% 25%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%), 
        radial-gradient(50% 20% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0.13) 0.01%, rgba(255, 255, 255, 0) 100%);
      }
      &::after {
        @apply
        z-20
        ;
      }
      *:not(img) {
        @apply
        relative
        z-30
        ;
      }
      img {
        @apply
        absolute
        z-10
        inset-0
        object-cover
        object-center
        aspect-square
        ;
      }
      > .button,
      > button,
      > div {
        ~ img {
          @apply
          opacity-10
          ;
        }
      }
    }
  }

  &.is-locked {
    .battlepass-decoration {
      &::before {
        @apply
        absolute
        top-0
        right-0
        z-50
        font-icon
        content-['\ea12']
        w-[42px]
        h-[42px]
        pr-1
        text-right
        leading-6
        bg-ui-600
        text-ui-200
        ;
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        ;
      }
    }
  }

  &.is-premium {
    &::before {
      @apply
      content-['premium']
      text-ui-900
      absolute
      z-30
      h-5
      top-[calc(-1.25rem_+_1px)]
      left-0
      text-sm
      leading-3
      uppercase
      py-1
      pl-1.5
      pr-5
      rounded-tl
      transition-[box-shadow]
      duration-100
      ease-in-out
      ;
      clip-path: polygon(0 0, calc(100% - 1.25rem) 0, 100% 100%, 0 100%);
    }
    .battlepass-content {
      @apply
      rounded-tl-none
      ;
    }
    .battlepass-decoration::before {
      @apply
      text-premium-500
      ;
    }
    &::before {
      @apply
      bg-ui-600
      text-premium-500
      ;
    }
    &:hover {
      &::before {
        @apply
        bg-ui-400
        text-ui-900
        ;
      }
    }
    &:active::before {
      @apply
      bg-ui-600
      ;
    }
  }

  &.is-current {
    .battlepass-content {
      &::before {
        @apply
        content-['']
        z-30
        absolute
        inset-0
        rounded-[calc(0.25rem-2px)]
        bg-[160%]
        bg-[length:300%_auto]
        animate-[battlepass-shining-rays_3s_cubic-bezier(.7,0,.3,1)_infinite_1.2s]
        bg-[linear-gradient(130deg,_rgba(255,255,255,0)_44%,_rgba(255,255,255,.3)_46%,_rgba(255,255,255,0)_60%,_rgba(255,255,255,.4)_61%,_rgba(255,255,255,0)_70%)]
        bg-no-repeat
        shadow-[inset_0_0_2rem_0_rgb(var(--color-main)/50%)]
        ;
      }
      .battlepass-decoration {
        > span {
          @apply
          text-main
          ;
        } 
      }
    }
  }

  &.is-active {
    .battlepass-content {
      @apply
      border-interaction-500
      shadow-[0_0_0_2px_rgb(var(--color-interaction-500))]
      ;
      .battlepass-decoration {
        @apply
        text-interaction-500
        ;
        &::before {
          @apply
          bg-interaction-500
          text-ui-900
          ;
        }
      }
    }
    &:hover {
      .battlepass-content {
        @apply
        border-interaction-500
        ;
        .battlepass-decoration {
          &::before {
            @apply
            bg-interaction-500
            ;
          }
        }
      }
    }
    &:active {
      .battlepass-content {
        @apply
        border-interaction-700
        ;
        .battlepass-decoration {
          &::before {
            @apply
            bg-interaction-700
            ;
          }
        }
      }
    }
    &.is-premium {
      &::before {
        @apply
        bg-interaction-500
        text-ui-900
        ;
      }
      &:hover::before {
        @apply
        bg-interaction-300
        ;
      }
      &:active::before {
        @apply
        bg-interaction-700
        ;
      }
    }
  }

  &.is-active.is-premium {
    .battlepass-content {
      @apply
      border-premium-500
      shadow-[0_0_0_2px_rgb(var(--color-premium-500))]
      rounded-tl-none
      ;
      .battlepass-decoration {
        @apply
        text-premium-500
        ;
        &::before {
          @apply
          bg-premium-500
          text-ui-900
          ;
        }
      }
      &:hover {
        @apply
        border-premium-300
        ;
        .battlepass-decoration {
          &::before {
            @apply
            bg-premium-300
            ;
          }
        }
      }
      &:active {
        @apply
        border-premium-700
        ;
        .battlepass-decoration {
          &::before {
            @apply
            bg-premium-700
            ;
          }
        }
      }
    }
    &::before {
      @apply
      bg-premium-500
      ;
    }
    &:hover::before {
      @apply
      bg-premium-300
      ;
    }
    &:active::before {
      @apply
      bg-premium-700
      ;
    }
  }

  &.is-bonus {
    .battlepass-content {
      @apply
      border
      rounded-tr-[1.5rem]
      ;
      &::before,
      .battlepass-body,
      .battlepass-body::before {
        @apply
        rounded-tr-[1.5rem]
        ;
      }
    }
  }
  
  &.is-separator {
    @apply
    ml-4
    ;
    &::before {
      @apply
      content-['']
      absolute
      z-0
      inset-y-0
      -left-4
      block
      w-px
      h-full
      border-dashed
      border-l
      border-ui-400
      ;
    }
    &::after {
      @apply
      content-['BONUS']
      -rotate-90
      -translate-x-12
      translate-y-14
      absolute
      z-10
      block
      text-lg
      text-center
      leading-7
      h-7
      w-16
      text-ui-100
      bg-ui-900/90
      rounded
      top-0
      left-0
      ;
    }
  }
}

@keyframes battlepass-shining-rays {
  0% {
    background-position: 160%;
  }
  75%, 100% {
    background-position: -10%;
  }
}

/* size */

.battlepass-container.battlepass-md {
  .battlepass-viewer {
    @apply
    flex-row
    justify-between
    items-center
    w-full
    pb-3
    gap-5
    border-b
    border-ui-700
    ;
    &::before {
      @apply
      hidden
      ;
    }
    > .battlepass-reward {
      @apply
      flex-1
      flex-row
      justify-start
      text-left
      ;
      > .battlepass-reward-image {
        @apply
        w-14
        shrink-0
        border
        border-ui-600
        rounded
        ;
      }
      > .battlepass-reward-name {
        @apply
        text-base
        normal-case
        truncate
        ;
      }
    }
    > .battlepass-reward-info {
      @apply
      flex-1
      justify-end
      text-right
      h-12
      ;
    }
  }
  .battlepass-summary {
    @apply
    relative
    ;
    > ul {
      @apply
      w-full
      py-4
      ;
      > li {
        img,
        .carousel-slides-container,
        .carousel-slide {
          @apply
          w-20
          h-20
        }
        > .battlepass-reward {
          @apply
          mt-2
          ;
          > span {
            &:nth-of-type(2) {
              @apply
              text-2xl
              ;
            }
          }
        }
      }
    }
    & ~ * {
      @apply
      hidden
      ;
    }
  }
}

/* loading */


.battlepass-container.is-loading {
  @apply
  pointer-events-none
  ;

  > *:not(.battlepass-summary) {
    .battlepass-nav-container,
    .battlepass-reward-action,
    .battlepass-reward > p,
    .battlepass-reward-info > span,
    .battlepass-reward-image,
    .battlepass-content {
      @apply 
      relative
      pointer-events-none
      bg-ui-800
      bg-[length:800px_100%]
      bg-[-200%_center]
      bg-no-repeat
      animate-[battlepass-body-loader_1s_linear_infinite]
      shadow-[0_0_0_1px_rgb(var(--color-ui-700))]
      opacity-100
      rounded
      flex
      items-center
      justify-center
      ;
      background-image: linear-gradient(
        to right,
        rgba(var(--color-ui-800) / 100%) 8%,
        rgba(var(--color-ui-700) / 100%) 18%,
        rgba(var(--color-ui-800) / 100%) 33%
      );
      &,
      *,
      [class*="text-"] {
        @apply 
        !text-ui-800/0;
      }
      * {
        @apply
        !opacity-0
        !bg-ui-800/0
        ;
      }
    }
  
    .battlepass-content {
      @apply
      border-ui-700
      ;
    }
  
    .battlepass-nav-container {
      @apply
      rounded-full
      ;
    }
  
    .battlepass-step::before,
    .battlepass-content::before,
    .battlepass-body::before,
    .battlepass-body>img,
    .battlepass-decoration,
    .battlepass-info>.progressbar>* {
      @apply
      hidden
      ;
    }
  }
}

@keyframes battlepass-body-loader {
  0% {
    background-position: -900px 0;
  }
  100% {
    background-position: 900px 0;
  }
}
