/*----------------------------*/
/* BATTLE PASS */
/*----------------------------*/


.battlepass-container {
  @apply
  flex
  flex-col
  justify-center
  items-center
  gap-4
  ;
}

.battlepass-viewer {
  @apply
  flex
  flex-col
  items-center
  justify-center
  gap-4
  text-center
  pb-4
  ;
  filter: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiAgCiAgICA8ZmlsdGVyIGlkPSJmaWx0ZXIiPgogICAgICAgIDxmZVR1cmJ1bGVuY2UgdHlwZT0idHVyYnVsZW5jZSIgYmFzZUZyZXF1ZW5jeT0iMC4wNyAwLjAxIiBudW1PY3RhdmVzPSI1IiBzZWVkPSIyIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIiB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHJlc3VsdD0ibm9pc2UiPjwvZmVUdXJidWxlbmNlPgogICAgICAgIDxmZURpc3BsYWNlbWVudE1hcCBpbj0iU291cmNlR3JhcGhpYyIgaW4yPSJub2lzZSIgc2NhbGU9IjAuMDAwODE3MzQiIHhDaGFubmVsU2VsZWN0b3I9IlIiIHlDaGFubmVsU2VsZWN0b3I9IkIiIHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsdGVyVW5pdHM9InVzZXJTcGFjZU9uVXNlIj48L2ZlRGlzcGxhY2VtZW50TWFwPgogICAgPC9maWx0ZXI+Cjwvc3ZnPg==#filter');

  .battlepass-reward {
    @apply
    flex
    flex-col
    items-center
    justify-center
    gap-4
    ;
  }
}


.battlepass-reward-image {
  @apply
  relative
  w-72
  aspect-square
  rounded
  overflow-hidden
  ;
  > i {
    @apply
    z-30
    absolute
    inset-0
    bg-[150%]
    bg-[length:400%_auto]
    /*
    animate-[battlepass-shining-rays_5s_cubic-bezier(0.1,0,0.8,1)_infinite]
    bg-[linear-gradient(45deg,_rgba(255,255,255,0)_45.9%,_rgba(255,255,255,.4)_46%,_rgba(255,255,255,0)_54%,_rgba(255,255,255,0)_60.9%,_rgba(255,255,255,.4)_61%,_rgba(255,255,255,0)_70%,_rgba(255,255,255,0)_71%)]
    bg-no-repeat
    */
    animate-[battlepass-reward-image-rays_8s_cubic-bezier(0.1,0,0.8,1)_infinite]
    bg-[linear-gradient(130deg,_rgba(255,255,255,0)_45.9%,_rgba(255,255,255,.4)_46%,_rgba(255,255,255,0)_54%,_rgba(255,255,255,0)_60.9%,_rgba(255,255,255,.4)_61%,_rgba(255,255,255,0)_70%,_rgba(255,255,255,0)_71%)]
    bg-no-repeat
    blur
    ;
    mask-size: cover;
    mask-repeat: no-repeat;
  }
}

@keyframes battlepass-reward-image-rays {
  0%, 25% {
    background-position: 150%;
  }
  50%, 100% {
    background-position: -15%;
  }
}

.battlepass-reward-name {
  @apply
  leading-none
  text-3xl
  uppercase
  text-ui-100
  ;
}

.battlepass-reward-info {
  @apply
  h-9
  text-center
  flex
  items-center
  justify-center
  ;
}

.battlepass-nav-container {
  @apply
  flex
  items-center
  justify-center
  gap-2
  ;
}

.battlepass-nav {
  @apply
  flex
  items-center
  justify-center
  rounded-full
  bg-ui-700
  border
  border-ui-600
  text-center
  text-sm
  select-none
  ;

  > span {
    @apply
    min-w-[4.5rem]
    ;
  }
}

.battlepass {
  @apply
  flex
  gap-4
  pt-5
  ;
}

.battlepass-step {
  @apply
  w-32
  flex
  flex-col
  items-stretch
  gap-2
  relative
  ;

  &:hover {
    .battlepass-content {
      @apply
      border-ui-400
      ;
      .battlepass-decoration::before {
        @apply
        bg-ui-400
        text-ui-900
        ;
      }
    }
  }
  &:active {
    .battlepass-content {
      @apply
      border-ui-600
      ;
      .battlepass-decoration::before {
        @apply
        bg-ui-600
        ;
      }
    }
  }

  .battlepass-info {
    @apply
    order-2
    ;
    > .progressbar {
      &::before {
        @apply
        content-['']
        absolute
        left-1/2
        h-full
        w-px
        bg-ui-700
        z-10
        ;
      }
      > div {
        @apply
        transition-none
        ;
      }
    }
    > .progressbar,
    > .progressbar > * {
      @apply
      rounded-[0.125rem]
      ;
    }
  }

  .battlepass-content {
    @apply
    order-1
    bg-ui-800
    border-2
    border-ui-600
    rounded
    aspect-square
    cursor-pointer
    relative
    outline
    -outline-offset-2
    outline-1
    outline-interaction-500/0
    focus-visible:outline
    focus-visible:outline-offset-2
    focus-visible:outline-1
    transition-[box-shadow]
    duration-100
    ease-in-out
    ;
    .battlepass-decoration {
      @apply
      absolute
      inset-0
      ;
      > span {
        @apply
        absolute
        z-20
        bottom-0
        inset-x-0
        bg-ui-900/75
        text-ui-300
        uppercase
        text-sm
        px-2
        py-1
        leading-none
        rounded-b
        ;
      }
    }
    .battlepass-body {
      @apply
      overflow-hidden
      rounded
      absolute
      inset-0
      flex
      items-center
      justify-center
      ;
      &::before,
      &::after {
        @apply
        content-['']
        absolute
        rounded
        inset-0
        overflow-hidden
        ;
      }
      &::before {
        @apply
        z-0
        ;
        background: 
        radial-gradient(ellipse at 50% 25%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%), 
        radial-gradient(50% 20% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0.13) 0.01%, rgba(255, 255, 255, 0) 100%);
      }
      &::after {
        @apply
        z-20
        ;
      }
      *:not(img) {
        @apply
        relative
        z-30
        ;
      }
      img {
        @apply
        absolute
        z-10
        inset-0
        object-cover
        object-center
        ;
      }
    }
  }

  &.is-locked {
    .battlepass-decoration {
      &::before {
        @apply
        absolute
        top-0
        right-0
        z-50
        font-icon
        content-['\ea12']
        w-[42px]
        h-[42px]
        pr-1
        text-right
        leading-6
        bg-ui-600
        text-ui-200
        ;
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        ;
      }
    }
  }

  &.is-premium {
    &::before {
      @apply
      content-['premium']
      text-ui-900
      absolute
      z-30
      h-5
      top-[calc(-1.25rem_+_1px)]
      left-0
      text-sm
      leading-3
      uppercase
      py-1
      pl-1.5
      pr-5
      rounded-tl
      transition-[box-shadow]
      duration-100
      ease-in-out
      ;
      clip-path: polygon(0 0, calc(100% - 1.25rem) 0, 100% 100%, 0 100%);
    }
    .battlepass-content {
      @apply
      rounded-tl-none
      ;
    }
    .battlepass-decoration::before {
      @apply
      text-premium-500
      ;
    }
    &::before {
      @apply
      bg-ui-600
      text-premium-500
      ;
    }
    &:hover {
      &::before {
        @apply
        bg-ui-400
        text-ui-900
        ;
      }
    }
    &:active::before {
      @apply
      bg-ui-600
      ;
    }
  }

  &.is-past {
    .battlepass-content {
      .battlepass-body {
        &::after {
          @apply
          bg-ui-900/75
          ;
        }
      }
    }
  }

  &.is-current {
    .battlepass-content {
      &::before {
        @apply
        content-['']
        z-30
        absolute
        inset-0
        rounded-[calc(0.25rem-2px)]
        bg-[150%]
        bg-[length:300%_auto]
        animate-[battlepass-reward-image-rays_6s_cubic-bezier(0.1,0,0.8,1)_infinite]
        bg-[linear-gradient(130deg,_rgba(255,255,255,0)_45.9%,_rgba(255,255,255,.4)_46%,_rgba(255,255,255,0)_54%,_rgba(255,255,255,0)_60.9%,_rgba(255,255,255,.4)_61%,_rgba(255,255,255,0)_70%,_rgba(255,255,255,0)_71%)]
        bg-no-repeat
        bg-center
        shadow-[inset_0_0_2rem_0_rgb(var(--color-main)/50%)]
        ;
      }
      .battlepass-decoration {
        > span {
          @apply
          text-main
          ;
        } 
      }
    }
  }

  &.is-active {
    .battlepass-content {
      @apply
      border-interaction-500
      shadow-[0_0_0_2px_rgb(var(--color-interaction-500))]
      ;
      .battlepass-decoration {
        @apply
        text-interaction-500
        ;
        &::before {
          @apply
          bg-interaction-500
          text-ui-900
          ;
        }
      }
    }
    &:hover {
      .battlepass-content {
        @apply
        border-interaction-500
        ;
        .battlepass-decoration::before {
          @apply
          bg-interaction-500
          ;
        }
      }
    }
    &:active {
      .battlepass-content {
        @apply
        border-interaction-700
        ;
        .battlepass-decoration::before {
          @apply
          bg-interaction-700
          ;
        }
      }
    }
    &.is-premium {
      &::before {
        @apply
        bg-interaction-500
        text-ui-900
        ;
      }
      &:hover::before {
        @apply
        bg-interaction-300
        ;
      }
      &:active::before {
        @apply
        bg-interaction-700
        ;
      }
    }
  }

  &.is-active.is-premium {
    .battlepass-content {
      @apply
      border-premium-500
      shadow-[0_0_0_2px_rgb(var(--color-premium-500))]
      rounded-tl-none
      ;
      .battlepass-decoration {
        @apply
        text-premium-500
        ;
        &::before {
          @apply
          bg-premium-500
          text-ui-900
          ;
        }
      }
      &:hover {
        @apply
        border-premium-300
        ;
        .battlepass-decoration {
          &::before {
            @apply
            bg-premium-300
            ;
          }
        }
      }
      &:active {
        @apply
        border-premium-700
        ;
      }
    }
    &::before {
      @apply
      bg-premium-500
      ;
    }
    &:hover::before {
      @apply
      bg-premium-300
      ;
    }
    &:active::before {
      @apply
      bg-premium-700
      ;
    }
  }

  &.is-bonus {
    .battlepass-content {
      @apply
      border
      rounded-tr-[1.5rem]
      ;
      &::before,
      .battlepass-body,
      .battlepass-body::before {
        @apply
        rounded-tr-[1.5rem]
        ;
      }
    }
  }
  
  &.is-separator {
    @apply
    ml-4
    ;
    &::before {
      @apply
      content-['']
      absolute
      inset-y-0
      -left-4
      block
      w-px
      h-full
      border-dashed
      border-l
      border-ui-500
      ;
    }
  }
}

@keyframes battlepass-shining-rays {
  0%, 25% {
    background-position: -15%;
  }
  50%, 100% {
    background-position: 150%;
  }
}

/* size */

.battlepass-container.battlepass-md {
  .battlepass-viewer {
    @apply
    flex-row
    justify-between
    items-center
    w-full
    pb-3
    gap-5
    border-b
    border-ui-700
    ;
    > .battlepass-reward {
      @apply
      flex-1
      flex-row
      justify-start
      text-left
      ;
      > .battlepass-reward-image {
        @apply
        w-14
        shrink-0
        border
        border-ui-600
        rounded
        ;
        > i {
          @apply
          hidden
          ;
        }
      }
      > .battlepass-reward-name {
        @apply
        text-base
        normal-case
        truncate
        ;
      }
    }
    > .battlepass-reward-info {
      @apply
      flex-1
      justify-end
      text-right
      h-12
      ;
    }
  }
}

/* loading */


.battlepass-container.is-loading {
  @apply
  pointer-events-none
  ;

  .battlepass-nav-container,
  .battlepass-reward-action,
  .battlepass-reward > p,
  .battlepass-reward-info > span,
  .battlepass-reward-image,
  .battlepass-content {
    @apply 
    relative
    pointer-events-none
    bg-ui-800
    bg-[length:800px_100%]
    bg-[-200%_center]
    bg-no-repeat
    animate-[battlepass-body-loader_1s_linear_infinite]
    shadow-[0_0_0_1px_rgb(var(--color-ui-700))]
    opacity-100
    rounded
    flex
    items-center
    justify-center
    ;
    background-image: linear-gradient(
      to right,
      rgba(var(--color-ui-800) / 100%) 8%,
      rgba(var(--color-ui-700) / 100%) 18%,
      rgba(var(--color-ui-800) / 100%) 33%
    );
    &,
    *,
    [class*="text-"] {
      @apply 
      !text-ui-800/0;
    }
    * {
      @apply
      !opacity-0
      !bg-ui-800/0
      ;
    }
  }

  .battlepass-content {
    @apply
    border-ui-700
    ;
  }

  .battlepass-reward-action,
  .battlepass-nav-container {
    @apply
    rounded-full
    ;
  }

  .battlepass-step::before,
  .battlepass-content::before,
  .battlepass-body::before,
  .battlepass-body>img,
  .battlepass-decoration,
  .battlepass-info>.progressbar>* {
    @apply
    hidden
    ;
  }
}

@keyframes battlepass-body-loader {
  0% {
    background-position: -900px 0;
  }
  100% {
    background-position: 900px 0;
  }
}

