@import "tailwindcss/components";

/*----------------------------*/
/* BUTTON */
/*----------------------------*/

button {
  text-align: inherit;
}

.button {
  @apply
  leading-none
  border-0
  inline-flex
  justify-center
  items-center
  text-center
  cursor-pointer
  px-3
  py-2.5
  transition-[color,background,transform]
  duration-200
  ease-in-out
  outline
  outline-offset-2
  outline-1
  outline-interaction-500/0
  focus-visible:outline
  focus-visible:outline-offset-2
  focus-visible:outline-1
  text-ui-800
  select-none
  bg-[length:500%_auto]
  font-body
  uppercase
  transform-gpu
  shrink-0
  rounded-full
  ;
  outline-radius: 100%;

  &:not([disabled]),
  &:not(.is-disabled) {
    @apply
    active:outline
    active:outline-offset-2
    active:outline-1
    ;
  }

  .icon {
    @apply
    font-icon
    ;
  }

  &:not(.button-secondary):not(.button-tertiary):not(.button-ghost):not(.button-error):not(.button-success):not(.button-premium),
  &.button-primary,
  &.button-claim {
    @apply
    bg-interaction-500
    outline-interaction-500/0
    focus-visible:outline-interaction-500
    ;
    
    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible {
        @apply 
        bg-interaction-300
        ;
      }
    }
    &:not([disabled]),
    &:not(.is-disabled) {
      @apply
      active:outline-interaction-300
      ;
    }
  }

  /*
  &:not([class*='rounded']) {
    @apply
    rounded-full
    ;
  }
  */

  &:not(.switch) {
    @apply
    gap-2
    ;
    > * {
      &:first-child {
        @apply
        ml-0.5
        ;
      }
      &:last-child {
        @apply
        mr-0.5
        ;
      }
      &:first-child:last-child {
        @apply
        mx-0
        ;
      }
      &:not([class*='icon']) {
        @apply
        mb-0
        ;
      }
    }
  }
  
  /* Variants */

  &.button-primary,
  &.button-claim {
    @apply 
    bg-interaction-500
    ;
  }
  &.button-secondary {
    @apply 
    bg-ui-800/0
    text-ui-200
    shadow-[inset_0_0_0_1px_rgb(var(--color-ui-200))]
    ;

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible {
        @apply
        bg-ui-700
        text-ui-100
        shadow-[inset_0_0_0_1px_rgb(var(--color-ui-100))]
        ;
      }
      &:focus-visible,
      &:active {
        @apply
        text-ui-100
        shadow-[inset_0_0_0_1px_rgb(var(--color-ui-100))]
        outline-ui-400
        ;
      }
    }

    &.button-currency {
      > div:nth-of-type(2) {
        @apply
        shadow-[inset_0_0_0_1px_rgb(var(--color-ui-400))]
        ;
      }
    }
  }
  &.button-tertiary {
    @apply 
    bg-ui-600/50
    text-ui-300
    shadow-[inset_0_0_0_1px_rgba(255,255,255,0),inset_0_0_1rem_0_rgba(255,255,255,0)]
    ;

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible {
        @apply
        bg-ui-600
        text-ui-100
        shadow-[inset_0_0_0_1px_rgba(var(--color-ui-400)/20%),inset_0_-0.25rem_1rem_0_rgba(255,255,255,0.075)]
        ;
      }
      &:focus-visible,
      &:active {
        @apply
        outline-ui-400
        ;
      }
    }
  }

  &.button-ghost {
    @apply 
    bg-ui-800/0
    text-ui-300
    shadow-[inset_0_0_0_1px_rgba(255,255,255,0),inset_0_-0.25rem_1rem_0_rgba(255,255,255,0)]
    ;
    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible {
        @apply
        text-ui-100
        shadow-[inset_0_0_0_1px_rgba(var(--color-ui-400)/20%),inset_0_-0.25rem_1rem_0_rgba(255,255,255,0.075)]
      }
      &:focus-visible,
      &:active {
        @apply
        outline-ui-400
        ;
      }
    }
    &.is-disabled,
    &:disabled {
      @apply
      bg-disabled-700/0
      bg-gradient-to-r
      from-disabled-700/0
      via-disabled-700/0
      to-disabled-700/0
      opacity-50
      ;
    }
  }
 
  &.button-error {
    @apply 
    bg-error-500
    ;

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible {
        @apply
        bg-error-300
        ;
      }
      &:focus-visible,
      &:active {
        @apply
        outline-error-300
        ;
      }
    }
  }
  &.button-success {
    @apply 
    bg-success-500
    ;

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible {
        @apply
        bg-success-300
        ;
      }
      &:focus-visible,
      &:active {
        @apply
        outline-success-300
        ;
      }
    }
  }
  &.button-premium {
    @apply 
    bg-premium-500
    ;

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible {
        @apply
        bg-premium-300
        ;
      }
      &:focus-visible,
      &:active {
        @apply
        outline-premium-300
        ;
      }
    }
  }
  /*
  &.button-premium {
    @apply 
    bg-gradient-to-r
    from-premium-500
    via-premium-500
    to-premium-300
    shadow-[inset_0_0_0_1px_rgba(var(--color-premium-300),0)]
    ;

    > * {
      @apply
      drop-shadow-[0_-1px_0_rgba(var(--color-premium-300)/50%)]
      ;
    }

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible {
        @apply
        shadow-[inset_0_0_0_1px_rgba(var(--color-premium-300),50%)]
        ;
      }
    }
  }
  */
  /*
  &.button-claim {
    @apply 
    bg-gradient-to-r
    from-purple-700
    via-info-500
    to-info-500
    text-mono-100
    bg-[length:200%_auto]
    shadow-[inset_0_0_0_1px_rgba(var(--color-info-300),0)]
    ;

    > * {
      @apply
      shadow-[inset_0_0_0_1px_rgba(var(--color-info-300),50%)]
      ;
    }

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible {
        @apply
        shadow-[inset_0_0_0_1px_rgba(var(--color-info-300),50%)]
      }
    }
  }
  */
  &[class*='rounded-full'],
  &.button-play {
    @apply
    px-2.5
    ;
  }
  &.button-play {
    @apply
    rounded-full
    gap-3
    ;
    
    .icon {
      @apply
      transition-transform
      duration-200
      ease-in-out
      scale-150
      ml-0
      ;

      ~ *:last-child {
        @apply
        mr-1
        ;
      }
    }

    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible {
        .icon {
          @apply
          scale-100
          ;
        }
      }
    }
  }

  /* Sizes */

  &.button-lg {
    @apply
    py-3
    px-5
    text-lg
    ;
    &[data-feedback]::before {
      @apply
      text-lg
      ;
    }
    &[class*='rounded-full'],
    &.button-play {
      @apply
      px-3
      ;
    }
  }
  &.button-md {
    @apply
    py-2.5
    ;
    &[class*='rounded-full'],
    &.button-play {
      @apply
      px-2.5
      ;
    }
  }
  &.button-sm {
    @apply
    py-2
    text-sm
    ;
    &[data-feedback]::before {
      @apply
      text-sm
      ;
    }
    &[class*='rounded-full'],
    &.button-play {
      @apply
      px-2
      ;
    }
  }
  &.button-xs {
    @apply
    py-1.5
    text-xs
    ;
    &[data-feedback]::before {
      @apply
      text-xs
      ;
    }
    &[class*='rounded-full'],
    &.button-play {
      @apply
      px-1.5
      ;
    }
  }

  /* Currency */

  &.button-currency {
    @apply
    p-0.5
    justify-items-stretch
    h-[36px]
    gap-0
    ;
    
    > div {
      @apply
      flex
      items-center
      justify-center
      self-stretch
      relative
      ;

      &:nth-of-type(1) {
        @apply
        flex-1
        px-3
        ;
      }

      &:nth-of-type(2) {
        @apply
        bg-ui-800
        px-2
        m-0
        transition-all
        duration-200
        rounded-full
        flex
        items-center
        gap-1
        ;
        .icon {
          @apply
          text-xl
          ;
        }
      }
    }
    img {
      @apply
      transition
      duration-200
      ;
    }
    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible {
        img {
          @apply
          scale-110
          ;
        }
        > div:last-child {
          @apply
          bg-gradient-to-b
          from-ui-800
          to-ui-800
          ;
        }
      }
    }
    &.button-coin {
      > div:last-child {
        span {
          @apply
          text-currency-1-500
          ;
        }
      }
    }
    &.button-token {
      > div:last-child {
        span {
          @apply
          text-currency-2-500
          ;
        }
      }
    }
    &.button-powertoken,
    &.button-ticket {
      > div:last-child {
        span {
          @apply
          text-currency-3-500
          ;
        }
      }
    }
    &.button-lg {
      @apply
      h-[42px]
      ;
      > div:last-child {
        .icon {
          @apply
          text-2xl
          ;
        }
      }
    }
    &.button-sm {
      @apply
      h-[30px]
      ;
      > div:last-child {
        .icon {
          @apply
          text-lg
          ;
        }
      }
    }
    &.button-xs {
      @apply
      h-[24px]
      ;
      > div:last-child {
        .icon {
          @apply
          text-base
          ;
        }
      }
    }
  }

  /* loading */

  &.is-loading {
    @apply
    pointer-events-none
    ;
  }

  &.is-loading {
    &:not([class*='currency']),
    &.button-currency > *:first-child {
      > span {
        @apply
        opacity-0
        ;
      }
      &::after {
        @apply
        content-['']
        absolute
        inset-auto
        h-4
        w-4
        block
        border-2
        border-ui-900
        border-l-main
        opacity-100
        rounded-full
        mx-auto
        left-[calc(50%-0.5rem)]
        animate-[button-loader-rotate_1s_linear_infinite]
        bg-none
        ;
      }
    }

    &.button-primary {
      &:not([class*='currency']),
      &.button-currency > *:first-child {
        &::after {
          @apply
          border-ui-900/25
          border-l-ui-900
          ;
        }
      }
    }
    &.button-secondary {
      &:not([class*='currency']),
      &.button-currency > *:first-child {
        &::after {
          @apply
          border-ui-600
          border-l-main
          ;
        }
      }
    }
    &.button-tertiary {
      &:not([class*='currency']),
      &.button-currency > *:first-child {
        &::after {
          @apply
          border-ui-600
          border-l-main
          ;
        }
      }
    }
    &.button-premium {
      &:not([class*='currency']),
      &.button-currency > *:first-child {
        &::after {
          @apply
          border-ui-900/25
          border-l-ui-900
          ;
        }
      }
    }
    &.button-claim {
      &:not([class*='currency']),
      &.button-currency > *:first-child {
        &::after {
          @apply
          border-ui-900/25
          border-l-ui-900
          ;
        }
      }
    }
  }

  /* Disabled */

  &.is-disabled,
  &:disabled {
    @apply
    pointer-events-none
    select-none
    bg-disabled-700
    bg-gradient-to-r
    from-disabled-700
    via-disabled-700
    to-disabled-700
    text-disabled-300
    shadow-[inset_0_0_0_1px_rgba(var(--color-disabled-700),50%)]
    opacity-100
    duration-75
    ;
    > * {
      @apply
      drop-shadow-[0_-1px_0_rgba(var(--color-disabled-700)/0%)]
      ;
    }
    &.button-currency > div:last-child {
      @apply
      from-disabled-500/50
      via-disabled-500/50
      to-disabled-500/50
      ;
    }
  }

  /*
&.is-disabled,
  &:disabled {
    @apply
    pointer-events-none
    select-none
    bg-disabled-500
    from-disabled-500
    via-disabled-500
    to-disabled-500
    text-disabled-300
    shadow-[inset_0_0_0_1px_rgba(var(--color-ui-600),50%)]
    ;
    > * {
      @apply
      drop-shadow-[0_-1px_0_rgba(var(--color-ui-700)/0%)]
      ;
    }
  }
  */

  /* Shining */

  &.is-shining {
    @apply
    relative
    overflow-hidden
    ;

    &::before,
    &::after {
      @apply
      content-['']
      absolute
      inset-0
      z-50
      /*
      bg-[length:200%_auto]
      animate-[button-shining-rays_2s_linear_infinite]
      bg-[linear-gradient(45deg,#fff0_45%,#fffc_46%,#fffc_54%,#fff0_55%,#fff0)]
      */
      bg-[linear-gradient(130deg,_rgba(255,255,255,0)_44%,_rgba(255,255,255,.5)_46%,_rgba(255,255,255,0)_60%)]
      bg-[160%]
      bg-[length:300%_auto]
      animate-[battlepass-shining-rays_3s_cubic-bezier(.7,0,.3,1)_infinite]
      ;
    }

    &::before {
   
    }
    &::after {
      animation-delay: .1s;
      
    }

  }

  /* Close */ 
  &.button-close {
    @apply
    rounded-full
    hover:rotate-90
    duration-300
    ease-[cubic-bezier(.8,0,.3,1)]
    ;

    &:not(.button-sm) {
      @apply
      h-10
      w-10
      ;
    }

    &.button-sm {
      @apply
      h-7
      w-7
      ;
    }

    > .icon {
      @apply
      block
      transform-gpu
      transition-all
      duration-300
      ease-[cubic-bezier(.8,0,.3,1)]
      ;
    }
    
    &:not([disabled]),
    &:not(.is-disabled) {
      &:hover,
      &:focus-visible {
        > .icon {
          @apply
          scale-100
          ;
        }
      }
    }

    &:where(.button-ghost, .button-secondary, .button-tertiary) {
      &:hover {
        > .icon {
          @apply
          text-ui-100
          ;
        }
      }
    }
  }
}

@keyframes button-loader-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes button-shining-rays {
  0% {
    background-position:-50%
  } 25% {
    background-position:-50%
  } 50%, 100% {
    background-position:150%
  }
}

.button {
  > [data-badge="."] {
    &::after {
      @apply
      -translate-y-2
      translate-x-0
      ;
    }
  }
}

.button {
  &[data-feedback]:not([data-feedback=""]):not([data-feedback-icon]) {
    @apply
    overflow-hidden
    ;
    &::before {
      @apply
      content-[attr(data-feedback)]
      absolute
      inset-x-0
      animate-[button-feedback-message_4s_cubic-bezier(0.9,0,0,1)_forwards]
      text-center
      ;
    }
    > * {
      @apply
      animate-[button-feedback-label_4s_cubic-bezier(1,0,0,0.9)_forwards]
      ;
    }
  }
}

.button {
  &[data-feedback][data-feedback-icon]:not([data-feedback=""]) {
    @apply
    relative
    ;
    &::before {
      @apply
      content-[attr(data-feedback)]
      absolute
      animate-[button-feedback-tooltip_4s_cubic-bezier(0.9,0,0,1)_forwards]
      text-center
      inset-x-full
      rounded-full
      font-body
      font-normal
      text-sm
      block
      left-[50%]
      bottom-[100%]
      py-2
      px-3
      pointer-events-none
      leading-none
      -translate-x-[50%]
      translate-y-0.5
      max-w-[20rem]
      w-[max-content]
      bg-ui-600/95
      ;
    }
    &::after {
      @apply
      font-icon
      absolute
      inset-x-0
      animate-[button-feedback-icon_4s_cubic-bezier(0.9,0,0,1)_forwards]
      text-center
      ;
    }
    > * {
      @apply
      animate-[button-feedback-icon-label_4s_cubic-bezier(1,0,0,0.9)_forwards]
      ;
    }
  }
  &[data-feedback-icon="success"]:not([data-feedback=""]) {
    &::before {
      @apply
      text-success-500
      ;
    }
    &::after {
      @apply
      content-['\ec14']
      text-success-500
      ;
    }
    &.button-primary,
    &.button-success,
    &.button-error,
    &.button-attention,
    &.button-premium {
      &::after {
        @apply
        text-ui-800
        ;
      }
    }
    &.button-claim {
      &::after {
        @apply
        text-mono-100
        ;
      }
    }
  }
  &[data-feedback-icon="error"]:not([data-feedback=""]) {
    &::before {
      @apply
      text-error-500
      ;
    }
    &::after {
      @apply
      content-['\ebd5']
      text-error-500
      ;
    }
    &.button-primary,
    &.button-success,
    &.button-error,
    &.button-attention,
    &.button-premium {
      &::after {
        @apply
        text-ui-800
        ;
      }
    }
    &.button-claim {
      &::after {
        @apply
        text-mono-100
        ;
      }
    }
  }
  &[data-feedback-icon="attention"]:not([data-feedback=""]) {
    &::before {
      @apply
      text-attention-500
      ;
    }
    &::after {
      @apply
      content-['\eb5d']
      text-attention-500
      ;
    }
    &.button-primary,
    &.button-success,
    &.button-error,
    &.button-attention,
    &.button-premium {
      &::after {
        @apply
        text-ui-800
        ;
      }
    }
    &.button-claim {
      &::after {
        @apply
        text-mono-100
        ;
      }
    }
  }
}

.button {
  &[data-feedback=""] {
    &::before,
    &::after {
      @apply
      hidden
      ;
    }
  }
}

@keyframes button-feedback-message {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(3rem);
    opacity: 0;
  }
}
@keyframes button-feedback-tooltip {
  0% {
    transform: translate(-50%, -0.1rem);
    opacity: 0;
  }
  10% {
    transform: translate(-50%, -0.35rem);
    opacity: 1;
  }
  90% {
    transform: translate(-50%, -0.35rem);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -0.1rem);
    opacity: 0;
  }
}
@keyframes button-feedback-label {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  10% {
    transform: translateY(-3rem);
    opacity: 0;
  }
  90% {
    transform: translateY(-3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes button-feedback-icon {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  10% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  90% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
}
@keyframes button-feedback-icon-label {
  0% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  10% {
    transform: scale(0) rotate(-45deg);
    opacity: 0;
  }
  90% {
    transform: scale(0) rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}


/* responsive sizes */

@media only screen and (min-width: 640px) {
	.button {
    &.sm\:button-lg {
      @apply
      py-3
      px-5
      text-lg
      ;
      &[data-feedback]::before {
        @apply
        text-lg
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-3
        ;
      }
    }
    &.sm\:button-md {
      @apply
      py-2.5
      ;
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2.5
        ;
      }
    }
    &.sm\:button-sm {
      @apply
      py-2
      text-sm
      ;
      &[data-feedback]::before {
        @apply
        text-sm
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2
        ;
      }
    }
    &.sm\:button-xs {
      @apply
      py-1.5
      text-xs
      ;
      &[data-feedback]::before {
        @apply
        text-xs
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-1.5
        ;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
	.button {
    &.md\:button-lg {
      @apply
      py-3
      px-5
      text-lg
      ;
      &[data-feedback]::before {
        @apply
        text-lg
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-3
        ;
      }
    }
    &.md\:button-md {
      @apply
      py-2.5
      ;
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2.5
        ;
      }
    }
    &.md\:button-sm {
      @apply
      py-2
      text-sm
      ;
      &[data-feedback]::before {
        @apply
        text-sm
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2
        ;
      }
    }
    &.md\:button-xs {
      @apply
      py-1.5
      text-xs
      ;
      &[data-feedback]::before {
        @apply
        text-xs
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-1.5
        ;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
	.button {
    &.lg\:button-lg {
      @apply
      py-3
      px-5
      text-lg
      ;
      &[data-feedback]::before {
        @apply
        text-lg
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-3
        ;
      }
    }
    &.lg\:button-md {
      @apply
      py-2.5
      ;
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2.5
        ;
      }
    }
    &.lg\:button-sm {
      @apply
      py-2
      text-sm
      ;
      &[data-feedback]::before {
        @apply
        text-sm
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2
        ;
      }
    }
    &.lg\:button-xs {
      @apply
      py-1.5
      text-xs
      ;
      &[data-feedback]::before {
        @apply
        text-xs
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-1.5
        ;
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
	.button {
    &.xl\:button-lg {
      @apply
      py-3
      px-5
      text-lg
      ;
      &[data-feedback]::before {
        @apply
        text-lg
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-3
        ;
      }
    }
    &.xl\:button-md {
      @apply
      py-2.5
      ;
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2.5
        ;
      }
    }
    &.xl\:button-sm {
      @apply
      py-2
      text-sm
      ;
      &[data-feedback]::before {
        @apply
        text-sm
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-2
        ;
      }
    }
    &.xl\:button-xs {
      @apply
      py-1.5
      text-xs
      ;
      &[data-feedback]::before {
        @apply
        text-xs
        ;
      }
      &[class*='rounded-full'],
      &.button-play {
        @apply
        px-1.5
        ;
      }
    }
  }
}