/*----------------------------*/
/* CARD */
/*----------------------------*/

/* content */

.card,
.card-ladder,
.card-mission,
.card-tournament {
  @apply 
  transform-gpu
  /*overflow-hidden*/
  relative
  focus-visible:outline
  focus-visible:outline-offset-2
  focus-visible:outline-1
  focus-visible:outline-main;
  &:not([class*="rounded"]) {
    @apply 
    rounded;
  }
  &:not([class*="surface"]) {
    @apply 
    bg-ui-800;
  }
}


.card-overlay {
  @apply 
  absolute
  z-20
  inset-0
  backdrop-blur-sm
  rounded
  flex
  flex-col
  items-center
  justify-center
  bg-ui-800/90
  shadow-[inset_0_0_0_1px_rgb(var(--color-ui-700))];
  > div {
    @apply 
    relative
    z-10
    flex
    flex-col
    items-center
    justify-center
    gap-2;
  }
  > img {
    @apply 
    absolute
    z-0
    w-full
    h-full
    object-cover
    object-center;
  }
  ~ * {
    @apply 
    pointer-events-none;
    &.card-image-bg {
      @apply 
      mix-blend-luminosity;
      > img {
        @apply 
        grayscale;
      }
    }
    .card-status {
      @apply 
      text-ui-300;
    }
  }
}

.card {
  .card-image {
    @apply 
    flex
    items-center
    justify-center
    rounded-t
    overflow-hidden;

    &:last-child {
      @apply
      rounded-b
      ;
    }
  }

  .card-body {
    @apply 
    relative
    z-10
    flex
    flex-1
    flex-col
    p-6
    gap-5;
  }

  .card-title {
    @apply 
    leading-[1.1];
    &:not([class*="text-ui"]):not([class*="text-main"]) {
      @apply 
      text-ui-100;
    }
  }

  .card-actions {
    @apply 
    leading-none
    flex
    flex-wrap
    items-start
    gap-2;
  }

  &.card-cover {
    .card-image {
      &,
      figure {
        @apply 
        absolute
        inset-0
        z-0;

        img {
          @apply 
          h-full
          object-cover;
        }
      }
    }
    &::before {
      @apply 
      content-['']
      absolute
      z-10
      inset-0
      bg-ui-900
      opacity-80;
    }
  }
}

/* missions & tournaments */

.card-mission,
.card-tournament {
  @apply 
  w-full
  relative
  flex
  flex-col
  items-stretch
  justify-between
  transform-gpu;
  .card-decoration {
    @apply 
    z-20;
  }
  .card-body {
    @apply 
    relative
    z-20
    flex
    flex-col
    items-start
    space-y-3;
    .progressbar {
      @apply 
      relative
      -z-10;
    }
  }
  .card-title {
    @apply 
    leading-[1.1]
    text-ui-100
    uppercase;
  }
  .card-meta {
    @apply 
    flex
    w-full;
  }
  .card-bg {
    &::before {
      @apply 
      content-['']
      absolute
      z-10
      inset-0;
    }
  }
}

/* card-tournament */

.card-tournament {
  @apply 
  aspect-square
  relative;

  .card-decoration {
    @apply 
    flex
    justify-between
    items-start
    p-2;
    > img {
      @apply 
      justify-self-stretch
      max-h-[5rem]
      max-w-[65%]
      mt-1
      ml-1
      drop-shadow-lg;
    }
  }
  .card-body {
    @apply 
    p-4;
  }
  .card-title {
    @apply 
    mt-4
    text-2xl;
  }
  .card-meta {
    @apply 
    flex
    justify-start
    items-stretch
    mt-4;

    > div {
      @apply 
      flex
      flex-col
      items-start
      justify-center;
      &:not(:last-child) {
        @apply 
        mr-4
        pr-4
        border-r
        border-ui-300/25;
      }
    }

    label {
      @apply 
      text-sm
      text-ui-300
      leading-none
      mb-2;
    }
    ul {
      @apply 
      p-0
      m-0
      text-sm
      text-ui-200;
      > li {
        @apply 
        pl-4
        relative;
        &::before {
          @apply 
          content-['']
          absolute
          left-0
          top-[calc(50%-(0.5rem/2))]
          w-2
          h-2
          bg-gradient-radial
          from-ui-300
          to-ui-400/75
          rounded-full
          shadow-[0_0_0_2px_rgba(255,255,255,0.15)];
        }
      }
    }
  }
  .card-bg {
    &::before {
      background-image: linear-gradient(
        to bottom,
        rgba(var(--color-ui-900) / 75%) 15%,
        rgba(var(--color-ui-900) / 50%) 33%,
        rgba(var(--color-ui-900) / 95%) 66%,
        rgba(var(--color-ui-900) / 100%) 100%
      );
    }
  }
}

/* card-mission */

.card-mission {
  @apply 
  aspect-video;

  .card-body {
    @apply 
    bg-ui-800
    p-2
    rounded-b
    ;

    .card-title {
      @apply 
      text-lg
      mt-1;

      + .card-meta {
        @apply 
        mt-2.5;
      }
    }
    .card-meta {
      @apply 
      items-center
      justify-between
      text-sm
      text-ui-200
      mb-2.5;

      > * {
        &::last-child {
          @apply 
          text-right;
        }
      }
    }
  }

  .card-bg {
    &::before {
      @apply 
      hidden;
    }
  }

  &.card-locked,
  &.card-unlocked {
    .progressbar {
      > * {
        background-image: linear-gradient(
          to right,
          rgb(var(--color-premium-300)) 0px,
          rgb(var(--color-premium-700)) 200px,
          rgb(var(--color-premium-300)) 400px
        );
      }
    }
    .card-decoration {
      @apply 
      flex
      flex-1
      items-center
      inset-0;
      > img {
        @apply 
        relative
        z-30
        h-auto
        max-h-[50%];
      }
    }
  }

  &.card-unlocked {
    .card-decoration {
      @apply 
      items-start;
      &::after {
        @apply 
        font-icon
        text-3xl
        content-['\ebe9']
        absolute
        right-1
        top-1
        leading-none
        z-10
        rounded-full
        bg-gradient-to-b
        from-ui-500
        to-ui-800
        text-premium-300
        drop-shadow-[0_3px_1.5px_rgba(0,0,0,0.5)];
      }
    }
  }

  &.card-locked {
    @apply 
    transform-gpu
    overflow-hidden;

    .card-decoration {
      @apply 
      drop-shadow-[0_3px_1.5px_rgba(0,0,0,0.5)];
      > img {
        @apply 
        w-auto
        mx-auto
        translate-y-4;
      }
      &::before {
        @apply 
        content-['']
        absolute
        z-0
        top-0
        left-0
        right-0
        h-10
        bg-gradient-to-b
        from-premium-300
        to-premium-500
        text-ui-800;
        clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
      }
      &::after {
        @apply 
        font-icon
        content-['\ea12']
        absolute
        z-10
        w-8
        h-8
        rounded-full
        top-1
        left-[calc(50%-1rem)]
        bg-gradient-to-b
        from-ui-900
        via-ui-800
        to-ui-700
        text-premium-300
        shadow-[0_0_0_1px_rgb(var(--color-premium-300))]
        text-center
        leading-[2];
      }
    }
    .card-bg {
      * {
        @apply 
        grayscale;
      }

      &::before {
        @apply 
        bg-ui-800/75;
      }
    }
  }
}

/* card mission secondary */

.card-mission.card-secondary {
  @apply 
  aspect-[8/4]
  sm:aspect-[8/3]
  md:aspect-[8/4]
  xl:aspect-[8/3]
  2xl:aspect-[8/3.5]
  flex
  flex-row
  items-stretch
  overflow-hidden
  ;

  &,
  &::before,
  &::after {
    @apply 
    rounded
    ;
  }
  .card-overlay {
    @apply 
    rounded
    bg-ui-900/80
    backdrop-blur-0
    z-50
    ;
  }
  .card-decoration {
    @apply 
    absolute
    inset-0
    flex
    items-start
    justify-between
    p-2
    ;
  }
  .card-bg {
    @apply 
    rounded
    ;
  }
  .card-bg > * {
    @apply 
    rounded
    ;
  }
  &::before,
  &::after {
    @apply 
    content-['']
    absolute
    inset-0
    pointer-events-none
    z-50
    ;
  }
  &::before {
    @apply 
    shadow-[inset_0_0_0_1px_rgb(var(--color-ui-700))]
    ;
  }
  .card-bg {
    @apply
    relative
    order-1
    flex-1
    ;
  }
  .card-body {
    @apply
    flex-2
    order-2
    justify-end
    items-stretch
    p-4
    rounded-r-3
    space-y-2
    ;
    .card-category {
      @apply 
      flex-1 
      !m-0
      ;
    }
    .card-meta {
      @apply
      py-1
      ;
    }
    + .card-bg {
      @apply 
      aspect-card
      ;

      &,
      > * {
        &:not([class*=rounded]) {
          @apply
          rounded-r-none
          ;
        }
      }
    }
    .card-progress {
      > div {
        @apply
        flex
        items-center
        gap-4
        -my-1
        ;
        > .progressbar {
          @apply
          -order-1
          ;
        }
      }
    }
  }
  &.is-inactive {
    .card-overlay {
      @apply 
      bg-ui-800/90
      backdrop-blur-sm;
    }
  }
  &.is-highlighted {
    @apply
    cursor-pointer
    -outline-offset-2
    focus-visible:outline
    focus-visible:outline-mono-100
    transition-[color,background,transform,opacity]
    duration-200
    ease-in-out
    active:outline
    active:outline-mono-100
    active:-outline-offset-2
    active:outline-1
    ;

    *,
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6,
    .h1, 
    .h2, 
    .h3, 
    .h4, 
    .h5, 
    .h6 {
      @apply
      text-ui-900
      ;
    }
    &::before {
      @apply
      bg-main
      -z-20
      shadow-[inset_0_0_0_1px_rgba(var(--color-mono-100_/_0.5))]
      ;
    }
    &::after {
      @apply
      bg-main
      -z-40
      ;
    }
    .card-overlay {
      @apply
      bg-ui-900/0
      text-ui-900
      inset-1
      shadow-[inset_0_0_0_1px_rgb(var(--color-mono-100)_/_0.75)]
      rounded
      ;
      &::before {
        @apply
        content-['']
        absolute
        z-50
        inset-1
        animate-[card-highlighted-corners_2s_ease_infinite]
        bg-no-repeat
        transition-opacity
        duration-300
        ease-[cubic-bezier(.2,0,.2,1)]
        ;
        --corner-translate: 0.25rem;
        background-image: 
          url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzEyNDZfMTE5NDI0KSI+CjxwYXRoIGQ9Ik0wIDYuOTkzODJlLTA3SDFWMTZIMFY2Ljk5MzgyZS0wN1oiIGZpbGw9IiMwNTA3MEYiLz4KPHBhdGggZD0iTTAgMVY2Ljk5MzgyZS0wN0wxNiAwVjFMMCAxWiIgZmlsbD0iIzA1MDcwRiIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzEyNDZfMTE5NDI0Ij4KPHJlY3Qgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="), 
          url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzEyNDdfMTE5NDI4KSI+CjxwYXRoIGQ9Ik0xNiA2Ljk5MzgyZS0wN0gxNVYxNkgxNlY2Ljk5MzgyZS0wN1oiIGZpbGw9IiMwNTA3MEYiLz4KPHBhdGggZD0iTTE2IDFWNi45OTM4MmUtMDdMMCAwVjFMMTYgMVoiIGZpbGw9IiMwNTA3MEYiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMjQ3XzExOTQyOCI+CjxyZWN0IHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K"),
          url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzEyNDdfMTE5NDMyKSI+CjxwYXRoIGQ9Ik0wIDE2SDFWMEgwVjE2WiIgZmlsbD0iIzA1MDcwRiIvPgo8cGF0aCBkPSJNMCAxNVYxNkwxNiAxNlYxNUwwIDE1WiIgZmlsbD0iIzA1MDcwRiIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzEyNDdfMTE5NDMyIj4KPHJlY3Qgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="),
          url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzEyNDdfMTE5NDMwKSI+CjxwYXRoIGQ9Ik0xNiAxNkgxNVYwSDE2VjE2WiIgZmlsbD0iIzA1MDcwRiIvPgo8cGF0aCBkPSJNMTYgMTVWMTZMMCAxNlYxNUwxNiAxNVoiIGZpbGw9IiMwNTA3MEYiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8xMjQ3XzExOTQzMCI+CjxyZWN0IHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K")
        ; 
        background-position: 0% 0%, 100% 0%, 0% 100%, 100% 100%;
      }
    }
    .card-bg {
      &::after {
        @apply
        content-['']
        absolute
        -z-10
        inset-1
        bg-main
        rounded
        ;
      }
      &::before {
        @apply
        content-['']
        absolute
        block
        shadow-[inset_0_0_0_0_rgb(var(--color-ui-700))]
        -inset-full
        -z-20
        transform-gpu
        animate-[card-highlighted-border_2s_linear_infinite]
        ;
        background-image: radial-gradient(12% 80% at 50% 100%, rgb(var(--color-mono-100)) 0%, rgba(255, 255, 255, 0) 100%);
      }
      > span {
        @apply
        absolute
        z-0
        inset-1
        bg-blend-darken
        opacity-10
        transition-all
        duration-300
        ease-[cubic-bezier(.2,0,.2,1)]
        bg-[length:110%]
        rounded
        ;
        filter: grayscale(100%) brightness(130%) contrast(130%);
      }
    }
    &:hover, 
    &:active,
    &.is-loading {
      .card-overlay {
        &::before {
          @apply
          opacity-0
          ;
        }
      }
      .card-bg {
        > span {
          @apply
          opacity-20
          bg-[length:100%]
          ;
        }
      }
    }
    &.is-loading {
      .card-bg {
        @apply
        opacity-100
        ;
      }
      .card-overlay {
        &::after {
          @apply
          content-['']
          absolute
          inset-auto
          h-8
          w-8
          block
          border-2
          border-ui-900/5
          border-l-ui-900
          opacity-100
          rounded-full
          mx-auto
          left-[calc(50%-1rem)]
          animate-[button-loader-rotate_1s_linear_infinite]
          bg-none
          transition-opacity
          duration-300
          ease-in-out
          ;
        }
        * {
          @apply
          transition-all
          duration-300
          ease-in-out
          scale-75
          opacity-0
          pointer-events-none
          ;
        }
      }
    }
  }

  &[class*='rarity-category'] {
    .card-bg::before {
      @apply
      block
      content-['']
      w-1
      absolute
      z-20
      transition-transform
      duration-1000
      left-auto
      right-0
      inset-y-0
      ;
      transition-delay: .5s;
    }
  }
  &.rarity-category-1 {
    .card-bg::before {
      @apply
      bg-ui-300
      ;
    }
  }
  &.rarity-category-2 {
    .card-bg::before {
      @apply
      bg-blue-300
      ;
    }
  }
  &.rarity-category-3 {
    .card-bg::before {
      @apply
      bg-error-300
      ;
    }
  }
  &.rarity-category-4 {
    .card-bg::before {
      @apply
      bg-attention-300
      ;
    }
  }
}

@media not all and (min-resolution:.001dpcm) { 
  @media {
    .card-bg {
      @apply
      flex-[min-content]
      ;
    }
  }
}


@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

.revealer {
  .revealer-back {
    .card-bg {
      > span {
        @apply scale-150
        origin-right
        transition-all
        duration-[.9s]
        ease-in-out;
      }
      &::before {
        @apply
        translate-x-2
        ;
      }
    }
    .card-body {
      > * {
        @apply translate-y-6
        opacity-0
        transition-all
        duration-500
        ease-[cubic-bezier(.8,0,.2,.8)];
        &:nth-child(1) {
          @apply delay-[0.1s];
        }
        &:nth-child(2) {
          @apply delay-[0.2s];
        }
        &:nth-child(3) {
          @apply delay-[0.3s];
        }
        &:nth-child(4) {
          @apply delay-[0.4s];
        }
        &:nth-child(5) {
          @apply delay-[0.5s];
        }
      }
    }
  }
  .revealer-front {
    .card-bg {
      @apply
      flex-1
      ;
    }
  }
  &.is-active {
    .revealer-front {
      .card-overlay {
        > * {
          @apply opacity-0;
        }
      }
    }
    .revealer-back {
      .card-bg {
        > span {
          @apply scale-100;
        }
        &::before {
          @apply
          translate-x-0
          ;
        }
      }
      .card-body {
        > * {
          @apply translate-y-0
          opacity-100;
        }
      }
    }
  }
}

.card-bg {
  @apply overflow-hidden;
  &,
  > * {
    @apply absolute
    z-0
    bg-cover
    bg-center
    inset-0
    bg-no-repeat
    rounded;
  }
}

.card-interactive {
  @apply cursor-pointer;
  .card-bg {
    * {
      @apply transition-all
      duration-500
      ease-[cubic-bezier(0.7,0,0.3,1)];
    }
  }
  &:hover {
    .card-bg {
      * {
        @apply scale-110;
      }
    }
  }
  &:active {
    &:hover,
    &:focus {
      @apply opacity-75;
    }
  }
}

/* card-ladder */

.card-ladder {
  @apply
  grid
  grid-cols-3
  items-stretch
  ;
  &:not([class*="h-"]) {
    @apply 
    min-h-[15rem]
    ;
  }

  .card-image {
    @apply 
    relative
    col-span-3
    md:col-span-1
    flex
    flex-col
    items-start
    justify-between
    h-full
    aspect-video
    md:aspect-auto
    ;

    > .card-image-content {
      @apply
      relative
      z-10
      flex
      flex-col
      h-full
      items-start
      justify-between
      p-4
      ;
    }

    > .card-image-bg {
      @apply
      absolute
      z-0
      right-0
      inset-y-0
      w-full
      ;
      &::before,
      &::after {
        @apply
        content-[""]
        absolute
        z-10
        inset-y-0
        w-1/2
        ;
      }
      &::before {
        @apply
        left-0
        bg-gradient-to-r
        from-ui-800/95
        via-ui-800/70
        to-ui-800/0
        ;
      }
      &::after {
        @apply
        right-0
        bg-gradient-to-r
        from-ui-800/0
        to-ui-800
        ;
      }
      > img {
        @apply
        absolute
        z-0
        object-right
        object-cover
        xl:object-cover
        inset-0
        w-full
        h-full
        ;
      }
    }
  }

  .card-content {
    @apply
    relative
    col-span-3
    md:col-span-2
    flex
    flex-col
    md:flex-row
    p-4
    ;

    &:not([class*="items-"]) {
      @apply
      items-stretch
      ;
    }
    &:not([class*="justify-"]) {
      @apply
      justify-between
      ;
    }

    > .card-body,
    > .card-meta {
      @apply
      flex
      gap-4
      ;
    }

    > .card-body {
      @apply
      flex-col
      items-start
      ;
      &:not([class*="items-"]) {
        @apply
        items-stretch
        ;
      }
      &:not([class*="justify-"]) {
        @apply
        justify-between
        ;
      }
    }

    > .card-meta {
      @apply
      grid
      grid-flow-row
      auto-rows-auto
      justify-center
      md:justify-end
      mt-4
      pt-4
      border-t
      border-ui-700
      md:mt-0
      md:pt-0
      ;
      &:not([class*="items-"]) {
        @apply
        items-start
        md:items-end
        ;
      }
      &:not([class*="justify-"]) {
        @apply
        justify-center
        md:justify-between
        ;
      }
      > *:first-child:last-child {
        @apply
        row-span-2
        ;
      }
    }
  }
  &:not(.card-secondary) {
    .card-content {
      > .card-meta {
        @apply
        md:border-t-0
        ;
      }
    }
  }
}

/* card ladder secondary */

.card-ladder.card-secondary {
  &::after {
    @apply 
    content-['']
    absolute
    z-50
    inset-0
    rounded
    pointer-events-none
    border
    border-ui-700
    ;
  }
  & {
    @apply 
    flex-none
    w-full
    min-w-xs
    max-w-[calc(100vw-4rem)]
    transition-[color,background,transform]
    duration-200
    ease-[cubic-bezier(.8,0,.3,1)]
    transform-gpu
    leading-tight
    focus-visible:outline-none
    active:outline-none
    ;
    &:active::after {
      @apply
      outline
      outline-1
      -outline-offset-1
      outline-ui-400
      ;
    }
    > .card-image,
    > .card-content {
      @apply 
      relative
      z-10
      ;
    }
    > .card-content {
      @apply flex-col
      md:flex-col
      md:col-span-3
      bg-ui-800
      overflow-hidden;
      > .card-body {
        @apply
        gap-2
        ;
        :where(h2, h3, h4, h5) {
          @apply
          text-lg
          block
          truncate
          w-[calc(99%)]
          ;
        }
      }
      > .card-meta {
        @apply 
        mt-4
        flex
        justify-between
        items-center
        ;
        &:not([class*="items-"]) {
          @apply 
          md:items-stretch
          ;
        }
        &:not([class*="justify-"]) {
          @apply 
          md:justify-between
          ;
        }
        &:last-child {
          @apply 
          pt-4
          border-t
          border-ui-700
          ;
        }
      }
    }
    > .card-image {
      @apply
      w-full
      aspect-cover
      ;
      > .card-image-content {
        @apply 
        w-full
        flex-row
        items-start
        justify-between
        p-2
        ;
      }
    }
    > .card-image-bg {
      @apply 
      absolute
      z-0
      right-0
      inset-y-0
      w-full
      rounded
      rounded-b-none
      overflow-hidden
      aspect-cover
      ;
      > img {
        @apply 
        aspect-auto
        absolute
        inset-0
        object-cover
        object-center
        transition-all
        duration-500
        ease-[cubic-bezier(.2,0,.2,1)]
        ;
      }
    }
    .card-status {
      @apply 
      text-blue-300
      ;
    }
  }

  & {
    @apply 
    grid-cols-1
    md:max-w-[397px]
    ;
    > .card-image {
      @apply 
      md:col-span-3
      aspect-cover
      ;
    }
    > .card-content {
      @apply 
      rounded-b
      ;
    }
  }

  &.card-horizontal {
    @apply 
    flex
    flex-row
    md:max-w-[809px]
    min-h-10
    ;
    > .card-image {
      @apply 
      w-auto
      order-2
      ;
    }
    > .card-content {
      @apply 
      order-1
      flex-1
      rounded-l-3
      rounded-r-none
      ;
    }
    > .card-image-bg {
      @apply 
      w-auto
      rounded-r-3
      rounded-l-none
      ;
      &::before {
        @apply 
        hidden
        ;
      }
      > img {
        @apply 
        z-0
        left-auto
        ;
      }
    }
  }

  &.card-premium {
    .card-image {
      > .card-image-content {
        @apply
        border-b-4
        border-b-premium-500
        ;
      }
    }
    > .card-content {
      > .card-body {
        :where(h2, h3, h4, h5) {
          @apply
          w-[calc(99%-1.5rem)]
          ;
        }
      }
    }
  }

  &.interactive {
    &:hover {
      @apply
      opacity-100
      ;
      .card-image-bg img {
        @apply
        brightness-150
        scale-105
        ;
      }
    }
  }

  &.card-fluid {
    @apply
    min-w-[0]
    max-w-[none]
    md:!max-w-[none]
    ;
    > .card-image {
      @apply
      flex-auto
      ;
    }
  }
}

/* responsive card ladder secondary stacked  */

@media only screen and (min-width: 640px) {
  .card-ladder.card-secondary {
    &.sm\:card-horizontal {
      @apply 
      flex
      flex-row
      md:max-w-[809px]
      min-h-10;
      > .card-image {
        @apply 
        w-auto
        order-2;
      }
      > .card-content {
        @apply 
        order-1
        flex-1
        rounded-l-3
        rounded-r-none
        ;
      }
      > .card-image-bg {
        @apply 
        w-auto
        rounded-r-3
        rounded-l-none;
        &::before {
          @apply 
          hidden;
        }
        > img {
          @apply 
          z-0
          left-auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .card-ladder.card-secondary {
    &.md\:card-horizontal {
      @apply 
      flex
      flex-row
      md:max-w-[809px]
      min-h-10;
      > .card-image {
        @apply 
        w-auto
        order-2;
      }
      > .card-content {
        @apply 
        order-1
        flex-1
        rounded-l-3
        rounded-r-none
        ;
      }
      > .card-image-bg {
        @apply 
        w-auto
        rounded-r-3
        rounded-l-none;
        &::before {
          @apply 
          hidden;
        }
        > img {
          @apply 
          z-0
          left-auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .card-ladder.card-secondary {
    &.lg\:card-horizontal {
      @apply 
      flex
      flex-row
      md:max-w-[809px]
      min-h-10;
      > .card-image {
        @apply 
        w-auto
        order-2;
      }
      > .card-content {
        @apply 
        order-1
        flex-1
        rounded-l-3
        rounded-r-none
        ;
      }
      > .card-image-bg {
        @apply 
        w-auto
        rounded-r-3
        rounded-l-none;
        &::before {
          @apply 
          hidden;
        }
        > img {
          @apply 
          z-0
          left-auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
  .card-ladder.card-secondary {
    &.xl\:card-horizontal {
      @apply 
      flex
      flex-row
      md:max-w-[809px]
      min-h-10;
      > .card-image {
        @apply 
        w-auto
        order-2;
      }
      > .card-content {
        @apply 
        order-1
        flex-1
        rounded-l-3
        rounded-r-none
        ;
      }
      > .card-image-bg {
        @apply 
        w-auto
        rounded-r-3
        rounded-l-none;
        &::before {
          @apply 
          hidden;
        }
        > img {
          @apply 
          z-0
          left-auto;
        }
      }
    }
  }
}

/* loading */

.card-mission,
.card-tournament,
.card-ladder {
  &.is-active {
    &::after {
      @apply 
      content-['']
      absolute
      z-50
      inset-0
      rounded
      pointer-events-none
      border
      border-ui-700
      /*animate-[card-glow_2s_cubic-bezier(.4,0,.6,1)_infinite]*/
      ;
    }
    /*
    &.card-premium {
      &::after {
        @apply
        animate-[card-glow-premium_2s_cubic-bezier(.4,0,.6,1)_infinite]
        ;
      }
    }
    */
    .card-status {
      @apply 
      animate-pulse
      text-main
      font-bold
      ;
    }
    &.card-premium {
      .card-status {
        @apply 
        text-premium-500
        ;
      }
    }
  }
  &.is-inactive {
    .card-title {
      @apply 
      text-ui-300;
    }
    .card-category {
      > * {
        filter: brightness(0) saturate(100%) invert(34%) sepia(12%)
          saturate(680%) hue-rotate(194deg) brightness(92%) contrast(90%);
      }
    }
    .card-bg {
      @apply 
      mix-blend-luminosity;
      > span {
        @apply 
        grayscale
        opacity-50
        ;
      }
    }
    .card-image-bg {
      @apply 
      mix-blend-luminosity;
      > img {
        @apply 
        grayscale
        opacity-50;
      }
    }
    .card-status {
      @apply 
      text-ui-300;
    }
  }
  &.is-loading {
    @apply 
    relative
    pointer-events-none
    border-t
    border-t-ui-700
    bg-ui-800
    bg-[length:800px_100%]
    bg-[-200%_center]
    bg-no-repeat
    animate-[card-loader_1s_linear_infinite];

    &,
    [class*="text-"] {
      @apply 
      text-ui-800/0;
    }
    background-image: linear-gradient(
      to right,
      rgba(var(--color-ui-800) / 100%) 8%,
      rgba(var(--color-ui-700) / 100%) 18%,
      rgba(var(--color-ui-800) / 100%) 33%
    );

    :where(img, .card-decoration::before, .card-decoration::after, .chip
        > *, .card-bg, .card-meta > * > *, .avatar) {
      @apply 
      opacity-0;
    }

    *[class*="bg-"],
    .card-content {
      @apply 
      bg-ui-800/0
      from-ui-800/0
      via-ui-800/0
      to-ui-800/0;
    }

    *[class*="border-"] {
      @apply 
      border-ui-800/0;
    }

    .card-meta > div:not(:last-child) {
      @apply 
      border-ui-700;
    }

    .card-title,
    .card-meta > *:not(.chip)  {
      @apply 
      relative
      text-ui-300/0
      ;
      &::after {
        @apply 
        absolute
        top-0
        left-0
        content-['']
        block
        bg-ui-600/25
        rounded
        ;
      }
    }
    .card-title {
      &::after {
        @apply 
        w-2/3
        h-6;
      }
    }
    .card-meta > * {
      @apply 
      text-ui-200/0
      ;
      &::after {
        @apply 
        w-1/2
        h-full
        ;
      }
    }
    > * {
      @apply 
      text-ui-200/0
      bg-ui-200/0
      ;
    }
    div,
    a {
      &.progressbar,
      &.chip,
      &.chip.chip-sliced:not([class*="bg-"]) {
        @apply 
        bg-none
        bg-ui-600/25
        border-0
        shadow-[inset_0_0_0_1px_rgba(255,255,255,0)]
        ;
        > div {
          @apply 
          opacity-0
          ;
        }
      }
    }
    button {
      @apply 
      opacity-0
      ;
    }
    .card-image-bg {
      &::before,
      &::after {
        @apply 
        hidden
        ;
      }
    }
    .card-ladder.card-secondary {
      > div {
        @apply 
        bg-none
        bg-ui-600/25
        ;
        > * {
          @apply 
          opacity-0
          ;
        }
      }
      > i {
        @apply 
        hidden
        ;
      }
    }
  }
}

@keyframes card-loader {
  0% {
    background-position: -900px 0;
  }
  100% {
    background-position: 900px 0;
  }
}

@keyframes card-glow {
  0%,
  100% {
    box-shadow: inset 0 0 0 1px rgba(var(--color-main) / 0%);
  }
  50% {
    box-shadow: inset 0 0 0 1px rgba(var(--color-main) / 100%);
  }
}

@keyframes card-glow-premium {
  0%,
  100% {
    box-shadow: inset 0 0 0 1px rgba(var(--color-premium-500) / 0%);
  }
  50% {
    box-shadow: inset 0 0 0 1px rgba(var(--color-premium-500) / 100%);
  }
}

.rarity {
  @apply
  flex
  items-center
  gap-1
  text-sm
  uppercase
  ;

  > .icon {
    @apply
    animate-rotate
    text-xl
    ;
  }

  &.rarity-category-1 {
    @apply
    text-ui-300
    ;
  }
  &.rarity-category-2 {
    @apply
    text-blue-300
    ;
  }
  &.rarity-category-3 {
    @apply
    text-error-300
    ;
  }
  &.rarity-category-4 {
    @apply
    text-attention-300
    ;
  }
}

@keyframes card-highlighted-border {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(-360deg);
  }
}

@keyframes card-highlighted-corners {
  0%, 100% {
    background-position: 0% 0%, 100% 0%, 0% 100%, 100% 100%;;
  }
  50%{
    background-position: calc(0% + var(--corner-translate)) calc(0% + var(--corner-translate)), calc(100% - var(--corner-translate)) calc(0% + var(--corner-translate)), calc(0% + var(--corner-translate)) calc(100% - var(--corner-translate)), calc(100% - var(--corner-translate)) calc(100% - var(--corner-translate));
  }
}