/*----------------------------*/
/* CARD */
/*----------------------------*/


.card,
.card-mission {
  @apply
  relative
  ;

  &:not([class*='card-ui']) {
    @apply
    border
    bg-ui-800
    border-ui-700
    ;
  }
}
.card {

  &.card-halo {
    @apply
    relative
    overflow-hidden
    ;

    > * {
      @apply
      relative
      z-20
      ;
    }
    &::after {
      @apply
      absolute
      z-10
      content-['']
      block
      -bottom-16
      bg-gradient-radial
      from-blue-500/75
      via-blue-700/0
      to-purple-500/0
      rounded-full
      h-32
      w-96
      blur-lg
      left-[calc(50%-12rem)];
      ;
    }

    &.halo-l {
      &::after {
        @apply
        -left-48
        ;
      } 
    }
    &.halo-r {
      &::after {
        @apply
        left-auto
        -right-48
        ;
      } 
    }
    &.halo-t {
      &::after {
        @apply
        -top-12
        ;
      } 
    }
  }
}

/* blur container */

.blurcontainer {
  position: relative;
  //overflow: visible;
  > i {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0deg;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    &::after {
      height: 60px;
      bottom: -30px;
      border-radius: 100%;
      filter: blur(29px);
      background: radial-gradient(
        60% 1530% at 72% 50%,
        #12d4ff 0%,
        #1277ef 30%,
        rgba(var(--color-dark-900-rgb), 0) 100%
      );
    }

    ~ * {
      position: relative;
      z-index: 1;
    }
  }

  &.blurcontainer-1 {
    > i {
      &::before {
      }
      &::after {
        height: 60px;
        top: -10%;
        left: -50%;
        border-radius: 100%;
        filter: blur(80px);
        opacity: 0.33;
        background: radial-gradient(
          60% 1530% at 72% 50%,
          #aaf0ff 0%,
          #0079ff 30%,
          rgba(var(--color-dark-900-rgb), 0) 100%
        );
      }
      @media only screen and (max-width: 768px) {
        &::after {
          opacity: 0.22;
          filter: blur(40px);
        }
      }
    }
  }

  &.blurcontainer-2 {
    > i {
      &::before {
        height: 60px;
        top: -10%;
        left: -50%;
        border-radius: 100%;
        filter: blur(80px);
        opacity: 0.33;
        background: radial-gradient(
          60% 1530% at 72% 50%,
          #aaf0ff 0%,
          #0079ff 30%,
          rgba(var(--color-dark-900-rgb), 0) 100%
        );
      }
      &::after {
        height: 120px;
        bottom: -10%;
        right: -50%;
        border-radius: 100%;
        filter: blur(80px);
        opacity: 0.33;
        background: radial-gradient(
          60% 1530% at 72% 50%,
          #aaf0ff 0%,
          #0079ff 30%,
          rgba(var(--color-dark-900-rgb), 0) 100%
        );
      }
      @media only screen and (max-width: 768px) {
        &::before,
        &::after {
          opacity: 0.22;
          filter: blur(40px);
        }
      }
    }
  }

  &.blurcontainer-3 {
    > i {
      &::before {
      }
      &::after {
        background: radial-gradient(
          60% 1530% at 100% 50%,
          #aaf0ff 0%,
          #0079ff 30%,
          rgba(var(--color-dark-900-rgb), 0) 100%
        );
      }
      @media only screen and (max-width: 768px) {
        &::after {
          opacity: 0.22;
          filter: blur(40px);
        }
      }
    }
  }
}

/* colors */

.card-ui-900 {
  @apply
  border
  bg-ui-900
  border-ui-800
  ;
  .progressbar {
    @apply
    bg-ui-700
    ;
  }
}
.card-ui-800 {
  @apply
  border
  bg-ui-800
  border-ui-700
  ;
  .progressbar {
    @apply
    bg-ui-600
    ;
  }
}
.card-ui-700 {
  @apply
  border
  bg-ui-700
  border-ui-600
  ;
  .progressbar {
    @apply
    bg-ui-500
    ;
  }
}
.card-ui-600 {
  @apply
  border
  bg-ui-600
  border-ui-500
  ;
  .progressbar {
    @apply
    bg-ui-400
    ;
  }
}

/* card-mission */

.card-mission {
  @apply
  aspect-video
  w-full
  max-w-sm
  rounded-xl
  overflow-hidden
  flex
  flex-col
  items-stretch
  justify-between
  mx-auto
  min-w-xs
  ;

  .card-info {
    @apply
    relative
    z-20
    bg-ui-900/75
    backdrop-blur-sm
    p-2
    ;

    .card-title {
      @apply
      font-headings
      italic
      text-xl
      leading-none
      mt-1
      mb-2
      ;
    }
    .card-meta {
      @apply
      flex
      items-center
      justify-between
      text-sm
      text-ui-200
      
      mb-2.5
      ;

      > * {
        &::last-child {
          @apply
          text-right
          ;
        }
      }
    }
  }

  &.card-locked,
  &.card-premium {
    .progressbar {
      > * {
        background-image: linear-gradient(to right, rgb(var(--color-premium-300)) 0px, rgb(var(--color-premium-700)) 200px, rgb(var(--color-premium-300)) 400px);
        
      }
    }
  }

  &.card-locked {
    @apply
    pointer-events-none
    ;
    .card-decoration {
      @apply 
      flex
      flex-1
      z-20
      -inset-px
      drop-shadow-[0_3px_1.5px_rgba(0,0,0,0.5)]
      ;
      &::before {
        @apply
        content-['']
        absolute
        z-0
        top-0
        left-0
        right-0
        h-10
        bg-gradient-to-b
        from-premium-300
        to-premium-500
        text-ui-800
        ;
        clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
      }
      &::after {
        @apply
        font-icon
        content-['\ea12']
        absolute
        z-10
        w-8
        h-8
        rounded-full
        top-1
        left-[calc(50%-1rem)]
        bg-gradient-to-b
        from-ui-900
        via-ui-800
        to-ui-700
        text-premium-300
        shadow-[0_0_0_1px_rgb(var(--color-premium-300))]
        text-center
        leading-[2]
        ;
      }
    }
    .card-bg {
      
      * {
        @apply
        grayscale
        ;
      }

      &::before {
        @apply
        content-['']
        absolute
        z-10
        -inset-px
        bg-ui-800/75
      }
    }
  }
}

.card-bg {
  &,
  > * {
    @apply
    absolute
    z-0
    bg-cover
    -inset-px
    bg-no-repeat
    ;
  }
}

.card-interactive {
  @apply
  cursor-pointer
  ;
  .card-bg {
    * {
      @apply
      transition-all
      duration-500
      ease-[cubic-bezier(0.7,0,0.3,1)]
      ;
    }
  }
  &:hover {
    .card-bg {
      * {
        @apply
        scale-110
        ;
      }
    }
  }
  &:active {
    @apply
    opacity-25
    ;
  }
}