/*----------------------------*/
/* COLORS */
/*----------------------------*/

body {
  --color-main: 243 195 81;

  --color-white: 255 255 255;
  --color-black: 0 0 0;

  --color-mono-100: 255 255 255;
  --color-mono-900: 0 0 0;

  --color-blue: 0 225 255;
  
  /*
  --color-ui-100: 229 230 234;
  --color-ui-200: 182 184 196;
  --color-ui-300: 136 139 156;
  --color-ui-400: 94 97 116;
  --color-ui-500: 49 52 72;
  --color-ui-600: 41 44 65;
  --color-ui-700: 33 36 56;
  --color-ui-800: 25 28 48;
  --color-ui-850: 19 21 38;
  --color-ui-900: 13 15 28;
  */

  --color-ui-100: 225 226 231;
  --color-ui-200: 165 167 181;
  --color-ui-300: 129 132 149;
  --color-ui-400: 83 86 105;
  --color-ui-500: 38 41 61;
  --color-ui-600: 30 33 53;
  --color-ui-700: 23 27 45;
  --color-ui-800: 16 19 35;
  --color-ui-850: 10 12 25;
  --color-ui-900: 5 7 15;

  --color-premium-300: 176 126 255;
  --color-premium-500: 163 114 255;
  --color-premium-700: 130 82 209;

  --color-interaction-300: 254 213 116;
  --color-interaction-500: 243 195 81;
  --color-interaction-700: 204 162 61;

  --color-blue-300: 105 153 255;
  --color-blue-500: 80 130 242;
  --color-blue-700: 55 108 221;

  --color-purple-300: 176 126 255;
  --color-purple-500: 163 114 255;
  --color-purple-700: 130 82 209;

  --color-teal-300: 105 243 190;
  --color-teal-500: 78 221 166;
  --color-teal-700: 55 204 147;

  --color-attention-300: 255 136 97;
  --color-attention-500: 243 120 81;
  --color-attention-700: 209 92 53;

  --color-success-300: 105 255 137;
  --color-success-500: 81 243 126;
  --color-success-700: 56 221 91;

  --color-info-300: 105 153 255;
  --color-info-500: 80 130 242;
  --color-info-700: 55 108 221;

  --color-error-300: 255 105 105;
  --color-error-500: 243 81 81;
  --color-error-700: 221 56 56;

  --color-disabled-300: 86 90 107;
  --color-disabled-500: 52 56 71;
  --color-disabled-700: 39 39 57;

  --color-gold-300: 254 213 116;
  --color-gold-500: 243 195 81;
  --color-gold-700: 204 162 61;

  --color-silver-300: 188 191 196;
  --color-silver-500: 175 177 182;
  --color-silver-700: 142 145 150;

  --color-bronze-300: 179 149 130;
  --color-bronze-500: 156 126 108;
  --color-bronze-700: 132 102 85;

  --color-platinum-300: 236 169 250;
  --color-platinum-500: 255 0 255;
  --color-platinum-700: 152 0 153;

  --color-currency-1-300: 235 211 152;
  --color-currency-1-500: 220 197 139;
  --color-currency-1-700: 187 164 107;

  --color-currency-2-300: 139 189 224;
  --color-currency-2-500: 123 172 206;
  --color-currency-2-700: 94 142 176;

  --color-currency-3-300: 242 143 166;
  --color-currency-3-500: 227 130 152;
  --color-currency-3-700: 194 99 120;

  --color-game-apexlegends: 218 42 41;
  --color-game-csgo: 249 129 0;
  --color-game-dota2: 239 61 54;
  --color-game-leagueoflegends: 197 149 74;
  --color-game-pubg: 242 169 0;
  --color-game-rocketleague: 46 113 198;
  --color-game-valorant: 255 70 85;
}

body[data-theme='light'] {
  --color-main: 19 240 148;

  --color-white: 255 255 255;
  --color-black: 0 0 0;

  --color-mono-100: 255 255 255;
  --color-mono-900: 0 0 0;

  --color-blue: 0 225 255;
  
  --color-ui-100: 243 243 246;
  --color-ui-200: 195 195 213;
  --color-ui-300: 133 133 173;
  --color-ui-400: 93 93 137;
  --color-ui-500: 51 51 102;
  --color-ui-600: 38 38 79;
  --color-ui-700: 31 31 66;
  --color-ui-800: 195 195 213;
  --color-ui-850: 195 195 213;
  --color-ui-900: 243 243 246;
}

body {
  @apply 
  text-ui-200
  bg-ui-900;
  background: rgb(var(--color-ui-900)) !important;
}

::selection {
  @apply
  text-ui-800
  bg-ui-100
  ;
}

/*
a:-webkit-any-link,
a {
  @apply
  text-ui-100
  ;
}
*/