/*----------------------------*/
/* COLORS */
/*----------------------------*/

* {
  --color-main: 19 240 148;

  --color-white: 255 255 255;
  --color-black: 0 0 0;

  --color-mono-100: 255 255 255;
  --color-mono-900: 0 0 0;

  --color-blue: 0 225 255;
  
  --color-ui-100: 243 243 246;
  --color-ui-200: 195 195 213;
  --color-ui-300: 133 133 173;
  --color-ui-400: 93 93 137;
  --color-ui-500: 51 51 102;
  --color-ui-600: 38 38 79;
  --color-ui-700: 31 31 66;
  --color-ui-800: 21 21 50;
  --color-ui-850: 21 21 50;
  --color-ui-900: 15 15 35;
  
  --color-premium-300: 253 226 104;
  --color-premium-500: 251 192 45;
  --color-premium-700: 249 168 37;

  --color-interaction-300: 86 255 185;
  --color-interaction-500: 19 240 148;
  --color-interaction-700: 6 201 120;

  --color-blue-300: 166 244 255;
  --color-blue-500: 0 225 255;
  --color-blue-700: 0 175 204;

  --color-purple-300: 152 117 209;
  --color-purple-500: 108 61 184;
  --color-purple-700: 57 32 97;

  --color-teal-300: 46 255 202;
  --color-teal-500: 20 247 190;
  --color-teal-700: 2 201 151;

  --color-attention-300: 251 140 0;
  --color-attention-500: 245 124 0;
  --color-attention-700: 239 108 0;

  --color-success-300: 153 235 168;
  --color-success-500: 83 221 108;
  --color-success-700: 30 153 53;

  --color-info-300: 77 180 255;
  --color-info-500: 4 150 255;
  --color-info-700: 3 105 178;

  --color-error-300: 255 89 89;
  --color-error-500: 255 51 51;
  --color-error-700: 178 36 36;

  --color-disabled-300: 86 90 107;
  --color-disabled-500: 52 56 71;
  --color-disabled-700: 25 26 47;

  --color-gold-300: 252 206 90;
  --color-gold-500: 251 192 45;
  --color-gold-700: 140 101 3;

  --color-silver-300: 212 213 215;
  --color-silver-500: 175 177 182;
  --color-silver-700: 97 100 107;

  --color-bronze-300: 194 160 132;
  --color-bronze-500: 177 133 98;
  --color-bronze-700: 109 79 54;

}

body {
  @apply bg-ui-900;
}