/*----------------------------*/
/* DROPDOWN */
/*----------------------------*/

.dropdown {
  @apply
  relative
  inline-block
  ;

  .menu {
    :where(a, button) {
      @apply
      text-ui-200
      ;
    }
    :where(li).separator {
      @apply
      bg-ui-500
      ;
    }
  }

  > [tabIndex]:first-child {
    @apply
    cursor-pointer
    ;
    
  }

  .dropdown-content {
    @apply
    absolute
    z-50
    origin-top
    scale-90
    invisible
    pointer-events-none
    opacity-0
    transition-all
    transform-gpu
    duration-200
    ease-[cubic-bezier(.7,0,.3,1)]
    outline-none
    ;

    &:not([class*='rounded']) {
      @apply
      rounded-lg
      overflow-hidden
      ;
    }
    &:not([class*='shadow']) {
      @apply
      shadow-xl
      ;
    }
    .menu {
      > li {
        @apply
        -translate-y-4
        opacity-0
        delay-200
        ;
      }
    }
  }
}

.dropdown {

  &.dropdown-open,
  &.dropdown-hover:hover,
  &:not(.dropdown-hover):focus,
  &:not(.dropdown-hover):focus-within {
    .dropdown-content {
      @apply
      visible
      pointer-events-auto
      opacity-100
      outline-none
      ;
      .menu {
        > li {
          @apply
          translate-y-0
          opacity-100
          ;
        }
      }
    }
  }

  &.dropdown-open,
  &.dropdown-hover:hover,
  &:focus,
  &:focus-within {
    .dropdown-content {
      @apply
      scale-100
      translate-y-0
      ;
    }
  }
}

.dropdown-end {
  .dropdown-content {
    @apply
    right-0
    ;
  }
}

.dropdown-center {
  .dropdown-content {
    @apply
    left-[50%]
    -translate-x-[50%]
    ;
  }
}

.dropdown-top {
  .dropdown-content {
    @apply
    bottom-full
    top-auto
    origin-bottom
    ;
    .menu {
      > li {
        @apply
        translate-y-4
        ;
      }
    }
  }
}

.dropdown-end {
  .dropdown-content {
    @apply
    right-0
    ;
  }

  &.dropdown-right,
  &.dropdown-left {
    .dropdown-content {
      @apply
      bottom-0
      top-auto
      ;
      .menu {
        > li {
          @apply
          translate-y-4
          ;
        }
      }
    }
  }
}

.dropdown-left {
  .dropdown-content {
    @apply
    top-0
    right-full
    bottom-auto
    origin-right
    ;
  }
}

.dropdown-right {
  .dropdown-content {
    @apply
    top-0
    left-full
    bottom-auto
    origin-left
    ;
  }
}

