/*----------------------------*/
/* FONTS */
/*----------------------------*/

@font-face {
  font-family: 'Podium Sharp';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1652173357/GNOG%20assets/Fonts/PODIUM_Sharp/podiumsharp-3.9italic-webfont.woff2')
      format('woff2'), url('https://res.cloudinary.com/gloot/raw/upload/v1652173357/GNOG%20assets/Fonts/PODIUM_Sharp/podiumsharp-3.9italic-webfont.woff')
      format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Podium Sharp';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1637672348/GNOG%20assets/Fonts/PODIUM_Sharp/podiumsharp-3.9-webfont.woff2')
      format('woff2'),
    url('https://res.cloudinary.com/gloot/raw/upload/v1636017636/GNOG%20assets/Fonts/PODIUM_Sharp/podiumsharp-3.9-webfont.woff')
      format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto Condensed';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-light-webfont.woff2')
      format('woff2'), url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-light-webfont.woff')
      format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-regular-webfont.woff2')
      format('woff2'), url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-regular-webfont.woff')
      format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-bold-webfont.woff2')
      format('woff2'), url('https://res.cloudinary.com/gloot/raw/upload/v1647264381/GNOG%20assets/Fonts/Roboto_Condensed/robotocondensed-bold-webfont.woff')
      format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "glooticons";
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1654609433/GNOG%20assets/Fonts/Icons/glooticons.woff2') format('woff2'),
    url('https://res.cloudinary.com/gloot/raw/upload/v1654609433/GNOG%20assets/Fonts/Icons/glooticons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}