/*----------------------------*/
/* FONTS */
/*----------------------------*/

@font-face {
  font-family: "Stryda";
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1671201526/Stryda/fonts/stryda-regular.woff2') format('woff2'),
    url('https://res.cloudinary.com/gloot/raw/upload/v1671201526/Stryda/fonts/stryda-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Stryda";
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1671201526/Stryda/fonts/stryda-heavy.woff2') format('woff2'),
    url('https://res.cloudinary.com/gloot/raw/upload/v1671201526/Stryda/fonts/stryda-heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1672214112/Stryda/fonts/barlow-medium.woff2') format('woff2'),
    url('https://res.cloudinary.com/gloot/raw/upload/v1672214112/Stryda/fonts/barlow-medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url('https://res.cloudinary.com/gloot/raw/upload/v1672214112/Stryda/fonts/barlow-semibold.woff2') format('woff2'),
    url('https://res.cloudinary.com/gloot/raw/upload/v1672214112/Stryda/fonts/barlow-semibold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
