/*----------------------------*/
/* FORM */
/*----------------------------*/



/*----------------------------*/
/* GENERAL */
/*----------------------------*/

.form-group {
  input,
  textarea {
    @apply
    text-ui-100
    placeholder:text-ui-300
    ;
  }
}

.form-group > label:not(.form-radio):not(.form-checkbox):not(.form-toggle):not(.button),
.label {
  @apply
  leading-tight
  ;
  &:not([class*="text-ui"]) {
    @apply
    text-ui-200
    ;
  }
  &:not([class*="text-base"]):not([class*="text-lg"]) {
    @apply
    text-sm
    ;
  }
}
.form-group > label:not(.form-radio):not(.form-checkbox):not(.form-toggle):not(.button):not([class*=m-]):not([class*=mb-]) {
  @apply
  flex
  gap-1.5
  items-center
  mb-1
  ;
  > .icon {
    @apply
    text-lg
    ;
  }
}

.is-disabled {
  @apply
  cursor-not-allowed
  opacity-50
  ;
  &,
  * {
    @apply
    pointer-events-none
    ;
  }
}

/* Autocomplete */

input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  @apply
  text-ui-100
  bg-main
  ;
  -webkit-text-fill-color: var(--color-ui-100);
  -webkit-box-shadow: 0 0 0 1000px var(--color-main) inset !important;
}

/*----------------------------*/
/* TEXT INPUTS */
/*----------------------------*/

.form-group {
  :where(input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], input[type=datetime-local], input[type=file], input[type=password], textarea, .input-text, select) {
    @apply
    block
    ;
  }

  &:not([class*='text-']) {
    @apply
    text-left
    ;
  }

  :where(input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], input[type=datetime-local], input[type=file], input[type=password], textarea, .input-text, .form-select > select) {
    @apply
    w-full
    shadow-sm
    bg-ui-700
    border
    border-ui-500
    focus-visible:-outline-offset-1
    focus-visible:outline
    focus-visible:outline-1
    focus-visible:outline-ui-300
    focus-visible:z-20
    px-2
    py-1.5
    ;
  }

  :where(input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], input[type=datetime-local], input[type=file], input[type=password], textarea, .input-text) {
    @apply
    shadow-[inset_2px_2px_6px_0px_rgb(0,0,0,0.25)]
    ;
  }
  :where( .form-select > select) {
    @apply
    shadow-[2px_2px_6px_0px_rgb(0,0,0,0.25)]
    ;
  }

  > :where(input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], input[type=datetime-local], input[type=file], textarea, .input-text, .form-select > select) {
    &:not([class*="rounded-"]) {
      @apply
      rounded
      ;
    }
  }
  
}

.input-group.input-sm > input,
input.input-sm {
  @apply
  h-9
  text-sm
  ;
}

.input-group.input-secondary > input,
input.input-secondary {
  @apply
  !rounded-full
  bg-ui-500
  border-ui-400/20
  ;
}

/*----------------------------*/
/* SELECT INPUTS */
/*----------------------------*/

.form-select {
  @apply
  relative
  ;

  select {
    &:not([multiple]) {
      @apply
      appearance-none
      pr-8
      overflow-hidden
      bg-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjk5OTkgMTUuMDAwMUMxMS43NDM5IDE1LjAwMDEgMTEuNDg3OSAxNC45MDIxIDExLjI5MjkgMTQuNzA3MUw2LjU4NTk0IDEwLjAwMDFMNy45OTk5NCA4LjU4NjA2TDExLjk5OTkgMTIuNTg2MUwxNS45OTk5IDguNTg2MDZMMTcuNDEzOSAxMC4wMDAxTDEyLjcwNjkgMTQuNzA3MUMxMi41MTE5IDE0LjkwMjEgMTIuMjU1OSAxNS4wMDAxIDExLjk5OTkgMTUuMDAwMVoiIGZpbGw9IiM4NTg1QUQiLz4KPC9zdmc+Cg==')]
      bg-no-repeat
      bg-[calc(100%-0.25rem)_center]
      ;      
    }
    &[multiple] {
      @apply
      h-auto
      relative
      pr-0.5
      py-2
      space-y-0.5
      ;
      > option {
        @apply
        py-1.5
        
        ;
  
        &:checked {
          @apply
          bg-interaction-500
          rounded-sm
          text-ui-800
          ;
        }
      }

      &:focus {
        > option {
          &:checked {
            @apply
            bg-interaction-300
            ;
          }
        }
      }
    }
  
    option {
      &:disabled {
        @apply
        text-ui-300
        ;
      }
    }
  }
}

/*----------------------------*/
/* FILE */
/*----------------------------*/

:where(.form-group, .form-dropzone) {
  input[type=file] {
    @apply
    p-0
    min-h-[42px]
    file:min-h-[42px]
    file:bg-ui-600
    file:hover:bg-ui-500
    file:cursor-pointer
    file:px-4
    file:rounded-l-sm 
    file:border-0
    file:font-bold  
    file:text-ui-100
    file:mr-2
    block
    w-full
    text-sm
    text-ui-300
    cursor-pointer
    focus:outline-none
    ;
  }
}


label.button {
  + input[type=file] {
    @apply
    h-px
    w-px
    -m-px
    opacity-0
    overflow-hidden
    min-h-[0px]
    ;
    clip: rect(0px, 0px, 0px, 0px);
  }
}

/*----------------------------*/
/* RADIO, CHECKBOX, TOGGLE */
/*----------------------------*/

.form-radio,
.form-checkbox, 
.form-toggle {
  @apply
  flex
  relative
  select-none
  ;

  label {
    @apply
    pl-14
    py-2
    pr-2
    cursor-pointer
    min-h-[24px]
    min-w-[24px]
    rounded
    leading-tight
    ;
    &:empty {
      @apply
      px-0
      ;
      &::before {
        @apply
        !left-0
        ;
      }
      &::after {
        @apply
        !left-1
        ;
      }
    }
  }

  &.is-disabled {
    @apply
    cursor-not-allowed
    opacity-50
    ;
    &,
    * {
      @apply
      pointer-events-none
      ;
    }
  }

  &:is(li) {
    label {
      @apply
      w-full
      transition-all
      duration-200
      ease-[cubic-bezier(.7,0,.3,1)]
      hover:bg-ui-700/50
      ;
    }
  }

  /* generic */

  input {
    @apply
    h-px
    w-px
    -m-px
    opacity-0
    overflow-hidden
    ;
    clip: rect(0px, 0px, 0px, 0px);

    &:checked {
      + label {
        &::before {
          @apply
          bg-interaction-500
          shadow-[0_0_0_1px_rgb(var(--color-interaction-300))]
          ;
        }
      }
    }

    &:focus-visible {
      + label {
        &::before {
          @apply
          outline
          outline-interaction-300
          outline-offset-2
          ;
        }
      }
    }
  }

  label {
    @apply
    flex
    items-center
    ;
    &::before,
    &::after {
      @apply
      content-['']
      absolute
      overflow-hidden
      block
      left-0
      my-auto
      transition-[color,background,transform]
      duration-200
      ease-in-out
      shadow-[0_0_0_1px_rgb(var(--color-ui-600))]
      ;
    }
    &::before {
      @apply
      shadow-[0_0_0_1px_rgb(var(--color-ui-600))]
      ;
    }
    &::after {
      @apply
      absolute
      ;
    }
  }

  input:checked {
    + label {
      &::before {
        @apply
        bg-main
        shadow-[0_0_0_2px_rgb(var(--color-interaction-300))]
        ;
      }
    }
  }

  input:not(:checked) {
    + label {
      &::before {
        @apply
        bg-ui-500
        shadow-[0_0_0_1px_rgb(var(--color-ui-400))]
        ;
      }
    }
  }

  &:not([disabled]),
  &:not(.is-disabled) {
    &:focus-visible {
      input {
        + label {
          &::before {
            @apply
            outline
            outline-offset-2
            outline-ui-500
            ;
          }
        }
      }
      input:checked {
        + label {
          &::before {
            @apply
            outline
            outline-interaction-300
            ;
          }
        }
      }
    }
  }

  /* radio */

  &.form-radio {
    label {
      &::before {
        @apply
        h-6
        w-6
        rounded-full
        shadow-[0_0_0_1px_rgb(var(--color-ui-400))]
        left-3
        ;
      }
      &::after {
        @apply
        w-4
        h-4
        rounded-full
        left-4
        ;
      }
    }

    input:not(:checked){
      + label {
        &::after {
          @apply
          scale-0
          opacity-0
          bg-ui-300
          ;
        }
      }
    }

    input:checked {
      + label {
        &::after {
          @apply
          scale-100
          opacity-100
          bg-gradient-to-b
          from-ui-500
          to-ui-800
          ;
        }
      }
    }
  }

  /* toggle */

  &.form-toggle {
    label {
      &::before {
        @apply
        h-6
        w-10
        rounded-full
        shadow-[0_0_0_1px_rgb(var(--color-ui-400))]
        left-1
        ;
      }

      &::after {
        @apply
        w-4
        h-4
        rounded-full
        bg-ui-800
        left-2
        ;
      }
    }

    input:not(:checked){
      + label {
        &::after {
          @apply
          translate-x-0
          bg-gradient-to-b
          from-ui-300
          to-ui-400
          ;
        }
      }
    }

    input:checked {
      + label {
        &::after {
          @apply
          translate-x-4
          bg-gradient-to-b
          from-ui-500
          to-ui-800
          ;
        }
      }
    }
  }

  /* checkbox */

  &.form-checkbox {
    label {
      &::before {
        @apply
        h-6
        w-6
        rounded
        shadow-[0_0_0_1px_rgb(var(--color-ui-400))]
        left-3
        ;
      }

      &::after {
        @apply
        w-4
        h-2.5
        border-[3px]
        shadow-[0_0_0_0_rgb(var(--color-ui-400))]
        border-ui-800/0
        border-l-ui-800
        border-b-ui-800
        left-4
        ;
      }
    }

    input:not(:checked){
      + label {
        &::after {
          @apply
          scale-110
          translate-y-2
          opacity-0
          ;
        }
      }
    }

    input:indeterminate {
      + label {
        &::after {
          @apply
          h-1
          -translate-y-0.5
          border-l-ui-800/0
          ;
        }
      }
    }

    input:checked,
    input:indeterminate {
      + label {
        &::after {
          @apply
          -translate-y-0.5
          -rotate-45
          scale-100
          opacity-100
          ;
        }
      }
    }
  }

  /* align to end */

  &.form-end {
    @apply
    text-right
    justify-end
    ;
    label {
      @apply
      pr-14
      pl-2
      ;
      &::before {
        @apply
        left-auto
        ;
      }
      &::after {
        @apply
        left-auto
        ;
      }
    }
    &.form-radio,
    &.form-checkbox {
      label {
        &::before {
          @apply
          right-3
          ;
        }
        &::after {
          @apply
          right-4
          ;
        }
      }
    }
    &.form-toggle {
      label {
        &::before {
          @apply
          right-1
          ;
        }
        &::after {
          @apply
          right-2
          ;
        }
      }
      input:not(:checked){
        + label {
          &::after {
            @apply
            -translate-x-4
            ;
          }
        }
      }
  
      input:checked {
        + label {
          &::after {
            @apply
            translate-x-0
            ;
          }
        }
      }
    }
  }

  /* full width */

  &.form-full {
    @apply
    w-full
    transition-all
    duration-200
    ease-[cubic-bezier(.7,0,.3,1)]
    hover:bg-ui-700/50
    ;
    .form-indicator {
      @apply
      text-right
      flex-1
      ;
    }
    label {
      @apply
      pr-14
      pl-0
      w-full
      flex
      gap-4
      items-center
      /* justify-between */
      ;
      &::before {
        @apply
        left-auto
        ;
      }
      &::after {
        @apply
        left-auto
        ;
      }
    }
    &.form-radio,
    &.form-checkbox {
      label {
        &::before {
          @apply
          right-3
          ;
        }
        &::after {
          @apply
          right-4
          ;
        }
      }
    }
    &.form-toggle {
      label {
        &::before {
          @apply
          right-1
          ;
        }
        &::after {
          @apply
          right-2
          ;
        }
      }
      input:not(:checked){
        + label {
          &::after {
            @apply
            -translate-x-4
            ;
          }
        }
      }
  
      input:checked {
        + label {
          &::after {
            @apply
            translate-x-0
            ;
          }
        }
      }
    }
    &:not([disabled]),
    &:not(.is-disabled) {
      label {
        @apply
        hover:text-ui-100
        ;
      }
    }
  }

  /* focus */

  &:not([disabled]),
  &:not(.is-disabled) {
    label {
      @apply
      cursor-pointer
      ;
    }
    &:focus-visible {
      @apply
      outline-none
      ;
      label {
        @apply
        focus:outline
        focus:outline-offset-2
        focus:outline-1
        focus:outline-main
        ;
      }
    }
  }

  > input:disabled + label,
  .is-disabled > label {
    @apply
    cursor-not-allowed
    ;
  }
}

/* form indicator */
.form-indicator {
  @apply
  relative
  ;
  &::after,
  &::before {
    @apply
    block
    transition-all
    ;
  }
  &::before {
    @apply
    text-main
    absolute
    right-0
    ;
  }
  &:not([data-on]) {
    &::before {
      @apply
      content-['On']
      ;
    }
  }
  &:not([data-off]) {
    &::after {
      @apply
      content-['Off']
      ;
    }
  }
  &[data-on] {
    &::before {
      @apply
      content-[attr(data-on)]
      ;
    }
  }
  &[data-off] {
    &::after {
      @apply
      content-[attr(data-off)]
      ;
    }
  }
}
input {
  &:not(:checked) {
    ~ * {
      &,
      * {
        &.form-indicator {
          &::before {
            @apply
            translate-y-2
            opacity-0
            ;
          }
          &::after {
            @apply
            translate-y-0
            opacity-100
            ;
          }
        }
      }
    }
  }
  &:checked {
    ~ * {
      &,
      * {
        &.form-indicator {
          &::before {
            @apply
            translate-y-0
            opacity-100
            ;
          }
          &::after {
            @apply
            -translate-y-2
            opacity-0
            ;
          }
        }
      }
    }
  }
}

/* form image */

.form-radio,
.form-checkbox,
.form-toggle {
  
  &.form-image {
    perspective: 1000px;
    @apply
    p-0
    text-0
    cursor-pointer
    ;

    > input {
      ~ div:not(.bg-transparent) {
        @apply
        m-0
        bg-cover
        bg-center
        border-0
        overflow-hidden
        transition-[color,background,transform,filter]
        duration-200
        ease-in-out
        origin-center
        opacity-50
        scale-90
        grayscale
        brightness-90
        hover:scale-95
        hover:opacity-75
        hover:grayscale-0
        ;

        &::after,
        &::before {
          @apply
          block
          content-['']
          absolute
          transition-all
          duration-200
          ease-[cubic-bezier(0.9,0,0.1,1)]
          w-8
          h-8
          top-2
          right-2
          opacity-0
          -translate-y-4
          ;
        }

        &::before {
          @apply
          content-['\eb24']
          duration-1000
          font-icon
          text-ui-800
          z-50
          text-center
          leading-8
          text-base
          ;
        }

        &::after {
          @apply
          content-['']
          duration-700
          rounded-full
          bg-main
          shadow-[0_0_0_2px_rgb(var(--color-interaction-500))]
          border-2
          border-ui-800
          z-40
          ;
        }

        > * {
          @apply
          z-0
          ;
          &:not(.absolute) {
            @apply
            relative
            ;
          }
        }
      }

      &:focus-visible:not(:disabled) {
        ~ div:not(.bg-transparent) {
          @apply
          outline
          outline-interaction-300
          outline-offset-2
          ;
        }
      }

      &:checked:not(:disabled) {
        ~ div:not(.bg-transparent) {
          @apply
          opacity-100
          scale-100
          shadow-main
          grayscale-0
          brightness-100
          before:opacity-100
          after:opacity-100
          before:translate-y-0
          after:translate-y-0
          ;
        }
      }
    }
  }
}

/* sizes */

.form-xs {
  label {
    @apply
    pl-8
    py-1
    pr-1
    min-h-[24px]
    min-w-[24px]
    ;
    &:empty {
      @apply
      px-0
      ;
    }
  }
  &.form-radio {
    label {
      &::before {
        @apply
        h-3
        w-3
        left-1
        ;
      }
      &::after {
        @apply
        w-1
        h-1
        left-2
        ;
      }
    }
  }
  &.form-toggle {
    label {
      &::before {
        @apply
        h-3
        w-5
        left-0
        ;
      }
      &::after {
        @apply
        w-1
        h-1
        left-1
        ;
      }
    }
    input:checked {
      + label {
        &::after {
          @apply
          translate-x-2
          ;
        }
      }
    }
  }
  &.form-checkbox {
    label {
      &::before {
        @apply
        h-3
        w-3
        left-1
        rounded
        ;
      }
      &::after {
        @apply
        w-2
        h-1.5
        border-[2px]
        left-1.5
        ;
      }
    }
    input:indeterminate {
      + label {
        &::after {
          @apply
          h-1
          ;
        }
      }
    }
  }
}
.form-sm {
  label {
    @apply
    pl-9
    py-1.5
    pr-1.5
    min-h-[18px]
    min-w-[18px]
    ;
    &:empty {
      @apply
      px-0
      ;
    }
  }
  &.form-radio {
    label {
      &::before {
        @apply
        h-4
        w-4
        left-1
        ;
      }
      &::after {
        @apply
        w-2
        h-2
        left-2
        ;
      }
    }
  }
  &.form-toggle {
    label {
      &::before {
        @apply
        h-4
        w-6
        left-0
        ;
      }
      &::after {
        @apply
        w-2
        h-2
        left-1
        ;
      }
    }
    input:checked {
      + label {
        &::after {
          @apply
          translate-x-2
          ;
        }
      }
    }
  }
  &.form-checkbox {
    label {
      &::before {
        @apply
        h-4
        w-4
        left-1
        rounded
        ;
      }
      &::after {
        @apply
        w-3
        h-2
        border-[2.5px]
        left-1.5
        ;
      }
      &:empty {
        &::before {
          @apply
          !left-0
          ;
        }
        &::after {
          @apply
          !left-0.5
          ;
        }
      }
    }
    input:indeterminate {
      + label {
        &::after {
          @apply
          h-1
          ;
        }
      }
    }
  }
}

/*----------------------------*/
/* INPUT GROUP */
/*----------------------------*/

.input-group {
  @apply
  flex
  items-center
  relative
  ;
  &:not([class*="rounded-"]) {
    @apply
    rounded
    ;
  }

  /* :where(input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], input[type=datetime-local], input[type=file], textarea, button, .button, .button.button-primary) */

  /* > * {
    @apply
    rounded-none
    ;
    &:first-child {
      @apply
      rounded-l
      ;
      &:is(span, div) {
        @apply
        border-r-0
        ;
      }
    }
    &:last-child {
      @apply
      rounded-r
      ;
      &:is(span, div) {
        @apply
        border-l-0
        ;
      }
    }
  } */

  :where(span, div) {
    @apply
    relative
    z-10
    ;
  }

  :where(input, textarea) {
    @apply
    relative
    z-20
    ;
    &:first-child {
      @apply
      rounded-l
      ;
    }
    &:last-child {
      @apply
      rounded-r
      ;
    }
  }

  > .icon, 
  > .button {
    @apply
    relative
    z-30
    ;
    + input,
    + textarea {
      @apply
      rounded-l
      border-l
      relative 
      z-0
      ;
      &:last-child {
        @apply
        rounded-r
        ;
      }
    }
  }

  > .button {
    &.button-ghost {
      + input,
      + textarea {
        @apply
        rounded-r
        border-r
        ;
      }
    }
  }

  > .button.button-primary {
    &:first-child {
      @apply
      rounded-l-none
      ;
      + input,
      + textarea {
        @apply
        border-r-0
        rounded-r-none
        ;
      }
    }
  }

  > span, 
  > div {
    &:not(.icon) {
      @apply
      inline-flex
      justify-center
      items-center
      self-stretch
      border
      border-ui-500
      bg-ui-500/75
      text-ui-200
      text-sm
      px-2.5
      min-w-[38px]
      ;
      &:first-child {
        @apply
        rounded-l
        -mr-px
        ;
      }
      &:last-child {
        @apply
        rounded-r
        -ml-px
        ;
      }
    }
  }

/*----------------------------*/
/* ICON */
/*----------------------------*/

  > .icon {
    @apply
    absolute
    bottom-[calc(50%-calc(18px/2))]
    left-2.5
    text-lg
    text-ui-300
    pointer-events-none
    ;

    ~ :where(input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], input[type=datetime-local], input[type=file], textarea) {
      @apply
      pl-9
      ;
    }

    &.icon-right {
      @apply
      right-2.5
      left-auto
      ;

      ~ input,
      ~ textarea {
        @apply
        pl-2.5
        ;
      }
      ~ input:not([type=date]):not([type=datetime-local]),
      ~ textarea {
        @apply
        pr-9
        ;
      }
    }
  }

  /* button */

  > button, 
  > .button {
    &:not(.button-primary) {
      @apply
      absolute
      right-0
      p-2.5
      ;
      &.button-sm {
        @apply
        right-0.5
        ;
      }
    }

    /* &.button-sm {
      @apply
      right-0.5
      ;
    } */

    &.button-primary {
      @apply
      whitespace-nowrap
      rounded-l-none
      rounded-r
      order-2
      ;
    }
  }
}

/*----------------------------*/
/* NUMBER */
/*----------------------------*/

input.input-number,
.input-number > input {
  @apply
  flex-1
  relative
  z-0
  w-full
  rounded
  pr-10
  ;
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
} 

.input-number {
  @apply
  relative
  flex
  box-border
  ;

  * {
    @apply
    box-border
    ;
  }

  :where(button) {
    @apply
    outline-none
    bg-ui-800/0
    cursor-pointer
    absolute
    z-30
    right-0
    text-0
    px-1
    border
    border-ui-500
    bg-ui-700
    hover:bg-ui-600
    duration-300
    ease-in-out
    ;
    -webkit-appearance: none;

    > * {
      @apply
      text-lg
      duration-75
      ease-in-out
      ;
    }
    &:active {
      @apply
      bg-ui-500
      ;
      > * {
        @apply
        scale-110
        text-ui-100
        ;
      }
    }

    &:first-of-type {
      @apply
      top-0
      h-[calc(50%-0.5px)]
      border-b-0
      rounded-tr
      ;
    }
    &:last-of-type {
      @apply
      bottom-0
      border-t-ui-500/50
      h-[calc(50%+0.5px)]
      rounded-br
      ;
    }
  }
}

/*----------------------------*/
/* VALIDATION */
/*----------------------------*/

.form-group {
  &:where([data-error], [data-success], [data-attention]) {
    &::after,
    .form-info {
      @apply
      block
      text-xs
      mt-1
      leading-none
      max-w-[max-content]
      rounded-sm
      absolute
      bg-ui-800/95
      ;
    }
    &:where(:empty, [data-error=true], [data-success=true], [data-attention=true], [data-error=false], [data-success=false], [data-attention=false]) {
      &::after {
        @apply
        hidden
        ;
      }
    }
  }
  &[data-error] {
    &::after,
    .form-info {
      @apply
      text-error-500
      ;
    }
    &::after {
      @apply
      content-[attr(data-error)]
      ;
    }
    &.is-loading::before {
      @apply
      border-l-error-700
      ;
    }
    .input-group {
      > span, 
      > div {
        &:not(.icon) {
          @apply
          border-error-700
          ;
        }
      }
    }
    .input-number {
      > button {
        @apply
        border-error-700
        ;
      }
    }
    &:not([data-error=false]) {
      :where(input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], input[type=datetime-local], input[type=file], input[type=password], textarea, .input-text, select) {
        @apply
        border-error-700
        focus-visible:outline-error-500
        ;
      }
      :where(.icon, .form-radio, .form-toggle, .form-checkbox) {
        @apply
        text-error-500
        ;
        input {
          &:checked + label::before {
            @apply
            bg-error-500
            from-error-700
            to-error-300
            ;
          }
          & + label::before {
            @apply
            shadow-[0_0_0_2px_rgb(var(--color-error-300))]
          }
        }
      }
    }
  }
  &[data-success] {
    &::after,
    .form-info {
      @apply
      text-success-500
      ;
    }
    &::after {
      @apply
      content-[attr(data-success)]
      ;
    }
    &.is-loading::before {
      @apply
      border-l-success-700
      ;
    }
    .input-group {
      > span, 
      > div {
        &:not(.icon) {
          @apply
          border-success-700
          ;
        }
      }
    }
    .input-number {
      > button {
        @apply
        border-success-700
        ;
      }
    }
    &:not([data-success=false]) {
      :where(input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], input[type=datetime-local], input[type=file], input[type=password], textarea, .input-text, select) {
        @apply
        border-success-700
        focus-visible:outline-success-500
        ;
      }
      :where(.icon, .form-radio, .form-toggle, .form-checkbox) {
        @apply
        text-success-500
        ;
        input {
          &:checked + label::before {
            @apply
            bg-success-500
            from-success-700
            to-success-300
            ;
          }
          & + label::before {
            @apply
            shadow-[0_0_0_2px_rgb(var(--color-success-500))]
          }
        }
      }
    }
  }
  &[data-attention] {
    &::after,
    .form-info {
      @apply
      text-attention-500
      ;
    }
    &::after {
      @apply
      content-[attr(data-attention)]
      ;
    }
    &.is-loading::before {
      @apply
      border-l-attention-700
      ;
    }
    .input-group {
      > span, 
      > div {
        &:not(.icon) {
          @apply
          border-attention-700
          ;
        }
      }
    }
    .input-number {
      > button {
        @apply
        border-attention-700
        ;
      }
    }
    &:not([data-attention=false]) {
      :where(input[type=text], input[type=number], input[type=email], input[type=password], input[type=date], input[type=datetime-local], input[type=file], input[type=password], textarea, .input-text, select) {
        @apply
        border-attention-700
        focus-visible:outline-attention-500
        ;
      }
      :where(.icon, .form-radio, .form-toggle, .form-checkbox) {
        @apply
        text-attention-500
        ;
        input {
          &:checked + label::before {
            @apply
            bg-attention-500
            from-attention-700
            to-attention-300
            ;
          }
          & + label::before {
            @apply
            shadow-[0_0_0_2px_rgb(var(--color-attention-300))]
          }
        }
      }
    }
  }

  /* loading */
  &.is-loading {
    @apply
    relative
    ;

    &::before {
      @apply
      content-['']
      absolute
      z-40
      h-6
      w-6
      block
      border-2
      border-ui-800
      border-l-ui-300
      opacity-100
      rounded-full
      mx-auto
      bottom-1.5
      right-1.5
      animate-[input-loader-rotate_1s_linear_infinite]
      ;
    }

    .icon.icon-right {
      @apply
      opacity-0
      ;
    }

    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    input[type=date],
    input[type=datetime-local],
    textarea,
    .input-text {
      @apply
      pr-10
      ;
    }
    select:not([multiple]){
      @apply
      bg-none
      ;
    }
  }
}

@keyframes input-loader-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* disabled */

.form-group.is-disabled input,
.form-group.is-disabled select,
.form-group.is-disabled textarea,
.form-group.is-disabled label,
input[type=text]:disabled,
input[type=number]:disabled,
input[type=email]:disabled,
input[type=password]:disabled,
input[type=date]:disabled,
input[type=datetime-local]:disabled,
input[type=file]:disabled,
select:disabled,
textarea:disabled,
.input-text:disabled,
input[type=text].is-disabled,
input[type=number].is-disabled,
input[type=email].is-disabled,
input[type=password].is-disabled,
input[type=date].is-disabled,
input[type=datetime-local].is-disabled,
input[type=file].is-disabled,
select.is-disabled,
textarea.is-disabled,
.input-text.is-disabled {
  @apply
  opacity-40
  pointer-events-none
  ;
  /* todo apply disabled color treatment */
}
.form-group.is-disabled {
  @apply
  relative
  cursor-not-allowed
  ;
}


/* input date */

input[type=date]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-webkit-calendar-picker-indicator {
  @apply
  opacity-0
  ;
}


/* range */
input[type=range].form-range {
  @apply
  h-4
  w-full
  cursor-pointer
  appearance-none
  overflow-hidden
  rounded-full
  bg-ui-700/0
  ;

  &:focus {
    @apply
    outline-none
    ;
  }

  &:focus-visible {
    &::-webkit-slider-runnable-track {
      --focus-shadow: 0 0 0 6px var(--color-ui-800) inset, 0 0 0 2rem rgb(var(--color-main)) inset;
    }
    &::-moz-range-thumb {
      --focus-shadow: 0 0 0 6px var(--color-ui-800) inset, 0 0 0 2rem rgb(var(--color-main)) inset;
    }
  }

  &::-webkit-slider-runnable-track {
    @apply
    h-2
    w-full
    rounded-full
    bg-ui-500
    ;
  }

  &::-moz-range-track {
    @apply
    h-2
    w-full
    rounded-full
    bg-ui-500
    ;
  }

  &::-webkit-slider-thumb {
    @apply
    h-4
    w-4
    relative
    top-[50%]
    -translate-y-[50%]
    appearance-none
    border-none
    rounded-full
    text-main
    bg-ui-800
    ;
    --filler-size: 100rem;
    --filler-offset: .5rem;
    box-shadow: 0 0 0 3px rgb(var(--color-main)) inset, var(--focus-shadow, 0 0), calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size)
  }

  &::-moz-range-thumb {
    @apply
    h-4
    w-4
    relative
    appearance-none
    border-none
    rounded-full
    text-main
    bg-ui-800
    ;
    --filler-size: 100rem;
    --filler-offset: .5rem;
    box-shadow: 0 0 0 3px rgb(var(--color-main)) inset, var(--focus-shadow, 0 0), calc(var(--filler-size) * -1 - var(--filler-offset)) 0 0 var(--filler-size)
  }
}

/* input file dropzone */

.form-dropzone {
  @apply
  flex
  justify-center
  items-center
  w-full
  ;
  > label {
    @apply
    flex
    flex-col
    justify-center
    items-center
    w-full
    bg-ui-700
    rounded
    border
    border-ui-500
    border-dashed
    cursor-pointer
    hover:bg-ui-600
    hover:border-ui-400
    active:outline
    active:outline-offset-2
    active:outline-1
    outline-ui-400
    ;

    > div {
      @apply
      flex
      flex-col
      justify-center
      items-center
      text-center
      px-4
      py-8
      text-ui-300
      ;
    }
    > input[type=file] {
      @apply
      hidden
      ;
    }
  }
}

/* number */

@layer utilities {
  input[type="number"] {
    &:not(.is-default) {
      -moz-appearance:textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        @apply
        bg-ui-400
        ;
      }
    }
    &.is-nodefault {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

/* react-select */

div.react-select-container {
  &.is-premium {
    div.react-select__single-value {
      @apply
      text-premium-500
      ;
    }
  }
}

div.react-select__control {
  @apply
  bg-ui-700
  border-ui-500
  text-ui-200
  min-h-[42px]
  min-w-[150px]
  shadow-none
  ;
  &:hover {
    @apply
    border-ui-500
    ;
  }
  &.react-select__control--is-focused {
    @apply
    border-ui-400
    ;
  }
}

div.react-select__placeholder {
  @apply
  text-ui-400
  ;
}

input.react-select__input {
  @apply
  shadow-none
  ;
}
div.react-select__input-container,
div.react-select__single-value {
  @apply
  text-ui-200
  ;
}
span.react-select__indicator-separator {
  @apply
  bg-ui-500
  ;
}
div.react-select__indicator {
  @apply
  text-ui-300
  ;
}
div.react-select__menu {
  @apply
  bg-ui-600
  min-w-[200px]
  ;
}
div.react-select__menu-list {
  @apply
  whitespace-nowrap
  ;
}

div.react-select__option {
  @apply
  bg-ui-600
  ;
  &.react-select__option--is-focused {
    @apply
    bg-ui-500
    ;
  }
}

div.react-select__group:first-child {
  div.react-select__group-heading {
    @apply
    hidden
    ;
  }
}

div.react-select__group:last-child {
  @apply
  text-premium-500
  ;
  > div > div {
    @apply
    text-premium-500
    ;
    &.react-select__option--is-selected {
        @apply
        text-ui-100
        ;
    }
  }
}