/*----------------------------*/
/* GENERAL */
/*----------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  --scroll-behavior: smooth;
  scroll-behavior: var(--scroll-behavior);
}