/*----------------------------*/
/* GENERAL */
/*----------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  --scroll-behavior: auto;
  scroll-behavior: var(--scroll-behavior);
}

body {
  @apply
  max-w-[100vw]
  overflow-x-hidden
  ;
}

/* fix flex overflow */
.flex-1 {
  @apply
  min-w-[0]
  ;
}