@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



@import "./animation";
@import "./avatar";
@import "./badge";
@import "./button";
@import "./card";
@import "./chip";
@import "./colors";
@import "./fonts";
@import "./form";
@import "./general";
@import "./icons";
@import "./links";
@import "./loader";
@import "./menu";
@import "./pagination";
@import "./progressbar";
@import "./scrollbar";
@import "./tabs";
@import "./typography";
@import "./variables";