@import "tailwindcss/base";
@import "tailwindcss/components";


@import "./animation";
@import "./colors";
@import "./fonts";
@import "./form";
@import "./general";
@import "./scrollbar";
@import "./typography";
@import "./variables";



@import "./button.module.css";
@import "./icons.module.css";


@import "./accordion.module.css";
@import "./avatar.module.css";
@import "./badge.module.css";

@import "./card.module.css";
@import "./carousel.module.css";
@import "./chip.module.css";
@import "./data.module.css";

@import "./ladder.module.css";
@import "./links.module.css";
@import "./loader.module.css";
@import "./modal.module.css";
@import "./menu.module.css";
@import "./pagination.module.css";
@import "./progressbar.module.css";
@import "./step.module.css";
@import "./tabs.module.css";
@import "./tooltip.module.css";


@import "tailwindcss/utilities";
