@import "tailwindcss/base";
@import "tailwindcss/components";

@import "./freshdesk.css";

@import "./animation";
@import "./colors";
@import "./fonts";
@import "./form";
@import "./general";
@import "./scrollbar";
@import "./typography";

@import "./button.css";
@import "./icons.css";

@import "./achievements.css";
@import "./alert.css";
@import "./accordion.css";
@import "./avatar.css";
@import "./badge.css";
@import "./battlepass.css";
@import "./bracket.css";
@import "./breadcrumbs.css";
@import "./card.css";
@import "./carousel.css";
@import "./chat.css";
@import "./checkmark.css";
@import "./chip.css";
@import "./code.css";
@import "./countdown.css";
@import "./dailyreward.css";
@import "./drawer.css";
@import "./dropdown.css";
@import "./gauge.css";
@import "./header.css";
@import "./iconholder.css";
@import "./ladder.css";
@import "./link.css";
@import "./listitem.css";
@import "./loader.css";
@import "./mask.css";
@import "./modal.css";
@import "./menu.css";
@import "./navbar.css";
@import "./pagination.css";
@import "./progressbar.css";
@import "./surface.css";
@import "./stat.css";
@import "./step.css";
@import "./stepper.css";
@import "./switch.css";
@import "./table.css";
@import "./tabs.css";
@import "./toast.css";
@import "./tooltip.css";

@import "tailwindcss/utilities";
