/*----------------------------*/
/* HEADER */
/*----------------------------*/

.header {
  @apply
  relative
  flex
  flex-col
  xl:flex-row
  items-stretch
  overflow-hidden
  ;

  &:not([class*="rounded"]) {
    @apply
    rounded-lg
    ;
  }
  
  > .header-bg {
    @apply
    absolute
    hidden
    md:block
    z-0
    right-0
    inset-y-0
    w-full
    animate-slide-in-right
    animate-delay
    ;
    --delay: calc(1 * 0.05s);

    &::before,
    > img {
      @apply
      absolute
      inset-y-0
      right-0
      w-full
      xl:w-1/2
      2xl:w-1/3
      h-full
    }
    &::before {
      @apply
      content-[""]
      z-10
      bg-gradient-to-r
      from-ui-800
      via-ui-800/90
      to-ui-800/75
      2xl:via-ui-800/30
      2xl:to-ui-800/0
      ;
    }
    > img {
      @apply
      z-0
      object-right
      object-cover
      ;
    }
  }
  > .header-breadcrumbs {
    @apply
    absolute
    z-20
    top-1
    left-2
    ;

    ~ .header-content > *:first-child {
      @apply
      pt-12
      md:pt-10
      ;
    }
  }
  > .header-content {
    @apply
    relative
    z-10
    flex-5
    flex
    flex-col
    md:flex-row
    items-center
    ;

    .header-image {
      @apply
      px-4
      md:px-8
      py-4
      flex
      flex-col
      items-center
      justify-center
      gap-4
      w-full
      md:w-1/2
      lg:w-[375px]
      ;
      > img:first-child {
        @apply
        max-h-[175px]
        max-w-[350px]
        w-auto
        ;
      }
    }

    .header-body {
      @apply
      flex-1
      flex-col
      items-start
      justify-center
      py-8
      pl-4
      md:pl-0
      pr-4
      xl:pr-0
      text-center
      md:text-left
      ;
      &:first-child {
        @apply
        pl-4
        lg:pl-8
        ;
      }
      :where(p, ul, li) {
        &:not([class*='max-w']) {
          @apply
          max-w-[50ch]
          ;
        }
      }
      > *:last-child {
        @apply
        !mb-0
        ;
      }
    }
  }
  > .header-meta {
    @apply
    relative
    z-10
    xl:flex-2
    flex
    flex-col
    ;
    &:not([class*="justify-"]) {
      @apply
      justify-center
      ;
    }
    &:not([class*="px-"]):not([class*="pr-"]) {
      @apply
      px-4
      ;
    }

    ~ .header-bg {
      &::before {
        @apply
        from-ui-800
        via-ui-800/90
        to-ui-800/50
        ;
      }
    }
  }
  &.header-transparent {
    @apply
    bg-ui-800/0
    ;
    .header-body { 
      @apply
      px-0
      ;
      &:first-child {
        @apply
        pl-0
        lg:pl-0
        ;
      }
    }
  } 
}

/* variant */

.header.header-secondary {
  @apply
  xl:flex-col
  text-center
  ;

  > .header-bg {
    @apply
    animate-fade-in
    grid
    place-content-center
    relative
    bottom-auto
    -order-1
    aspect-banner
    bg-ui-850
    border-b
    border-b-ui-700
    ;
    &::before {
      @apply
      hidden
      ;
    }
    > img {
      @apply
      absolute
      block
      xl:w-full
      ;
    }
  }
  > .header-content {
    @apply
    md:flex-col
    ;
    > .header-body {
      @apply
      py-4
      ;
    }
  }
  > .header-meta {
    @apply
    items-center
    pt-0
    ;
  }

  &.surface-dimmed {
    > .header-bg {
      @apply
      border-b-ui-800
      ;
    }
  }
}

.header.header-tertiary {
  .header-bg {
    &::before {
      @apply
      from-ui-900/90
      to-ui-900/75
      xl:w-full
      ;
    }
    > img {
      @apply
      xl:w-full
      ;
    }
  }
}

.header.header-quaternary {
  @apply
  static
  bg-ui-800/0
  border-0
  lg:flex-col
  gap-4
  overflow-visible
  ;

  > .header-breadcrumbs {
    @apply
    relative
    ;
  }

  > .header-content > *:first-child {
    @apply
    p-0
    ;
  }

  .header-bg {
    @apply
    absolute
    w-full
    h-full
    opacity-60
    inset-0
    pointer-events-none
    animate-none
    ;

    &::before {
      @apply
      absolute
      z-10
      h-1/2
      inset-x-0
      top-auto
      -bottom-px
      bg-gradient-to-b
      from-ui-900/0
      via-ui-900/40
      to-ui-900
      w-full
      ;
    }
    > img {
      @apply
      absolute
      z-0
      w-full
      h-full
      inset-0
      object-cover
      object-top
      opacity-10
      ;
    }
  }
}

/* no surface */

.header.no-surface {
  @apply
  bg-ui-800/0
  border-0
  ;
  .header-bg {
    @apply
    hidden
    ;
  }
}