/*----------------------------*/
/* LINK */
/*----------------------------*/

:where(.link, .interactive, .interactive-secondary) {
  @apply
  cursor-pointer
  hover:opacity-80
  active:opacity-80
  outline-offset-2
  focus-visible:outline
  focus-visible:outline-main
  transition-[color,background,transform,opacity]
  duration-200
  ease-in-out
  ;
}

.link {
  @apply
  underline
  active:no-underline
  rounded
  ;

  &.link-main {
    @apply
    text-interaction-500
    hover:text-interaction-300
    visited:text-interaction-700
    ;
  }

  &.link-premium {
    @apply
    text-premium-500
    hover:text-premium-300
    visited:text-premium-700
    ;
  }
  
  &.link-hover {
    @apply
    no-underline
    hover:underline
    active:no-underline
    ;
  }
}

.interactive, .interactive-secondary {
  @apply
  active:outline
  active:outline-1
  outline-ui-400
  ;
}

.interactive {
  @apply
  rounded
  active:outline-offset-2
  ;
}

.interactive-secondary {
  @apply
  active:-outline-offset-2
  ;
}

/* hover highlight */


.hoverhighlight {
  > * {
    @apply
    transition
    duration-200
    ease-in-out
    cursor-pointer
    active:scale-[0.99]
    ;
  }
  
  &:hover {
    > * {
      @apply
      opacity-30
      ;
      &:hover {
        @apply
        opacity-100
        ;
      }
    }
  }
}

.link-outline {
  @apply
  outline-offset-2
  ;
}