/*----------------------------*/
/* LIST ITEMS */
/*----------------------------*/

.item {
  @apply
  relative
  flex
  flex-nowrap
  items-center
  gap-2
  p-2
  leading-tight
  ;
  &:not([class*='w-']) {
    @apply
    w-full
    ;
  }
  .item-body {
    &:not([class*='flex-']) {
      @apply
      flex-1
      ;
    }
  }
  .item-image {
    @apply
    flex-none
    text-0
    ;
  }
  .item-title {
    &:not([class*='whitespace-']) {
      @apply
      whitespace-nowrap
      overflow-hidden
      overflow-ellipsis
      ;
    }
  }
  &:not(:last-child):not([class*='border']):not([class*='items-spaced']) {
    @apply
    border-b
    border-ui-700
    ;
  }
  .item-actions {
    @apply
    leading-none
    ;
  }
}

.item-interactive > .item,
.item.item-interactive {
  @apply
  cursor-pointer
  -outline-offset-1
  active:outline
  active:outline-1
  outline-ui-400
  focus-visible:outline
  focus-visible:outline-main
  transition-[color,background,transform,opacity]
  duration-75
  ;
  .item-title {
    &:not([class*="text-"]) {
      @apply
      transition
      duration-300
      ;
    }
  }
  &:hover {
    @apply
    bg-ui-700
    ;
    .item-title {
      &:not([class*="hover:text-"]) {
        @apply
        text-ui-100
        ;
      }
    }
  }
  &:not(.is-active) {
    &:not([class*="text-"]) {
      @apply
      text-ui-300
      ;
    }
  }
  &.is-active {
    @apply
    bg-ui-700
    ;
    .item-title {
      @apply
      text-main
      ;
      &:not([class*="font-regular"]) {
        @apply
        font-bold
        ;
      }
    }
  }
  &:active {
    @apply
    bg-ui-700
    ;
  }
}

ul.item-actions-dimmed > .item,
ul.item-actions-hidden > .item,
.item.item-actions-dimmed,
.item.item-actions-hidden {
  @apply
  transition
  duration-100
  ;
  > .item-actions {
    @apply
    transition
    transform-gpu
    ;
  }
  &:hover {
    @apply
    bg-ui-700/30
    ;
    > .item-actions {
      @apply
      opacity-100
      ;
    }
  }
}
ul.item-actions-dimmed > .item,
.item.item-actions-dimmed {
  > .item-actions {
    @apply
    opacity-20
    duration-75
    ;
  }
  &:hover {
    > .item-actions {
      @apply
      opacity-100
      ;
    }
  }
}
ul.item-actions-hidden > .item,
.item.item-actions-hidden {
  > .item-actions {
    @apply
    opacity-0
    duration-200
    translate-x-1
    ;
  }
  &:hover {
    > .item-actions {
      @apply
      opacity-100
      translate-x-0
      ;
    }
  }
}

.items-spaced {
  > .item {
    @apply
    border
    border-ui-700
    ;
    &:not([class*=surface]){
      @apply
      bg-ui-800
      ;
    }

    &:not([class*=rounded]){
      @apply
      rounded
      ;
    }
  }
}

.divide-y-0,
.divide-0 {
  > .item {
    @apply
    border-none
    ;
  }
}

/* Loading */

.is-loading > .item,
.item.is-loading {
  @apply
  relative
  pointer-events-none
  ;
  
  &,
  *[class*='text-'] {
    @apply
    text-ui-200/0
    ;
  }

  .item-image > *,
  .item-actions > * {
    @apply
    opacity-0
    ;
  }
  .item-body {
    *:not(.item-title) {
      @apply
      bg-ui-200/0
      opacity-0
      ;
    }
  }
  .item-image,
  .item-title,
  .item-image {
    @apply
    relative
    ;
    &::after {
      @apply
      absolute
      inset-0
      content-['']
      block
      rounded
      bg-[linear-gradient(to_right,_rgba(var(--color-ui-400)_/_20%)_8%,_rgba(var(--color-ui-500)_/_50%)_18%,_rgba(var(--color-ui-400)_/_20%)_33%)]
      bg-[length:800px_100%]
      bg-[-200%_center]
      bg-no-repeat
      animate-[loader-list_1s_linear_infinite]
      ;
    }
  }
  .avatar {
    &::after {
      @apply
      inset-0
      ;
    }
  }

  &:nth-child(odd) {
    .item-title {
      &::after {
        @apply
        w-2/3
        ;
      }
    }
  }
  &:nth-child(even) {
    .item-title {
      &::after {
        @apply
        w-2/4
        ;
      }
    }
  }
}

@keyframes loader-list {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}