/*----------------------------*/
/* LIST ITEMS */
/*----------------------------*/

.items {
  
}

.item {
  @apply
  relative
  flex
  flex-nowrap
  items-center
  gap-2
  p-2
  w-full
  ;
  .item-body {
    @apply
    overflow-hidden
    ;
    &:not([class*='flex-']) {
      @apply
      flex-1
      ;
    }
  }
  .item-image {
    @apply
    flex-none
    ;
  }
  .item-title {
    @apply
    whitespace-nowrap
    overflow-hidden
    overflow-ellipsis
    ;
  }
  &:not(:last-child) {
    @apply
    border-b
    border-ui-700
    ;
  }
  .item-actions {
    @apply
    leading-none
    ;
  }
}

ul.item-actions-dimmed > .item,
ul.item-actions-hidden > .item,
.item.item-actions-dimmed,
.item.item-actions-hidden {
  @apply
  transition
  duration-75
  ;
  > .item-actions {
    @apply
    transition
    transform-gpu
    ;
  }
  &:hover {
    @apply
    bg-ui-700/50
    ;
    > .item-actions {
      @apply
      opacity-100
      ;
    }
  }
}
ul.item-actions-dimmed > .item,
.item.item-actions-dimmed {
  > .item-actions {
    @apply
    opacity-20
    duration-75
    ;
  }
  &:hover {
    > .item-actions {
      @apply
      opacity-100
      ;
    }
  }
}
ul.item-actions-hidden > .item,
.item.item-actions-hidden {
  > .item-actions {
    @apply
    opacity-0
    duration-200
    translate-x-1
    ;
  }
  &:hover {
    > .item-actions {
      @apply
      opacity-100
      translate-x-0
      ;
    }
  }
}