/*----------------------------*/
/* LOADER */
/*----------------------------*/


/* spinner */

.loader {
  @apply
  h-16
  w-16
  rounded-full
  block
  mx-auto
  bg-ui-100/0
  opacity-100
  border-2
  border-ui-700
  border-l-main
  animate-[loader-rotate_1s_linear_infinite]
  ;
 }

@keyframes loader-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Stryda loader */

.loader-stryda {
  @apply
  relative
  block
  mx-auto
  h-16
  w-16
  ;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMzUuOTE5IDEuNjIxNjJWNTEuOTY2MUMxMzUuOTE5IDUyLjM5NjIgMTM1Ljc0OCA1Mi44MDg2IDEzNS40NDQgNTMuMTEyN0w3NS41MTgyIDExMy4wMzlDNzUuMjE0MSAxMTMuMzQzIDc0LjgwMTYgMTEzLjUxNCA3NC4zNzE1IDExMy41MTRIMTguNjIxNkMxNy43MjYgMTEzLjUxNCAxNyAxMTIuNzg3IDE3IDExMS44OTJWODcuNTM0NEMxNyA4Ni44OTY2IDE3LjM3NzUgODYuMzE4MiAxNy45NTkyIDg2LjA1NjZDNzAuNDIyNCA2Mi40NjUxIDEwMS44NzMgMzUuMjcyNyAxMDguNjQyIDEuMzE2OTVDMTA4Ljc5NCAwLjU1NDE0NiAxMDkuNDU0IDAgMTEwLjIzMiAwSDEzNC4yOTdDMTM1LjE5MyAwIDEzNS45MTkgMC43MjYwMjcgMTM1LjkxOSAxLjYyMTYyWk04OC44OTE5IDEwMi43MDNMNjYuMTg5MiAyMDBIOTAuMjU0NUM5MS4wMzIzIDIwMCA5MS42OTIxIDE5OS40NDYgOTEuODQ0MiAxOTguNjgzQzk4LjYxMzYgMTY0LjcyNyAxMzAuMDY0IDEzNy41MzUgMTgyLjUyNyAxMTMuOTQzQzE4My4xMDkgMTEzLjY4MiAxODMuNDg2IDExMy4xMDMgMTgzLjQ4NiAxMTIuNDY2Vjg4LjEwODFDMTgzLjQ4NiA4Ny4yMTI1IDE4Mi43NiA4Ni40ODY1IDE4MS44NjUgODYuNDg2NUgxMjYuMTE1QzEyNS42ODUgODYuNDg2NSAxMjUuMjcyIDg2LjY1NzMgMTI0Ljk2OCA4Ni45NjE0TDY1LjA0MjUgMTQ2Ljg4N0M2NC43Mzg0IDE0Ny4xOTEgNjQuNTY3NiAxNDcuNjA0IDY0LjU2NzYgMTQ4LjAzNFYxOTguMzc4QzY0LjU2NzYgMTk5LjI3NCA2NS4yOTM2IDIwMCA2Ni4xODkyIDIwMEw4OC44OTE5IDEwMi43MDNaIiBmaWxsPSIjMTkxQzMwIi8+Cjwvc3ZnPgo=");
  mask-size: cover;
  &::before {
    @apply
    absolute
    content-['']
    inset-0
    bg-cover
    brightness-75
    bg-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMzUuOTE5IDEuNjIxNjJWNTEuOTY2MUMxMzUuOTE5IDUyLjM5NjIgMTM1Ljc0OCA1Mi44MDg2IDEzNS40NDQgNTMuMTEyN0w3NS41MTgyIDExMy4wMzlDNzUuMjE0MSAxMTMuMzQzIDc0LjgwMTYgMTEzLjUxNCA3NC4zNzE1IDExMy41MTRIMTguNjIxNkMxNy43MjYgMTEzLjUxNCAxNyAxMTIuNzg3IDE3IDExMS44OTJWODcuNTM0NEMxNyA4Ni44OTY2IDE3LjM3NzUgODYuMzE4MiAxNy45NTkyIDg2LjA1NjZDNzAuNDIyNCA2Mi40NjUxIDEwMS44NzMgMzUuMjcyNyAxMDguNjQyIDEuMzE2OTVDMTA4Ljc5NCAwLjU1NDE0NiAxMDkuNDU0IDAgMTEwLjIzMiAwSDEzNC4yOTdDMTM1LjE5MyAwIDEzNS45MTkgMC43MjYwMjcgMTM1LjkxOSAxLjYyMTYyWk04OC44OTE5IDEwMi43MDNMNjYuMTg5MiAyMDBIOTAuMjU0NUM5MS4wMzIzIDIwMCA5MS42OTIxIDE5OS40NDYgOTEuODQ0MiAxOTguNjgzQzk4LjYxMzYgMTY0LjcyNyAxMzAuMDY0IDEzNy41MzUgMTgyLjUyNyAxMTMuOTQzQzE4My4xMDkgMTEzLjY4MiAxODMuNDg2IDExMy4xMDMgMTgzLjQ4NiAxMTIuNDY2Vjg4LjEwODFDMTgzLjQ4NiA4Ny4yMTI1IDE4Mi43NiA4Ni40ODY1IDE4MS44NjUgODYuNDg2NUgxMjYuMTE1QzEyNS42ODUgODYuNDg2NSAxMjUuMjcyIDg2LjY1NzMgMTI0Ljk2OCA4Ni45NjE0TDY1LjA0MjUgMTQ2Ljg4N0M2NC43Mzg0IDE0Ny4xOTEgNjQuNTY3NiAxNDcuNjA0IDY0LjU2NzYgMTQ4LjAzNFYxOTguMzc4QzY0LjU2NzYgMTk5LjI3NCA2NS4yOTM2IDIwMCA2Ni4xODkyIDIwMEw4OC44OTE5IDEwMi43MDNaIiBmaWxsPSIjMTkxQzMwIi8+Cjwvc3ZnPgo=')]
    ;
  }


  > div {
    @apply
    absolute
    inset-0
    flex
    animate-[loader-stryda_2s_cubic-bezier(.8,0,.2,1)_infinite]
    overflow-hidden
    ;

    /*rotate-45*/

    > i {
      @apply
      flex-1
      transform-gpu
      bg-main
      ;

      transform: translate3D(0, 0, 0);

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        @apply
        animate-[loader-stryda-even_2s_cubic-bezier(.8,0,.2,1)_infinite]
        ;
      }
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        @apply
        animate-[loader-stryda-odd_2s_cubic-bezier(.8,0,.2,1)_infinite]
        ;
      }
      &:nth-child(4),
      &:nth-child(5) {
        animation-delay: 0.1s;
      }
      &:nth-child(3),
      &:nth-child(6) {
        animation-delay: 0.2s;
      }
      &:nth-child(2),
      &:nth-child(7) {
        animation-delay: 0.3s;
      }
      &:nth-child(1),
      &:nth-child(8) {
        animation-delay: 0.4s;
      }
    }
  }
}

@keyframes loader-stryda {
  0% {
    transform: rotate(55deg);
  }
  30%,
  70% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(55deg);
  }
}
@keyframes loader-stryda-even {
  0% {
    transform: translate3D(-400%, 0, 0);
  }
  20%,
  80% {
    transform: translate3D(0, 0, 0);
  }
  100% {
    transform: translate3D(-400%, 0, 0);
  }
}
@keyframes loader-stryda-odd {
  0% {
    transform: translate3D(400%, 0, 0);
  }
  20%,
  80% {
    transform: translate3D(0, 0, 0);
  }
  100% {
    transform: translate3D(400%, 0, 0);
  }
}

/* sizes */


.loader,
.loader-stryda {
  
  @apply
  h-16
  w-16
  ;

  &.loader-xl {
    @apply 
    h-32
    w-32;
  }
  &.loader-lg {
    @apply 
    h-24
    w-24;
  }
  &.loader-md {
    @apply 
    h-16
    w-16;
  }
  &.loader-sm {
    @apply 
    h-10
    w-10;
  }
  &.loader-xs {
    @apply
    h-6
    w-6;
  }
}


/* loader-message */

.loader-message {
  @apply
  text-ui-300
  relative
  -translate-y-9
  ;
  
  &,
  &::before,
  &::after {
    @apply
    content-[""]
    rounded-full
    w-4
    h-4
    animate-[loader-message_1.8s_ease-in-out_both_infinite];
  }

  &::before,
  &::after {
    @apply
    top-0
    absolute
    ;
  }

  &::before {
    @apply
    -left-5
    ;
    animation-delay: 0s;
  }
  &::after {
    @apply
    left-5
    ;
    animation-delay: 0.32s;
  }
  animation-delay: 0.16s;
}


@-webkit-keyframes loader-message {
  0%,
  80%,
  100% {
    box-shadow: 0 2.25em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.25em 0 0;
  }
}
@keyframes loader-message {
  0%,
  80%,
  100% {
    box-shadow: 0 2.25em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.25em 0 0;
  }
}