/*----------------------------*/
/* MENU */
/*----------------------------*/

.menu {
  @apply
  m-0
  p-0
  list-none
  transform-gpu
  ;

  &.menu-rounded {
    a,
    button {
      @apply
      rounded
      overflow-hidden
      ;
    }
  }

  :where(li) {
    @apply
    transition-all
    duration-200
    ease-in-out
    ;
  }

  :where(li).separator {
    @apply
    bg-ui-700
    h-px
    w-full
    my-2
    select-none
    ;
  }

  :where(a, button) {
    @apply
    relative
    inline-flex
    w-full
    items-center
    space-x-2
    px-2
    py-2
    text-ui-300
    cursor-pointer
    transition-all
    duration-200
    ease-[cubic-bezier(.7,0,.3,1)]
    focus-visible:outline
    focus-visible:outline-1
    focus-visible:outline-main
    ;

    > * {
      @apply
      relative
      z-20
      select-none
      transition
      ease-linear
      duration-75
      ;

      &:not([class*='icon']) {
        @apply 
        font-headings
        tracking-wide
        block
        ;
      }
      &.icon {
        @apply
        text-base
        ;
      }
    }

    &::after {
      @apply 
      absolute
      z-10
      content-['']
      inset-0
      bg-ui-700
      transition-all
      duration-200
      ease-[cubic-bezier(.7,0,.3,1)]
      opacity-0
      scale-y-0
      translate-y-2
      ;
    }

    &:hover,
    &:focus-visible,
    &.is-active {
      &,
      > * {
        @apply
        text-mono-100
        z-20
        ;
      }
      
      &::after {
        @apply
        opacity-100
        scale-y-100
        translate-y-0
        duration-75
        ;
      }
    }

    &:active {
      &:hover,
      &:focus {
        &,
        &::after {
          @apply
          bg-ui-700/25
          ;
        }
      }
    }
  }

  :where(li).is-disabled {
    a,
    button {
      @apply
      pointer-events-none
      text-ui-500
      ;
    }
  }

  &.menu-secondary {
    :where(a, button) {
      > * {
        @apply
        font-body
        text-sm
        ;
      }
      &.is-active {
        @apply
        font-bold
        ;
      }
    }
  }

  > :where(li) {
    :where(ul) {
      @apply
      flex
      flex-col
      items-stretch
      ;
    }
    >:where(ul) {
      @apply
      absolute
      hidden
      left-full
      rounded-lg
      bg-ui-800
      border
      border-ui-700
      overflow-hidden
      top-0
      ;
      :where(li) {
        @apply
        w-full
        whitespace-nowrap
        ;
      }
    }
    &:hover {
      >:where(ul) {
        @apply
        flex
        ;
      }
    }
  }
}

.menu:not([class*=horizontal]) {
  :where(a, button) {
    &:hover,
    &:focus-visible,
    &.is-active {
      > *:not(.icon) {
        @apply 
        translate-x-1
        ;
      }
    }
  }
}

/* horizontal */
.menu.menu-horizontal {
  @apply
  inline-flex
  flex-row
  ;
  :where(a, button) {
    @apply 
    px-4
    ;
    &::after {
      @apply 
      rounded
      ;
    }
  }
  >:where(li) {
    > :where(ul) {
      @apply
      top-full
      left-[initial]
      ;
    }
  }
}
@screen sm {
  .menu {
    &.sm\:menu-horizontal {
      @apply
      inline-flex
      flex-row
      ;
      :where(a, button) {
        @apply 
        px-4
        ;
        &::after {
          @apply 
          rounded
          ;
        }
      }
    }
  }
}
@screen md {
  .menu {
    &.md\:menu-horizontal {
      @apply
      inline-flex
      flex-row
      ;
      :where(a, button) {
        @apply 
        px-4
        ;
        &::after {
          @apply 
          rounded
          ;
        }
      }
    }
  }
}
@screen lg {
  .menu {
    &.lg\:menu-horizontal {
      @apply
      inline-flex
      flex-row
      ;
      :where(a, button) {
        @apply 
        px-4
        ;
        &::after {
          @apply 
          rounded
          ;
        }
      }
    }
  }
}
@screen xl {
  .menu {
    &.xl\:menu-horizontal {
      @apply
      inline-flex
      flex-row
      ;
      :where(a, button) {
        @apply 
        px-4
        ;
        &::after {
          @apply 
          rounded
          ;
        }
      }
    }
  }
}