/*----------------------------*/
/* MENU */
/*----------------------------*/

.menu {
  @apply
  m-0
  p-0
  list-none
  ;

  li {
    @apply
    transition-all
    transform-gpu
    duration-200
    ease-in-out
    ;
  }

  li.separator {
    @apply
    bg-ui-700
    h-px
    w-full
    my-2
    select-none
    ;
  }

  a,
  button {
    @apply
    relative
    inline-flex
    w-full
    items-center
    space-x-2
    px-2
    py-2
    text-ui-300
    cursor-pointer
    transition-all
    transform-gpu
    duration-200
    ease-[cubic-bezier(.7,0,.3,1)]
    focus-visible:outline
    focus-visible:outline-1
    focus-visible:outline-main
    rounded
    overflow-hidden
    ;

    > * {
      @apply
      relative
      z-20
      select-none
      transition
      transform-gpu
      ease-linear
      duration-75
      ;

      &:not([class*='icon']) {
        @apply 
        font-headings
        tracking-wide
        block
        ;
      }
      &.icon {
        @apply
        text-base
        ;
      }
    }

    &::after {
      @apply 
      absolute
      z-10
      content-['']
      inset-0
      bg-ui-700
      transition-all
      transform-gpu
      duration-200
      ease-[cubic-bezier(.7,0,.3,1)]
      opacity-0
      scale-y-0
      translate-y-2
      ;
    }

    &:hover,
    &:focus-visible,
    &.is-active {
      @apply
      text-white
      z-20
      ;
      > *:not(.icon) {
        @apply 
        translate-x-1
        ;
      }
      &::after {
        @apply
        opacity-100
        scale-y-100
        translate-y-0
        duration-75
        ;
      }
    }

    &:active {
      &:hover,
      &:focus {
        &,
        &::after {
          @apply
          bg-ui-700/25
          ;
        }
      }
    }
  }

  li.is-disabled {
    a,
    button {
      @apply
      pointer-events-none
      text-ui-500
      ;
    }
  }

  &.menu-secondary {
    a,
    button {
      > * {
        @apply
        font-body
        text-sm
        ;
      }
    }
  }
}