/*----------------------------*/
/* SURFACE */
/*----------------------------*/


.surface {
  @apply
  relative
  bg-ui-800
  border
  border-ui-700
  ;
}
.surface {


  &.surface-highlight,
  &.surface-highlight-main {
    @apply
    border-main
    drop-shadow-main
    ;
  }

  &.surface-highlight-blue {
    @apply
    border-blue-300
    drop-shadow-blue
    ;
  }

  &.surface-highlight-premium {
    @apply
    border-gold-300
    drop-shadow-premium
    ;
  }

  &.surface-halo {
    @apply
    relative
    overflow-hidden
    ;
    
    &::after {
      @apply
      absolute
      z-0
      content-['']
      block
      -bottom-16
      bg-gradient-radial
      from-blue-500/75
      via-blue-700/0
      to-purple-500/0
      rounded-full
      h-32
      w-96
      blur-lg
      left-[calc(50%-12rem)]
      pointer-events-none
      ;
    }

    &.halo-l {
      &::after {
        @apply
        -left-48
        ;
      } 
    }
    &.halo-r {
      &::after {
        @apply
        left-auto
        -right-48
        ;
      } 
    }
    &.halo-t {
      &::after {
        @apply
        -top-12
        ;
      } 
    }
  }
}

.surface-transparent {
  @apply
  border-ui-700/0
  bg-ui-800/0
  ;
}

/* blur container */

.blurcontainer {
  position: relative;
  //overflow: visible;
  > i {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0deg;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate))
        skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    &::after {
      height: 60px;
      bottom: -30px;
      border-radius: 100%;
      filter: blur(29px);
      background: radial-gradient(
        60% 1530% at 72% 50%,
        #12d4ff 0%,
        #1277ef 30%,
        rgba(var(--color-dark-900-rgb), 0) 100%
      );
    }

    ~ * {
      position: relative;
      z-index: 1;
    }
  }

  &.blurcontainer-1 {
    > i {
      &::before {
      }
      &::after {
        height: 60px;
        top: -10%;
        left: -50%;
        border-radius: 100%;
        filter: blur(80px);
        opacity: 0.33;
        background: radial-gradient(
          60% 1530% at 72% 50%,
          #aaf0ff 0%,
          #0079ff 30%,
          rgba(var(--color-dark-900-rgb), 0) 100%
        );
      }
      @media only screen and (max-width: 768px) {
        &::after {
          opacity: 0.22;
          filter: blur(40px);
        }
      }
    }
  }

  &.blurcontainer-2 {
    > i {
      &::before {
        height: 60px;
        top: -10%;
        left: -50%;
        border-radius: 100%;
        filter: blur(80px);
        opacity: 0.33;
        background: radial-gradient(
          60% 1530% at 72% 50%,
          #aaf0ff 0%,
          #0079ff 30%,
          rgba(var(--color-dark-900-rgb), 0) 100%
        );
      }
      &::after {
        height: 120px;
        bottom: -10%;
        right: -50%;
        border-radius: 100%;
        filter: blur(80px);
        opacity: 0.33;
        background: radial-gradient(
          60% 1530% at 72% 50%,
          #aaf0ff 0%,
          #0079ff 30%,
          rgba(var(--color-dark-900-rgb), 0) 100%
        );
      }
      @media only screen and (max-width: 768px) {
        &::before,
        &::after {
          opacity: 0.22;
          filter: blur(40px);
        }
      }
    }
  }

  &.blurcontainer-3 {
    > i {
      &::before {
      }
      &::after {
        background: radial-gradient(
          60% 1530% at 100% 50%,
          #aaf0ff 0%,
          #0079ff 30%,
          rgba(var(--color-dark-900-rgb), 0) 100%
        );
      }
      @media only screen and (max-width: 768px) {
        &::after {
          opacity: 0.22;
          filter: blur(40px);
        }
      }
    }
  }
}

/* colors */
.surface {
  &.surface-dimmed {
    @apply
    bg-ui-850
    border-ui-700/50
  }
  
  &.surface-ui-900 {
    @apply
    border
    bg-ui-900
    border-ui-800
    ;
    .progressbar {
      @apply
      bg-ui-700
      ;
    }
  }
  &.surface-ui-800 {
    @apply
    border
    bg-ui-800
    border-ui-700
    ;
    .progressbar {
      @apply
      bg-ui-600
      ;
    }
  }
  &.surface-ui-700 {
    @apply
    border
    bg-ui-700
    border-ui-600
    ;
    .progressbar {
      @apply
      bg-ui-500
      ;
    }
  }
  &.surface-ui-600 {
    @apply
    border
    bg-ui-600
    border-ui-500
    ;
    .progressbar {
      @apply
      bg-ui-400
      ;
    }
  }
  &.surface-premium,
  &.surface-unlocked {
    @apply
    border
    border-premium-700/25
    bg-ui-800
    ;
    .progressbar {
      @apply
      bg-premium-700
      ;
    }
  }
  &.surface-main {
    @apply
    border
    border-main
    bg-ui-800
    ;
  }
}
