/*----------------------------*/
/* SURFACE */
/*----------------------------*/


.surface {
  @apply
  relative
  bg-ui-800
  border
  border-ui-700
  ;
}

.surface {
  &.surface-highlight,
  &.surface-highlight-main {
    @apply
    border-main
    drop-shadow-main
    ;
  }

  &.surface-highlight-blue {
    @apply
    border-blue-300
    drop-shadow-blue
    ;
  }

  &.surface-highlight-premium {
    @apply
    border-premium-500
    ;
  }
}



.surface-halo {
  @apply
  relative
  ;
  &:not(.halo-l):not(.halo-r):not(.halo-t):not(.halo-b) {
    @apply
    border-t
    !border-t-main
    ;
  }

  &.halo-l {
    @apply
    border-l
    !border-l-main
    ;
  }
  &.halo-r {
    @apply
    border-r
    !border-r-main
    ;
  }
  &.halo-t {
    @apply
    border-t
    !border-t-main
    ;
  }
  &.halo-b {
    @apply
    border-b
    !border-b-main
    ;
  }
}

.surface-transparent {
  @apply
  border
  border-ui-700/0
  bg-ui-800/0
  ;
}

/* loading */

.surface {
  > * {
    @apply
    transition-opacity
    duration-1000;
  }
  &:not(.is-loading) {
    > *:not([class*=opacity-]) {
      @apply
      opacity-100;
    }
  }
  &.is-loading {
    @apply 
    relative
    pointer-events-none
    bg-ui-800
    bg-[length:800px_100%]
    bg-[-200%_center]
    bg-no-repeat
    animate-[surface-loader_1s_linear_infinite]
    opacity-100
    ;
    background-image: linear-gradient(
      to right,
      rgba(var(--color-ui-800) / 100%) 8%,
      rgba(var(--color-ui-700) / 100%) 18%,
      rgba(var(--color-ui-800) / 100%) 33%
    );
    &,
    *,
    [class*="text-"] {
      @apply 
      !text-ui-800/0;
    }
    * {
      @apply
      !opacity-0
      !bg-ui-800/0
      ;
    }
  }
}

@keyframes surface-loader {
  0% {
    background-position: -900px 0;
  }
  100% {
    background-position: 900px 0;
  }
}

/* interactive */

.surface {
  &.interactive {
    @apply
    -outline-offset-1
    transition
    duration-100
    hover:border-ui-500
    ;
  }
}

/* colors */
.surface-dimmed {
  @apply
  bg-ui-850
  border
  border-ui-700/50
  ;
}

.surface-ui-900 {
  @apply
  bg-ui-900
  border
  border-ui-800
  ;
  .progressbar {
    @apply
    bg-ui-700
    ;
  }
}

.surface-ui-800 {
  @apply
  bg-ui-800
  border
  border-ui-700
  ;
  .progressbar {
    @apply
    bg-ui-600
    ;
  }
}

.surface-ui-700 {
  @apply
  bg-ui-700
  border
  border-ui-600
  ;
  .progressbar {
    @apply
    bg-ui-500
    ;
  }
}

.surface-ui-600 {
  @apply
  bg-ui-600
  border
  border-ui-500
  ;
  .progressbar {
    @apply
    bg-ui-400
    ;
  }
}

.surface-premium,
.surface-unlocked {
  @apply
  border
  border-premium-700/25
  bg-ui-800
  ;
  .progressbar {
    @apply
    bg-premium-700
    ;
  }
}
.surface-main {
  @apply
  border
  border-main
  bg-ui-800
  ;
}

/* responsive surfaces */

@media only screen and (min-width: 640px) {
	.sm\:surface {
    @apply
    bg-ui-800
    border
    border-ui-700
    ;
  }
  .sm\:surface-dimmed {
    @apply
    bg-ui-850
    border
    border-ui-700/50
    ;
  }
  
  .sm\:surface-ui-900 {
    @apply
    bg-ui-900
    border
    border-ui-800
    ;
    .progressbar {
      @apply
      bg-ui-700
      ;
    }
  }
  .sm\:surface-ui-800 {
    @apply
    bg-ui-800
    border
    border-ui-700
    ;
    .progressbar {
      @apply
      bg-ui-600
      ;
    }
  }
  .sm\:surface-ui-700 {
    @apply
    bg-ui-700
    border
    border-ui-600
    ;
    .progressbar {
      @apply
      bg-ui-500
      ;
    }
  }
  .sm\:surface-ui-600 {
    @apply
    bg-ui-600
    border
    border-ui-500
    ;
    .progressbar {
      @apply
      bg-ui-400
      ;
    }
  }
  .sm\:surface-premium,
  .sm\:surface-unlocked {
    @apply
    border-premium-700/25
    bg-ui-800
    ;
    .progressbar {
      @apply
      bg-premium-700
      ;
    }
  }
  .sm\:surface-main {
    @apply
    border-main
    bg-ui-800
    ;
  }
}
@media only screen and (min-width: 768px) {
	.md\:surface {
    @apply
    bg-ui-800
    border
    border-ui-700
    ;
  }
  .md\:surface-dimmed {
    @apply
    bg-ui-850
    border
    border-ui-700/50
    ;
  }
  
  .md\:surface-ui-900 {
    @apply
    bg-ui-900
    border
    border-ui-800
    ;
    .progressbar {
      @apply
      bg-ui-700
      ;
    }
  }
  .md\:surface-ui-800 {
    @apply
    bg-ui-800
    border
    border-ui-700
    ;
    .progressbar {
      @apply
      bg-ui-600
      ;
    }
  }
  .md\:surface-ui-700 {
    @apply
    bg-ui-700
    border
    border-ui-600
    ;
    .progressbar {
      @apply
      bg-ui-500
      ;
    }
  }
  .md\:surface-ui-600 {
    @apply
    bg-ui-600
    border
    border-ui-500
    ;
    .progressbar {
      @apply
      bg-ui-400
      ;
    }
  }
  .md\:surface-premium,
  .md\:surface-unlocked {
    @apply
    border-premium-700/25
    bg-ui-800
    ;
    .progressbar {
      @apply
      bg-premium-700
      ;
    }
  }
  .md\:surface-main {
    @apply
    border-main
    bg-ui-800
    ;
  }
}
@media only screen and (min-width: 1024px) {
	.lg\:surface {
    @apply
    bg-ui-800
    border
    border-ui-700
    ;
  }
  .lg\:surface-dimmed {
    @apply
    bg-ui-850
    border
    border-ui-700/50
    ;
  }
  
  .lg\:surface-ui-900 {
    @apply
    bg-ui-900
    border
    border-ui-800
    ;
    .progressbar {
      @apply
      bg-ui-700
      ;
    }
  }
  .lg\:surface-ui-800 {
    @apply
    bg-ui-800
    border
    border-ui-700
    ;
    .progressbar {
      @apply
      bg-ui-600
      ;
    }
  }
  .lg\:surface-ui-700 {
    @apply
    bg-ui-700
    border
    border-ui-600
    ;
    .progressbar {
      @apply
      bg-ui-500
      ;
    }
  }
  .lg\:surface-ui-600 {
    @apply
    bg-ui-600
    border
    border-ui-500
    ;
    .progressbar {
      @apply
      bg-ui-400
      ;
    }
  }
  .lg\:surface-premium,
  .lg\:surface-unlocked {
    @apply
    border-premium-700/25
    bg-ui-800
    ;
    .progressbar {
      @apply
      bg-premium-700
      ;
    }
  }
  .lg\:surface-main {
    @apply
    border-main
    bg-ui-800
    ;
  }
}
@media only screen and (min-width: 1280px) {
	.xl\:surface {
    @apply
    bg-ui-800
    border
    border-ui-700
    ;
  }
  .xl\:surface-dimmed {
    @apply
    bg-ui-850
    border
    border-ui-700/50
    ;
  }
  
  .xl\:surface-ui-900 {
    @apply
    bg-ui-900
    border
    border-ui-800
    ;
    .progressbar {
      @apply
      bg-ui-700
      ;
    }
  }
  .xl\:surface-ui-800 {
    @apply
    bg-ui-800
    border
    border-ui-700
    ;
    .progressbar {
      @apply
      bg-ui-600
      ;
    }
  }
  .xl\:surface-ui-700 {
    @apply
    bg-ui-700
    border
    border-ui-600
    ;
    .progressbar {
      @apply
      bg-ui-500
      ;
    }
  }
  .xl\:surface-ui-600 {
    @apply
    bg-ui-600
    border
    border-ui-500
    ;
    .progressbar {
      @apply
      bg-ui-400
      ;
    }
  }
  .xl\:surface-premium,
  .xl\:surface-unlocked {
    @apply
    border-premium-700/25
    bg-ui-800
    ;
    .progressbar {
      @apply
      bg-premium-700
      ;
    }
  }
  .xl\:surface-main {
    @apply
    border-main
    bg-ui-800
    ;
  }
}
