/*----------------------------*/
/* TABS */
/*----------------------------*/

@layer components {
  .tabs,
  .tabs-horizontal {
    @apply
    w-auto
    flex
    flex-row
    flex-nowrap
    items-stretch
    whitespace-nowrap
    relative
    text-left
    divide-y-0
    shadow-none
    ;
    &:is(:empty) {
      @apply
      hidden
      ;
    }
    :where(a, button, .button) {
      @apply
      relative
      flex
      justify-center
      items-center
      gap-2 
      text-ui-300
      cursor-pointer
      select-none
      transition
      duration-100
      ease-in-out
      outline-offset-[-1px]
      focus-visible:rounded
      focus-visible:outline
      focus-visible:outline-1
      focus-visible:outline-main
      ;
      .icon-arrow-sm-down {
        @apply
        rotate-0
        ;
      }
      > span {
        @apply
        flex
        items-center
        gap-2
        relative
        z-10
        ;
      }
      > span,
      > div {
        @apply
        transition
        ease-linear
        duration-[0s]
        ;
      }
      &::before,
      &::after {
        @apply
        transition
        duration-200
        ease-[cubic-bezier(0.7,0,0.1,1)]
        ;
      }

      &::before {
        @apply
        bg-ui-300/0
        ;
      }
      &::after {
        @apply
        content-['']
        absolute
        z-0
        block
        h-1
        w-full
        top-auto
        bottom-0
        inset-x-0
        bg-main
        opacity-0
        scale-x-0
        ;
      }

      &:hover,
      &:active {
        @apply
        text-mono-100
        ;
      }

      &.is-active {
        @apply
        text-main
        ;
        .icon-arrow-sm-down {
          @apply
          rotate-0
          ;
        }
      }

      &.is-active,
      &:active,
      &:hover {
        &::after {
          @apply
          opacity-100
          scale-x-100
          ;
        }
      }
    }

    > li {
      @apply
      flex
      justify-center
      items-stretch
      relative
      transition
      duration-300
      ease-in-out
      leading-none
      text-center
      ;

      &.is-disabled {
        @apply
        opacity-50
        pointer-events-none
        ;
      }

      > :where(a, button, .button) {
        @apply
        p-4
        ;
      }

      ul {
        @apply
        flex
        flex-col
        items-stretch
        ;
      }
      > ul {
        @apply
        absolute
        block
        text-base
        transition-all
        duration-100
        origin-top
        ease-[cubic-bezier(.8,0,.3,1)]
        pointer-events-none
        scale-y-75
        opacity-0
        w-full
        rounded-lg
        bg-ui-600
        border
        border-ui-500
        shadow-xl
        overflow-hidden
        top-full
        ;
        li {
          @apply
          w-full
          whitespace-nowrap
          ;
          > :where(a, button, .button) {
            @apply
            px-4
            py-3
            w-full
            ;
            &::after {
              @apply
              h-full
              bg-ui-400/10
              transition-all
              duration-200
              ease-[cubic-bezier(.7,0,.3,1)]
              opacity-0
              scale-x-100
              scale-y-0
              translate-y-2
            }
            &.is-active,
            &:hover {
              &::after {
                @apply
                opacity-100
                scale-y-100
                translate-y-0
                duration-75
              }
            }
            &.is-active {
              @apply
              pointer-events-none
              ;
              &::after {
                @apply
                bg-ui-400/25
              }
            }
            &:hover:not(.is-active),
            &:active {
              @apply
              text-mono-100
              ;
            }
          }
        }
      }
      &:hover {
        > ul {
          @apply
          pointer-events-auto
          scale-y-100
          opacity-100
          ;
        }
      }
    }

    &::after {
      @apply
      content-['']
      h-px
      w-full
      bg-ui-800
      absolute
      bottom-0
      inset-x-0
      hidden
      ;
    }
  }
  .tabs-stretch {
    > li {
      @apply
      flex-1
      ;
      > :where(a, button, .button) {
        @apply
        w-full
        ;
      }
    }
  }
  .tabs-vertical {
    @apply
    w-full
    inline-flex
    flex-col
    items-stretch
    divide-y
    divide-ui-300/10
    shadow-[0_0_0_1px_rgba(var(--color-ui-300)/10%)]
    ;

    > li {
      @apply
      flex-col
      justify-start
      ;
      > ul {
        @apply
        hidden
        relative
        scale-100
        top-auto
        rounded-none
        border-none
        bg-ui-800
        shadow-none
        opacity-100
        ;
        > li {
          :where(a, button, .button) {
            @apply
            text-sm
            pl-8
            ;
          }
        }
      }
    }

    :where(a, button, .button) {
      @apply
      w-full
      text-left
      justify-between
      py-3.5
      ;
      .icon-arrow-sm-down {
        @apply
        transition-transform
        duration-100
        -rotate-90
        ;
      }
      &::before {
        @apply 
        absolute
        z-10
        content-['']
        inset-0
        bg-ui-300
        transition-all
        duration-200
        ease-[cubic-bezier(.7,0,.3,1)]
        opacity-0
        scale-y-0
        translate-y-2
        ;
      }
      &::after {
        @apply
        h-full
        w-1
        inset-y-0
        inset-x-auto
        scale-x-100
        scale-y-0
        left-0
        ;
      }

      &:hover,
      &:focus-visible,
      &.is-active,
      &:active {

        &::before {
          @apply
          opacity-5
          scale-y-100
          translate-y-0
          duration-75
          ;
        }

        &::after {
          @apply
          scale-y-100
          ;
        }
      }

      &.is-active {
        + ul {
          @apply
          block
          ;
        }
        .icon-arrow-sm-down {
          @apply
          rotate-0
          ;
        }
      }
    }
  }
}

.tabs:not(.tabs-rank):not(.tabs-tertiary) {
  li {
    > a,
    > button,
    > div {
      &:active {
        > span,
        > div {
          @apply 
          translate-y-0.5
          ;
        }
      }
    }
  }
} 

.tabs.tabs-secondary {
  :where(a, button, .button) {
    @apply
    font-body
    leading-none
    text-sm
    uppercase
    ;
    &:not([class*="px-"]) {
      @apply
      px-4
      ;
    }
  }
} 

.tabs.tabs-tertiary {
  @apply
  gap-2
  pt-0
  ;
  li {
    > a, 
    > button,
    > div {
      @apply
      rounded-full
      py-1.5
      px-4
      leading-tight
      transition-[color,background,transform]
      inline-flex
      gap-2
      items-center
      duration-75
      bg-ui-700
      hover:bg-ui-600
      active:bg-ui-500
      text-ui-200
      hover:text-ui-100
      active:text-ui-100
      outline
      -outline-offset-1
      outline-1
      outline-interaction-500/0
      focus-visible:outline
      focus-visible:outline-1
      focus-visible:outline-ui-100
      active:outline-ui-100
      ;
      &::before,
      &::after {
        @apply
        hidden
        ;
      }
      [data-badge]::after {
        @apply
        top-1
        ;
      }
      &.is-active {
        @apply
        text-ui-800
        bg-interaction-500
        hover:bg-interaction-300
        active:bg-interaction-700
        ;
        [data-badge]::after {
          @apply
          bg-ui-900
          ;
        }
      }
    }
  }
} 

/* scrollbar hidden if overflow */
.tabs:not([class*=scrollbar]) {
  -webkit-overflow-scrolling: touch;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}

/* Tabs rank */

.tabs.tabs-rank {
  @apply
  gap-4
  pt-0
  ;
  &:not([class*=px-]) {
    @apply
    px-6
    ;
  }
  &::after {
    @apply
    hidden
    ;
  }
  > li {
    @apply
    flex-none
    items-center
    ;
    
    > a, 
    > button,
    > div {
      @apply
      p-0
      relative
      block
      min-w-[255px]
      focus-visible:outline-main/0
      ;
      &:not(.is-active) {
        @apply
        opacity-60
        scale-95
        ;
      }
      :where([class*=icon-rank]) {
        @apply
        duration-300
        ease-in-out
        scale-75
        ;
      }

      &:focus-visible {
        > div {
          > div:first-child {
            @apply
            rounded
            outline
            outline-offset-2
            outline-1
            outline-main
            ;
          }
        }
      }
      
      &::before,
      &::after {
        @apply
        content-['']
        w-0.5
        h-full
        absolute
        z-50
        transition
        duration-300
        ease-[cubic-bezier(0.2,0,0.8,1)]
        opacity-0
        inset-y-0
        scale-x-150
        shadow-[inset_0_0_0_1px_rgba(255,255,255,0.25)]
        bg-main
        ;
      }
      &::before {
        @apply
        left-0
        right-auto
        origin-left
        translate-x-2
      }
      &::after {
        @apply
        right-0
        left-auto
        origin-right
        -translate-x-2
      }
      > div {
        @apply
        flex
        w-full
        gap-8
        items-center
        justify-center
        p-4
        ;
        > * {
          @apply
          flex
          gap-4
          items-center
          relative 
          z-20
          ;
        }
        &::before,
        &::after {
          @apply
          content-['']
          absolute
          z-10
          inset-0
          h-full
          w-full
          transition-all
          duration-200
          ease-[cubic-bezier(.7,0,.3,1)]
          ;
        }
        &::before {
          @apply
          z-10
          bg-ui-700
          scale-y-0
          translate-y-2
          opacity-0
          ;
        }
        &::after {
          @apply
          z-0
          bg-ui-800
          ;
        }
      }
      &.is-active {
        :where([class*=icon-rank]) {
          @apply
          scale-100
          ;
        }
        &::before,
        &::after {
          @apply
          scale-x-100
          translate-x-0
          opacity-100
          ;
        }
        > div {
          &::before {
            @apply
            scale-y-100
            translate-y-0
            opacity-100
            ;
          }
        }
      }
    }
  }
  &:hover {
    li {
      @apply
      scale-95
      ;
      &:hover {
        @apply
        scale-100
        ;
        > a, 
        > button, 
        > div {
          @apply
          opacity-100
          scale-100
          ;
          :where([class*=icon-rank]) {
            @apply
            scale-100
            ;
          }
          &::before,
          &::after {
            @apply
            scale-x-100
            opacity-100
            translate-x-0
            ;
          }
          > div {
            &::before {
              @apply
              scale-y-100
              translate-y-0
              opacity-50
              ;
            }
          }
          &:active {
            > div {
              > div {
                @apply
                opacity-75
                ;
              }
            }
          }
        }
      }
    }
  }
  :where([class*=icon-rank]) {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @apply
    relative
    ;
    &::after {
      @apply
      content-['']
      absolute
      inset-2
      rounded-full
      blur-sm
      opacity-10
      ;
    }
  }
  .icon-rank-bronze {
    &,
    &::after {
      @apply
      bg-bronze-500
      ;
    }  
  }
  .icon-rank-silver {
    &,
    &::after {
      @apply
      bg-silver-500
      ;
    }  
  }
  .icon-rank-gold {
    &,
    &::after {
      @apply
      bg-gold-500
      ;
    }  
  }
  .icon-rank-platinum {
    &,
    &::after {
      @apply
      bg-purple-500
      ;
    }  
  }
  .icon-rank-diamond {
    &,
    &::after {
      @apply
      bg-blue-500
      ;
    }  
  }
  li.tab-bronze {
    > a, 
    > button,
    > div {
      &::before,
      &::after {
        @apply
        bg-bronze-500
        ;
      }
    } 
  }
  li.tab-silver {
    > a, 
    > button,
    > div {
      &::before,
      &::after {
        @apply
        bg-silver-500
        ;
      }
    } 
  }
  li.tab-gold {
    > a, 
    > button,
    > div {
      &::before,
      &::after {
        @apply
        bg-gold-500
        ;
      }
    } 
  }
  li.tab-platinum {
    > a, 
    > button,
    > div {
      &::before,
      &::after {
        @apply
        bg-purple-500
        ;
      }
    } 
  }
  li.tab-diamond {
    > a, 
    > button,
    > div {
      &::before,
      &::after {
        @apply
        bg-blue-500
        ;
      }
    } 
  }
}

/* Tab button */

.tab {
  @apply
  relative
  inline-flex
  justify-center
  items-center
  cursor-pointer 
  text-ui-300
  select-none
  transition
  duration-300
  ease-in-out
  outline-offset-[-1px]
  focus-visible:rounded
  focus-visible:outline
  focus-visible:outline-1
  focus-visible:outline-main
  gap-2
  ;

  &:not([class*="pt-"]) {
    @apply
    pt-4
    ;
  }
  &:not([class*="pb-"]) {
    @apply
    pb-4
    ;
  }
  &:not([class*="px-"]) {
    @apply
    px-4
    ;
  }
  > span {
    @apply
    block
    ;
  }
  > span,
  > div {
    @apply
    transition
    ease-linear
    duration-[0s]
    ;
  }

  &.is-active,
  &:active,
  &:hover {
    @apply
    text-main
    ;
    &::after {
      @apply
      opacity-100
      scale-x-100
    
      ;
    }
  }

  &:active {
    > span,
    > div {
      @apply 
      translate-y-0.5
      ;
    }
  }

  &::before,
  &::after {
    @apply
    transition
    duration-300
    ease-[cubic-bezier(0.7,0,0.3,1)]
    ;
  }

  &::after {
    @apply
    content-['']
    absolute
    block
    h-1
    w-full
    bottom-0
    inset-x-0
    bg-main
    opacity-0
    scale-x-0
    ;
  }
}

.tab.tab-secondary {
  @apply
  font-body
  leading-none
  text-sm
  uppercase
  ;
}

.tab:not(.tab-secondary) {
  @apply
  leading-none
  ;
}

/* Tab premium */

.tab-premium {
  :where(a, button, .button) {
    @apply
    text-premium-500
    ;
    &::after {
      @apply
      bg-premium-500
      ;
    }
    &.is-active,
    &:active,
    &:hover {
      @apply
      text-premium-500
      ;
    }
  }
}

/* Shining */

.tab,
.tabs > li {
  &.is-shining {
    @apply
    relative
    overflow-hidden
    ;

    &::before {
      @apply
      content-['']
      absolute
      inset-0
      bg-[-200%]
      bg-[length:200%_auto]
      animate-[tab-shining-rays_5s_cubic-bezier(0.4,0,0.2,1)_infinite]
      bg-[linear-gradient(45deg,_rgba(255,255,255,0)_45%,_rgba(255,255,255,.3)_46%,_rgba(255,255,255,0)_55%,_rgba(255,255,255,0)_56%,_rgba(255,255,255,0)_70%,_rgba(255,255,255,.2)_71%,_rgba(255,255,255,0)_80%,_rgba(255,255,255,0)_81%)]
      bg-no-repeat
      ;
    }

    &::before {
      animation-delay: 300ms;
    }
  }
}

@keyframes tab-shining-rays {
  0%, 25% {
    background-position: -200%;
  }
  50%, 100% {
    background-position: 200%;
  }
}

/* tabs & button stretch */

.tabs > li > :where(a, button, .button), 
.tab.button {
  &.button-stretch,
  &.button-unstretch {
    @apply
    py-0
    ;
    > span {
      &.icon {
        @apply
        pb-1
        ;
      }
      &:not(.icon) {
        @apply
        pt-3
        pb-4
        ;
        > * {
          @apply
          translate-y-[110%]
          ;
        }
      }
    }
    &.is-active {
      > span {
        &:not(.icon) {
          > * {
            @apply
            translate-y-0
            ;
          }
        }
      }
    }
  }
}


/* tabs colored (game picker) */

.tabs {
  &.tabs-colored {
    --color: var(--color-main);
    > li {
      :where(a, button, .button) {
        @apply
        rounded-t
        border-t
        border-x
        border-main/0
        min-h-[45px]
        ;
        &::before {
          @apply 
          absolute
          z-10
          content-['']
          inset-0
          bg-ui-300
          transition-all
          duration-200
          ease-[cubic-bezier(.7,0,.3,1)]
          opacity-0
          scale-y-0
          translate-y-2
          rounded-t
          ;
        }
        &.is-active {
          @apply
          text-[rgb(var(--color)/var(--tw-text-opacity))]
          border-[rgb(var(--color)/var(--tw-border-opacity))]
          ;
          > span:not(.icon),
          > span.icon-present {
            @apply
            text-mono-100
            ;
          }
        }
        &.is-active,
        &:active,
        &:hover {
          &::before {
            @apply
            opacity-5
            scale-y-100
            translate-y-0
            duration-75
            ;
          }
          &::after {
            @apply
            bg-[rgb(var(--color)/var(--tw-bg-opacity))];
            ;
          }
        }
      }
    }
  }
}

.tabs-colored-shadow {
  @apply
  absolute
  inset-x-0
  bottom-0
  h-1
  bg-[rgb(var(--color)/var(--tw-bg-opacity))]
  shadow-[-1920px_0_rgb(var(--color)/100%),1920px_0_rgb(var(--color)/100%),0_-0.5rem_2rem_0_rgb(var(--color)/100%)]
  transition
  duration-1000
  ;

  /* &::before {
    @apply
    content-[""]
    absolute
    inset-x-0
    bottom-0
    h-20
    bg-gradient-to-t
    from-[rgb(var(--color)/20%)]
    to-[rgb(var(--color)/0%)]
    transition
    ease
    duration-1000
    ;
  } */
  @screen 3xl {
    @apply
    shadow-[-1920px_0_rgb(var(--color)/100%),1920px_0_rgb(var(--color)/100%),0_-0.5rem_2rem_0_rgb(var(--color)/75%)]
    ;
  }
  @screen 2xl {
    @apply
    shadow-[-1576px_0_rgb(var(--color)/100%),1576px_0_rgb(var(--color)/100%),0_-0.5rem_2rem_0_rgb(var(--color)/75%)]
    ;
  }
  @screen xl {
    @apply
    shadow-[-1280px_0_rgb(var(--color)/100%),1280px_0_rgb(var(--color)/100%),0_-0.5rem_2rem_0_rgb(var(--color)/75%)]
    ;
  }
  @screen lg {
    @apply
    shadow-[-1024px_0_rgb(var(--color)/100%),1024px_0_rgb(var(--color)/100%),0_-0.5rem_2rem_0_rgb(var(--color)/75%)]
    ;
  }
  @screen md {
    @apply
    shadow-[-768px_0_rgb(var(--color)/100%),768px_0_rgb(var(--color)/100%),0_-0.5rem_2rem_0_rgb(var(--color)/75%)]
    ;
  }
  @screen sm {
    @apply
    shadow-[-320px_0_rgb(var(--color)/100%),320px_0_rgb(var(--color)/100%),0_-0.5rem_2rem_0_rgb(var(--color)/75%)]
    ;
  }
  @media (max-width: theme('screens.sm')) {
    @apply
    shadow-[-320px_0_rgb(var(--color)/100%),320px_0_rgb(var(--color)/100%),0_-0.5rem_2rem_0_rgb(var(--color)/75%)]
    ;
  }
}