/*----------------------------*/
/* TEXT INPUTS */
/*----------------------------*/


input,
textarea {
  @apply
  text-ui-100
  placeholder:text-ui-300
  ;
}

/* form-group */

.form-group {
  > label {
    @apply
    block
    text-sm
    font-body
    uppercase
    text-ui-200
    font-bold
    mb-1
    ;
  }

  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  textarea,
  .input-text {
    @apply
    block
    ;
  }
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea,
.input-text {
  @apply
  w-full
  shadow-sm
  sm:text-sm
  bg-ui-700
  border
  border-ui-500
  rounded
  min-h-[2.5rem]
  focus-visible:outline
  focus-visible:outline-1
  focus-visible:outline-ui-300
  py-1.5
  px-2
  ;
}

/* input-group */

.input-group {
  @apply
  rounded
  flex
  relative
  ;
  > div:not(.icon),
  > span:not(.icon) {
    @apply
    inline-flex
    items-center
    px-3
    rounded-l-md
    border
    border-r-0
    border-ui-500
    bg-ui-500/75
    text-ui-200
    text-sm
    ;

    ~ input {
      @apply
      rounded-none
      rounded-r
      ;
    }
  }

  /* icon */

  > .icon {
    @apply
    absolute
    text-0
    bottom-[calc(50%-9px)]
    left-2.5
    text-lg
    text-ui-300
    ;

    ~ input {
      @apply
      pl-9
      ;
    }

    &.icon-right {
      @apply
      right-2.5
      left-auto
      ;

      ~ input {
        @apply
        pl-2.5
        pr-9
        ;
      }
    }
  }
}

/* validation */

.form-group {
  &[data-error],
  &[data-success],
  &[data-attention] {
    &::after {
      @apply
      block
      text-sm
      mt-1
      ;
    }
  }
  &[data-error] {
    &::after {
      @apply
      content-[attr(data-error)]
      text-error-500
      ;
    }
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    textarea,
    .input-text {
      @apply
      border-error-700
      focus-visible:outline-error-500
      ;
    }
    .icon {
      @apply
      text-error-500
      ;
    }
  }
  &[data-success] {
    &::after {
      @apply
      content-[attr(data-success)]
      text-success-500
      ;
    }
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    textarea,
    .input-text {
      @apply
      border-success-700
      focus-visible:outline-success-500
      ;
    }
     .icon {
      @apply
      text-success-500
      ;
    }
  }
  &[data-attention] {
    &::after {
      @apply
      content-[attr(data-attention)]
      text-attention-500
      ;
    }
    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    textarea,
    .input-text {
      @apply
      border-attention-700
      focus-visible:outline-attention-500
      ;
    }
     .icon {
      @apply
      text-attention-500
      ;
    }
  }


  /* loading */

  &.is-loading {
    @apply
    relative
    ;
  }

  &.is-loading {

    &::after {
      @apply
      content-['']
      absolute
      h-6
      w-6
      block
      border-2
      border-ui-800
      border-l-ui-300
      opacity-100
      rounded-full
      mx-auto
      bottom-[0.5rem]
      right-2.5
      ;
      animation: input-loader-rotate 1s linear infinite;
    }

    .icon.icon-right {
      @apply
      opacity-0
      ;
    }

    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    textarea,
    .input-text {
      @apply
      pr-10
      ;
    }
  }
}

@keyframes input-loader-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}