/*----------------------------*/
/* TOAST */
/*----------------------------*/

.toast-container {
  @apply
  fixed
  bottom-4
  right-4
  lg:bottom-8
  lg:right-8
  flex
  flex-col-reverse
  items-end
  pointer-events-none
  ;
  z-index: 1000;

  > * {
    @apply
    pointer-events-auto
    ;
  }

  .toast {
    @apply
    animate-slide-in-bottom
    ;
  }
}

.toast {
  @apply
  flex
  items-start
  p-2
  mb-1
  gap-3
  w-full
  max-w-xs
  text-ui-200
  bg-ui-600
  border
  border-ui-500
  rounded-lg
  shadow
  leading-tight
  ;

  > div {
    @apply
    flex-1
    ;
  }

  .toast-title {
    @apply
    font-bold
    uppercase
    mb-0.5
    ;
  }
  
  .toast-text {
    &:not(:last-child) {
      @apply
      mb-2
      ;
    }
  }

  a {
    @apply
    underline
    active:no-underline
    outline-offset-2
    focus-visible:outline
    focus-visible:outline-main
    transition-[color,background,transform,opacity]
    duration-200
    ease-in-out
    ;
  }

  > .button-close:last-child {
    @apply
    -mt-1
    -mr-1
    ;
  }

  &.toast-sm {
    @apply
    items-center
    text-sm
    p-2
    gap-2
    ;
    > .icon {
      @apply
      text-lg
      ;
    }
    > .button-close:last-child {
      @apply
      -my-1
      ;
    }
  }

  &:where(.toast-green, .toast-blue, .toast-orange, .toast-red) {
    @apply
    border-0
    ;
    &,
    > * .icon,
    .toast-title {
      @apply
      text-ui-800
      ;
    }
    .button:not(.button-close) {
      @apply
      !bg-ui-800
      !text-ui-100
    }
  }

  &.toast-green {
    @apply
    bg-success-500
    ;
  }
  &.toast-blue {
    @apply
    bg-blue-500
    ;
    
  }
  &.toast-orange {
    @apply
    bg-attention-300
    ;
    
  }
  &.toast-red {
    @apply
    bg-error-300
    ;
  }
}