/*----------------------------*/
/* TOOLTIP */
/*----------------------------*/


:where(.tooltip, [data-tooltip]) {
  @apply
  relative
  cursor-pointer
  ;

  &:hover {
    @apply
    z-50
    ;
  }

  &::after,
  > blockquote {
    @apply
    bg-ui-600/95
    rounded
    transition
    duration-200
    ease-in-out
    absolute
    backdrop-blur-sm
    transform-gpu
    z-50
    opacity-0
    font-normal
    text-sm
  }

  &:not([data-tooltip]) {
    > blockquote {
      @apply
      max-w-[16rem]
      w-full
      bottom-[100%]
      -translate-x-[calc(16rem/2)]
      translate-y-0.5
      ;
    }

    > *:hover {
      ~ blockquote {
        @apply
        opacity-100
        -translate-y-0.5
        ;
      }
    }
  }

  &[data-tooltip] {
    &::after {
      @apply
      content-[attr(data-tooltip)]
      text-ui-200
      font-body
      font-normal
      text-sm
      block
      left-[50%]
      bottom-[100%]
      py-2
      px-3
      pointer-events-none
      leading-tight
      -translate-x-[50%]
      translate-y-0.5
      max-w-[20rem]
      w-[max-content]
      ;
    }

    &:hover {
      &::after {
        @apply
        opacity-100
        -translate-y-0.5
        ;
      }
    }

    /* position */

    &.tooltip-top {
      &::after {
        @apply
        left-[50%]
        bottom-[100%]
        translate-y-0.5
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-y-0.5
          ;
        }
      }
    }
    &.tooltip-right {
      &::after {
        @apply
        bottom-[50%]
        left-[100%]
        -translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-x-1
          ;
        }
      }
    }
    &.tooltip-left {
      &::after {
        @apply
        bottom-[50%]
        right-[100%]
        left-auto
        translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-x-1
          ;
        }
      }
    }
    &.tooltip-bottom {
      &::after {
        @apply
        bottom-auto
        top-[100%]
        -translate-y-1
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-y-1
          ;
        }
      }
    }
  }
}

/* large tooltip */

.tooltip-lg {
  @apply
  bg-ui-600/95
  rounded
  backdrop-blur-sm
  transform-gpu
  p-3
  transition-all
  duration-200
  ease-in-out
  opacity-0
  ;

  &.is-active {
    @apply
    opacity-100
    ;
  }

  &.tooltip-bottom {
    @apply
    -translate-y-1
    opacity-0
    ;
    &.is-active {
      @apply
      animate-[tooltip-bottom_200ms_ease-in-out_forwards];
    }
  }
  &.tooltip-top {
    @apply
    translate-y-1
    opacity-0
    ;
    &.is-active {
      @apply
      animate-[tooltip-top_200ms_ease-in-out_forwards];
    }
  }
}
@keyframes tooltip-bottom {
  from {
    transform: translateY(-0.25rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes tooltip-top {
  from {
    transform: translateY(0.25rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


/* responsive positioning */

@media only screen and (min-width: 640px) {
	.tooltip[data-tooltip] {
    &.sm\:tooltip-top {
      &::after {
        @apply
        left-[50%]
        bottom-[100%]
        translate-y-0.5
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-y-0.5
          ;
        }
      }
    }
    &.sm\:tooltip-right {
      &::after {
        @apply
        bottom-[50%]
        left-[100%]
        -translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-x-1
          ;
        }
      }
    }
    &.sm\:tooltip-left {
      &::after {
        @apply
        bottom-[50%]
        right-[100%]
        left-auto
        translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-x-1
          ;
        }
      }
    }
    &.sm\:tooltip-bottom {
      &::after {
        @apply
        bottom-auto
        top-[100%]
        -translate-y-1
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-y-1
          ;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
	.tooltip[data-tooltip] {
    &.md\:tooltip-top {
      &::after {
        @apply
        left-[50%]
        bottom-[100%]
        translate-y-0.5
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-y-0.5
          ;
        }
      }
    }
    &.md\:tooltip-right {
      &::after {
        @apply
        bottom-[50%]
        left-[100%]
        -translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-x-1
          ;
        }
      }
    }
    &.md\:tooltip-left {
      &::after {
        @apply
        bottom-[50%]
        right-[100%]
        left-auto
        translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-x-1
          ;
        }
      }
    }
    &.md\:tooltip-bottom {
      &::after {
        @apply
        bottom-auto
        top-[100%]
        -translate-y-1
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-y-1
          ;
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
	.tooltip[data-tooltip] {
    &.lg\:tooltip-top {
      &::after {
        @apply
        left-[50%]
        bottom-[100%]
        translate-y-0.5
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-y-0.5
          ;
        }
      }
    }
    &.lg\:tooltip-right {
      &::after {
        @apply
        bottom-[50%]
        left-[100%]
        -translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-x-1
          ;
        }
      }
    }
    &.lg\:tooltip-left {
      &::after {
        @apply
        bottom-[50%]
        right-[100%]
        left-auto
        translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-x-1
          ;
        }
      }
    }
    &.lg\:tooltip-bottom {
      &::after {
        @apply
        bottom-auto
        top-[100%]
        -translate-y-1
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-y-1
          ;
        }
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
	.tooltip[data-tooltip] {
    &.xl\:tooltip-top {
      &::after {
        @apply
        left-[50%]
        bottom-[100%]
        translate-y-0.5
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-y-0.5
          ;
        }
      }
    }
    &.xl\:tooltip-right {
      &::after {
        @apply
        bottom-[50%]
        left-[100%]
        -translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-x-1
          ;
        }
      }
    }
    &.xl\:tooltip-left {
      &::after {
        @apply
        bottom-[50%]
        right-[100%]
        left-auto
        translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-x-1
          ;
        }
      }
    }
    &.xl\:tooltip-bottom {
      &::after {
        @apply
        bottom-auto
        top-[100%]
        -translate-y-1
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-y-1
          ;
        }
      }
    }
  }
}