/*----------------------------*/
/* TOOLTIP */
/*----------------------------*/


.tooltip {
  @apply
  relative
  cursor-pointer
  ;

  &:hover {
    @apply
    z-50
    ;
  }

  &::after,
  > blockquote {
    @apply
    bg-ui-900/90
    rounded
    transition
    duration-200
    ease-in-out
    absolute
    backdrop-blur-sm
    transform-gpu
    z-50
    opacity-0
    normal-case
    font-normal
    text-sm
  }

  &:not([data-tooltip]) {
    > blockquote {
      @apply
      max-w-[16rem]
      w-full
      bottom-[100%]
      -translate-x-[calc(16rem/2)]
      translate-y-0.5
      ;
    }

    > *:hover {
      ~ blockquote {
        @apply
        opacity-100
        -translate-y-0.5
        ;
      }
    }
  }

  &[data-tooltip] {
    &::after {
      @apply
      content-[attr(data-tooltip)]
      text-ui-200
      text-sm
      block
      left-[50%]
      bottom-[100%]
      max-w-xs
      py-2
      px-3
      pointer-events-none
      text-ellipsis
      whitespace-pre
      leading-none
      -translate-x-[50%]
      translate-y-0.5
      ;
    }

    &:hover {
      &::after {
        @apply
        opacity-100
        -translate-y-0.5
        ;
      }
    }

    &.tooltip-right {
      &::after {
        @apply
        bottom-[50%]
        left-[100%]
        -translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-x-1
          ;
        }
      }
    }

    /* direction */
    &.tooltip-left {
      &::after {
        @apply
        bottom-[50%]
        right-[100%]
        left-auto
        translate-x-1
        translate-y-[50%]
        ;
      }
      &:hover {
        &::after {
          @apply
          -translate-x-1
          ;
        }
      }
    }
    &.tooltip-bottom {
      &::after {
        @apply
        bottom-auto
        top-[100%]
        -translate-y-1
        ;
      }
      &:hover {
        &::after {
          @apply
          translate-y-1
          ;
        }
      }
    }
  }
}