/*----------------------------*/
/* TYPOGRAPHY */
/*----------------------------*/

body {
  @apply font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  @apply
  font-headings
  tracking-wide
  leading-tight	
  ;
}

h1,
.h1 {
  @apply
  text-4xl
  md:text-5xl
  italic
  ;
}

h2,
.h2 {
  @apply
  text-3xl
  md:text-4xl
  italic
  ;
}

h3,
.h3 {
  @apply
  text-2xl
  md:text-3xl
  italic
  ;
}

h4,
.h4 {
  @apply
  text-xl
  md:text-2xl
  italic
  ;
}

h5,
.h5 {
  @apply
  uppercase
  font-bold
  text-xl
  ;
}

h6,
.h6 {
  @apply
  uppercase
  font-bold
  ;
}


.font-headings {
  @apply
  tracking-wide
  ;
}

.link {
  @apply
  cursor-pointer
  text-interaction-500
  hover:text-interaction-700
  underline
  transition
  duration-75

  active:text-interaction-300
  ;
}

code {
  @apply
  px-2
  py-1
  bg-ui-600
  rounded
  border
  border-ui-500
  text-sm
  inline-block
  mx-1
  leading-none
  ;
}